[2020-02-03 15:07] igroost commented on #1488
@pqarmitage Yes, on a machine with keepalived there is really no IPv6 connectivity because we refused to use IPv6 VIP, and forgot to remove it from the configuration. After I removed the IPv6 configuration, the TCP socket bind failed. Rescheduling. messages disappeared.

As I understand it, because after running the keepalived check, the ENETUNREACH status returned because it is processed by the c

[2020-02-03 16:09] pqarmitage commented on #1488
@igroost Many apologies, when commenting above on how the code works, I was describing the behaviour of the current code, not of v2.0.0 which I now see you are using.

**CURRENT BEHAVIOUR OF CODE**
I don't think your understanding is quite correct. ENETUNREACH is one of the errors that does NOT result in "TCP socket bind failed". ENETUNREACH will result in the check being considered to have failed

[2020-02-03 18:14] pqarmitage commented on #1364
@e-pirate I have no changed the default behaviour of the auto increment priority so that it is disabled by default, and to turn it on you wil need to add `max_auto_priority` to the global_defs section if you are using the very latest code.

[2020-02-04 07:28] igroost commented on #1488
@pqarmitage Thank you very much for the detailed explanation. Now I understand why we see this behavior. We plan to update to version 2.0.20. I think the ticket can be closed.

[2020-02-04 08:36] #1488 closed

[2020-02-04 10:35] e-pirate commented on #1364
@pqarmitage I will build 2.0.20 with all of --enable* stuff needed, run and come back to you as soon as I get any valuable results. This will take some time.

[2020-02-04 11:45] pqarmitage commented on #1364
@e-pirate Could you fetch the tarball with `wget https://github.com/acassen/keepalived/tarball/4f5225c -O keepalived-v2.0.20-g4f5225c.tar.gz` and build that version. This is needed in order to get the --enable-script-debug functionality.

Also, you will need to add `max_auto_priority` to the global_defs section of your config.

If downloading the tarball above causes a problem, I can upload one to

[2020-02-05 05:40] e-pirate commented on #1364
@pqarmitage I'm able to get the tar.gz. I will build it, add `max_auto priority` and return to you ASAP.

[2020-02-10 10:45] libesz opened #1495 "New healthchecker for real_server: local file existence / absence"
**Is your feature request to resolve a problem or provide enhanced functionality? Please describe.**
This is an enhanced functionality to resolve a scalability problem.
The requested feature is a new real_server healthchecker, which is checking if a file exists in a configured path, or not. The fact that the file exists, would represent the real_server state. This assumes that an external process

[2020-02-10 13:32] e-pirate commented on #1364
@pqarmitage I just got some time to get my hands on 2.0.20-plus (as I call it). It seems that any directory name except packagename-version (keepalived-2.0.20 in that case) brakes our building system, so I have to repack it. The other thing I was not able to fix myself is the fallowing:
[code]

[2020-02-10 14:06] pqarmitage commented on #1364
@e-pirate You need the configure option `--enable-dump-threads` to resolve the undefined reference to `dump_thread_data`.

[2020-02-10 14:33] pqarmitage commented on #1495
@libesz Rather than the presence or absence of a file, would it work for you if the file contained a number, so the the value could be used for weighting purposes?

My thought is this could work in the same way as `vrrp_track_file`, and so we would already have most of the code in keepalived, and more importantly already tested. The code for `vrrp_track_file` uses `inotify()`, and so there is no p

[2020-02-10 15:02] libesz commented on #1495
@pqarmitage Thanks for the fast feedback! I was not familiar with `vrrp_track_file` and TBH using only weight 0 (disabled real_server) and 1 (enabled real_server) for my use-case. 😄 Anyway, I would happily change my external healthcheck process to write 0 or 1 into the files, instead of creating and deleting them if FILE_CHECK will be implemented.

[2020-02-10 15:04] libesz commented on #1495
One question though. Will the (initial?) absence of the file be treated as 0 weight?

[2020-02-10 15:39] pqarmitage commented on #1495
Looking at the code for vrrp_track_file, there is a comment `/* The file has disappeared. Treat as though the value is 0 */` so currently, yes, the absence of the file is treated as if the file existed and had weight 0. However, `vrrp_track_file` has an option `init_file [VALUE] [overwrite]` which causes an initial value to be written to the file if it doesn't exist, or if `overwrite` is specified

[2020-02-11 03:55] Mint-M opened #1497 "typo in keepalived.spec.in"
**Describe the bug**
'make rpm' would result build failure.

**To Reproduce**
Any steps necessary to reproduce the behaviour:
Building RPM package with the latest source code.

I'm afraid that 'Require' in line 38 and line 39 of keepalived.spec.in should be replace with 'Requires'.

make[4]: Entering directory '/root/keepalived-master'
make[4]: Leaving directory '/root/keepalived-master'
test -n "

[2020-02-11 08:04] pqarmitage commented on #1497
Many thanks for reporting this. Commit 0f99f34 resolves the issue.

[2020-02-11 08:04] #1497 closed

[2020-02-11 09:06] libesz commented on #1495
I see. I will catch up with any logic when available. And of course I can make sure the files will be all there with a valid value before keepalived is spawned (feels better to not ask keepalived as well to (over)write the same files). Just wanted to double-check.
👍

[2020-02-11 13:42] szpajder commented on #1492
Same thing here, but on Debian Buster under VMWare, with vmxnet3.

Buster comes with keepalived 2.0.10 and it also hit me with https://github.com/acassen/keepalived/issues/1083 , so I upgraded to 2.0.19 yesterday and then found this issue, which I also observed on 2.0.10 a few times. Let's see if it makes any difference. If it doesn't, I'll try to dig into it a bit more (didn't have time so far).

[2020-02-11 15:05] pqarmitage commented on #1492
I am currently working on a patch to limit the size of the stack and heap, due to what was reported at https://groups.io/g/keepalived-users/topic/69939621#80 . I will also work on a patch to limit CPU utilisation, but in the mean time if you set `vrrp_rt_priority` and/or `checker_rt_priority` and/or `bfd_rt_priority` to 1 (depending on which keepalived process is using 100% CPU), then the CPU util

[2020-02-12 08:30] e-pirate commented on #1364
@pqarmitage Now I'm trying to build the source with extra script debug and having this configuration error:
[code]

[2020-02-12 11:04] pqarmitage commented on #1364
e-pirate - The configure option should be `--enable-epoll-debug` (ie. hyphens rather than underscores); and yes, we do need the option. Likewise it should be `--enable-epoll-thread-dump`. Many apologies for giving the wrong information earlier (in the configure script the variables use underscores, but the configure options use hyphens).

[2020-02-12 15:00] e-pirate commented on #1364
@pqarmitage I just copy-pasted from you message: [here](https://github.com/acassen/keepalived/issues/1364#issuecomment-581163406) , but yes, I should guess myself.

[2020-02-12 15:18] e-pirate commented on #1364
Got it. Now I see this:
[code]

[2020-02-12 16:52] pqarmitage commented on #1364
The output above is part of a thread dump, which we want to see if we get a child lost message. What was in the log a few lines before the thread dump?

Just to clarify, the configure options we want are `--enable-script-debug --enable-thread-dump --enable-epoll-debug --enable-epoll-thread-dump`, although it doesn't really matter if the last two aren't enabled - it just means more debugging can be

[2020-02-13 12:14] e-pirate commented on #1364
@pqarmitage My current config options are `--enable-script-debug --enable-dump-threads --enable-epoll-thread-dump` and I have changed debug options to '--debug=Vv' as you suggested. Now log looks less flooded and more familiar to me. I will keep on watching.

[2020-02-16 08:40] Nurlan199206 opened #1501 "Keepalived have web UI ?"
Any WEB UI for keepalived?

[2020-02-17 09:15] libesz commented on #1495
@pqarmitage Is there anything I can help with this?

[2020-02-17 15:59] pqarmitage commented on #1501
No there isn't a Web UI for keepalived. keepalived does have SNMP support, so it would be possible to use an SNMP base network monitoring tool with a web interface to view the status of keeaplived.

There are many open source SNMP packages available, so of which are listed at https://opensource.com/article/19/2/network-monitoring-tools, although I haven't tried any of them.

[2020-02-17 15:59] #1501 closed

[2020-02-18 10:12] m3rlinux opened #1502 "Algebric operation with variable substitution"
**The request provide enhanced functionality**
Into a sequence and/or variable substitution section it would be nice can change variable value by algebric operations.

**The solution...**
$IP2=${IP1}+1

**Keepalived version**
Keepalived v2.0.10 (11/12,2018)

Copyright(C) 2001-2018 Alexandre Cassen, <acassen@gmail.com>

Built with kernel headers for Linux 4.18.0
Running on Linux 4.18.0-147.5.1.el8_

[2020-02-18 17:08] pqarmitage commented on #1502
@m3rlinux I have thought about this idea before, but what has stopped me doing anything in the past is how far do we go with arithmetic operators?

If we have **+**, should we have **-**, **\***, **/**? and then what about **++**, **--**, **%**, **<<**, **>>**, and what about bitwise logical operators, **if** conditions, and compound conditions?

If there is a demand for this from a number of user

[2020-02-19 10:42] e-pirate commented on #1364
@pqarmitage is there is any specific string a can grep for to see max_auto_priority activity in logs?

[2020-02-19 12:02] pqarmitage commented on #1364
In function increment_process_priority() it logs "Set realtime priority". I suspect that is what you want to look for.

If you want to see the realtime priority of a process, parameter 40 in the contents of /proc/PID/stat gives it (it is the keepalived vrrp child process that you need the PID for).

[2020-02-19 14:21] ak503 opened #1503 "[question] same network for VIP and physical IP with use_vmac"
Hello!
I have next vrrp conf:

interface:
`
ethernet0: 192.168.1.1/24
`
vrrp:
[code]

On client with ip `192.168.1.2/24` i have:
[code]

`ping 192.168.1.1` is ok, but `ping 192.168.1.100` is not go

How i can use vmac and same network for VIP and physical IP?

[2020-02-20 09:58] e-pirate commented on #1364
@pqarmitage I see messages like this:
[code]
and they seem to correspond to snapshoting activity with extensive disk load. But no losts so far. Keep on watching.

[2020-02-20 10:50] #1503 closed

[2020-02-20 14:51] m3rlinux commented on #866
I solved it by modifying the two script as belove:

**check_keepalived_vrrp.pl**
[code]

**check_keepalived_ipvs.pl**
[code]

[2020-02-20 16:07] pqarmitage commented on #866
@m3rlinux Many thanks for the info. Those files are not part of the keepalived project, but appear to be part of a Nagios plugin hosted at https://github.com/alaskacommunications/nagios_check_keepalive.

It would be really helpful if you could submit a patch to the above project.

[2020-02-21 07:37] ak503 commented on #1503
problem was in virtual mashine

[2020-02-24 16:49] VasumathyJ opened #1506 "Clear the statistics for VRRP"
I started using keepalived recently. I can send the STATS signal to dump the statistics data for VRRP.
I can see the values of stats counters such as AdvertiseRcvd in the json format.
I want to be able to clear the stats counters - i thought that sending a SIGHUP to keepalived will clear the counters.
However SIGHUP seems to be only reloading the config.
Is there any way by which I can clear the e

[2020-02-24 17:49] pqarmitage commented on #1506
I think the best way to do this is a configuration option to clear the stats after they are dumped.

@VasumathyJ Would that work for you?

[2020-02-25 02:21] VasumathyJ commented on #1506
It would be better if the option can clear the stats on demand - we will not always want the stats to be cleared after it is dumped.
Thanks, I will wait for the feature to be included in a subsequent release.

[2020-02-25 08:01] pqarmitage commented on #1506
The problem with clearing the stats on demand is that there will be a window between reading the stats and clearing the stats, and any event recorded in the stats during that window will be lost.

Could you please describe in more detail what you are wanting to achieve, so that we can what is the best way to implement a solution for your needs that is also generally useful to other users.

[2020-02-25 10:02] VasumathyJ commented on #1506
Hi Quentin,
We are enabling VRRP on two of our routers so that they act as a redundant pair for downstream clients.In general our product provides the ability to view current statistics on all interfaces and also an ability to clear the ststs counters on all interfaces.
VRRP is a new feature that we are adding on our interfaces now. To adhere with our product guidelines, we need an ability to dump

[2020-02-25 10:54] VasumathyJ opened #1507 "arp issues - arp_proxy and arp_proxy_pvlan"
This is not a bug report. Just a request to document additional linux kernel parameters which can cause well known arp issues.

https://www.keepalived.org/doc/software_design.html
We had reviewed all the arp related params mentioned in above link.
I also saw that the code modifies these params as mentioned in the comments in vrrp_if_config.c file

However even after reviewing all those params we s

[2020-02-25 18:08] pqarmitage commented on #1507
I assume you mean proxy_arp and proxy_arp_pvlan.

In order to be able to add something meaningful to the documentation, can you please describe the scenario that means that it is necessary to set these parameters to 0, since in most cases it is not necessary. In particular, I am not clear why the slave is sending an ARP response for an IP address that it hasn't got configured.

[2020-02-26 10:37] pqarmitage commented on #1495
@libesz I am working on this now. I hope to have something in the next few days.

[2020-02-26 11:49] libesz commented on #1495
Thank you very much! I am all for testing it when becomes available.

[2020-02-26 16:43] VasumathyJ commented on #1507
Hi Quentin,
Proxy ARP is a technique by which a proxy device on a given network answers the ARP queries for an IP address that is not on that network. The proxy is aware of the location of the traffic's destination, and offers its own MAC address as the (ostensibly final) destination.

On my interface proxy arp was enabled, hence the slave also responded to the arp request.
Regards,Vasumathy

Sent

[2020-02-27 08:45] rozmanro1 opened #1510 "Large Failover transition delay (few minutes!) - when using vmac"
Hi all,
I'm using a custom built linux kernel , built by using Buildroot.
kernel version -  4.19.19
keepalived version - 2.0.15

**My keepalived setup:**

Device_A|-------->|SWITCH|<--------|Device_B|
And |PC| connected to the SWITCH pinging the virtual VRRP address.
NO physical connection between the devices.
Device_A: 10.0.254.20
Device_B: 10.0.254.30
VIP: 10.0.254.3
LAN PC: 10.0.254.100

Device

[2020-02-27 11:53] pqarmitage commented on #1510
Changing the sysctl parameters shouldn't be necessary - keepalived sets what is needed itself - see vrrp_if_config.c. If any of your sysctl parameters (especially in /proc/sys/net/all) conflict with the settings in vrrp_if_config.c that could indicate a problem. If you have some unusual settings in /proc/sys/net/all that could cause a problem, but I don't see why it should suddenly start working a

[2020-03-02 02:38] Redfisky opened #1512 "VRRP password is stored in clear text, can it be encrypted?"
**Describe the issue**
In VRRP authentication configuration,  for example: `auth_type PASS` `auth_pass xxxxx(password)`, the password is stored in plaintext, any method to improve security or adding encryption mechanism?

**To Reproduce**
When configuring `keepalived.conf` VRRP parameters.

**Expected behavior**
Password is encrypted thus make it safer.

**Keepalived version**
v2.0.19

**Details o

[2020-03-02 11:37] pqarmitage commented on #1512
@Redfisky Please see RFC 3768 (the updated VRRPv2 RFC) section 5.3.6:
[code]

and also see RFC 5798 (the current VRRP RFC) section 9 and RFC 3768 (the updated VRRPv2 RFC) section 10:
[code]

We maintain authentication for backward compatibility with the original version of VRRPv2. However, since authentication is not supported in VRRPv3 and is no longer part of VRRPv2 and is not considered to prov

[2020-03-02 12:29] Redfisky commented on #1512
Thank you for reply.

[2020-03-02 14:10] #1512 closed

[2020-03-03 06:38] chenwng opened #1513 "Cannot change instance name at a reload - please restart"
**Describe the bug**

Hi,

When keepalived is running and the config file is truncated and keepalived is notified by HUP to reload,  `Cannot change instance name at a reload - please restart` is reported. And after this,  even with the original config file, keepalived cannot be reloaded and still reports the same error.

I understand an empty config file may not be a valid scenario. But during deb

[2020-03-03 08:13] pqarmitage commented on #1513
@chenwng Many thanks for reporting this. Commit 13d1b2d implements your suggested change, and makes the same changes for net_namespace and nftables table name which had the same problems.

[2020-03-03 08:13] #1513 closed

[2020-03-03 08:23] chenwng commented on #1513
Thanks!

[2020-03-03 11:51] mahomedh commented on #1266
Hi. Was there ever any response to this? Still appears to be an issue on `Ubuntu 19.10` with `Keepalived v2.0.20`

[2020-03-04 02:00] rsparulek opened #1515 "Keepalived noprempt option does not function as expected and fails over to main master after master comes up"
**Describe the bug**
Keepalived noprempt option does not function as expected and fails over to main master after master comes up. I have 3 master setup and keepalived running and all 3 masters have state as BACKUP and main master has priority as 101 and other 2 masters have priority 100. I also use the noprempt option. We see that when the VIP is present on the main master and main master goes do

[2020-03-04 11:56] stintel opened #1516 "keepalived >=2.0.19 does not build with --disable-lvs and --disable-libipset-dynamic"
**Describe the bug**
keepalived >=2.0.19 does not build with --disable-lvs and --disable-libipset-dynamic

**To Reproduce**
./configure --disable-lvs --disable-libipset-dynamic
make

**Expected behavior**
keepalived builds

**Observed behavior**
[code]

**Keepalived version**
N/A

**Distro (please complete the following information):**
 - Name: OpenWrt
 - Version: master
 - Architecture: x86/64, m

[2020-03-04 12:28] pqarmitage commented on #1516
Many thanks for reporting this. Commit 42c020a resolves the issue (it was checking for an incorrect define generated by configure).

The patch appears to apply cleanly to v2.0.19.

[2020-03-04 12:28] #1516 closed

[2020-03-04 17:36] rsparulek commented on #1515
@pqarmitage Any pointers on this issue will be great. We are hitting this issue consistently on our keepalived setup with 3 masters causing a brief outage after the second failover happens (inspite of we setting noprempt option in our vrrp config)

[2020-03-04 19:13] pqarmitage commented on #1515
I have tested this with the latest version of keepalived (v2.0.20 + all subsequent commits) and I do not observe the problem you have reported.

There is one problem that I observe and that is that the two "backup" systems both have the same VRRP priority. This means that when the high priority instance goes down, both "backup" systems take over as master, and then one of them (the one with the lo

[2020-03-04 19:38] rsparulek commented on #1515
@pqarmitage Thanks for your inputs. Could you share the VRRP configuration you are using ? Also, do we have the rpm available for the keepalived 2.0.20 version; I could find rpms only for 2.0.7 online; could you point me to the 2.0.20 rpm ?

[2020-03-04 20:05] pqarmitage commented on #1515
The VRRP configuration I was using was the one you provided above, with two of the 3 systems have the VRRP priority changed to 100.

I don't have an RPM available; you will need to build keepalived from the source. You could download [the Fedora source rpm for v2.0.20](https://kojipkgs.fedoraproject.org//packages/keepalived/2.0.20/3.fc33/src/keepalived-2.0.20-3.fc33.src.rpm) and use that to build

[2020-03-04 21:04] rsparulek commented on #1515
@pqarmitage When you said you tried to reproduce on 2.0.7 on a 3 node setup; did your main master node with the highest priority also have the highest IP address of all the 3 nodes. In my setup; my main master with the highest priority also has the highest IP address; I am assuming in my case; keepalived breaks the tie using the highest IP address and hence causes a switchover of the VIP back to t

[2020-03-05 09:37] pqarmitage commented on #1515
My understanding is that you have one vrrp instance with priority 101 and the other two instances with priority 100. If that is the situation, then the IP address of the instance with priority 101 is not important.

The only time when which IP address is higher is relevant is when two (or more) instances have become master and they all have the same priority. The IP address is then used as a tie b

[2020-03-05 15:07] rsparulek commented on #1515
@pqarmitage makes sense. Did you get a chance to take a look at the VRRP logs I posted above; I always see a "forcing new election" log line in the logs of the highest priority master which snatches the VIP once it comes back up even when we have a noprempt option. Is that log line an expected behaviour with noprempt option enabled?

[code]

[2020-03-05 16:25] m3rlinux commented on #866
@pqarmitage done ;)

[2020-03-05 17:00] m3rlinux commented on #1502
Yeah! I'm trying to use **~SEQ()** block. It would be nice to insert variable into ~SEQ() block like this

[code]
Is there another way to achieve something like this

Any suggestions would be greatly appreciated.

[2020-03-05 17:42] pqarmitage commented on #1515
The interesting log line is:
`Mar  3 15:07:53 cscale-82-163 Keepalived_vrrp[2370]: (VI_1) ip address associated with VRID 97 not present in MASTER advert : 10.9.93.101`

This means that your configurations do not match on your three systems, in particular you do not have 10.9.93.101 listed in the `virtual_ipaddress` block of the lower priority system that becomes master. As a consequence, when the

[2020-03-05 18:00] rsparulek commented on #1515
@pqarmitage I have exact same VIPs on all 3 nodes:

[code]

[code]

[code]

[2020-03-05 18:21] pqarmitage commented on #1502
I agree that being able to use a variable for the limits of a ~SEQ block would be sensible; I don't know why I hadn't thought of that before.

I will have a look to see if that is achievable.

[2020-03-05 21:11] pqarmitage commented on #1515
@rsparulek As I wrote above, the problem is indicated by the log entries which say:
`Mar  3 15:07:53 cscale-82-163 Keepalived_vrrp[2370]: (VI_1) ip address associated with VRID 97 not present in MASTER advert : 10.9.93.101`

This means that the adverts received on cscale-82-163 do not contain the address 10.9.93.101. As a consequence of this the adverts are discarded by keepalived on cscale-82-163

[2020-03-05 21:14] pqarmitage commented on #1510
@rozmanro1 Do you have any update on this?

[2020-03-06 05:36] rsparulek commented on #1515
[capture.txt](https://github.com/acassen/keepalived/files/4296607/capture.txt)
[keepalived.data.139.txt](https://github.com/acassen/keepalived/files/4296608/keepalived.data.139.txt)
[keepalived.data.140.txt](https://github.com/acassen/keepalived/files/4296609/keepalived.data.140.txt)
[keepalived.data.163.txt](https://github.com/acassen/keepalived/files/4296610/keepalived.data.163.txt)

@pqarmitage

[2020-03-06 10:45] pqarmitage commented on #1515
@rsparulek  You STILL have cscale-82-139 and cscale-82-140 having the same VRRP priority, i.e. 95. This will not work properly since when keepalived on cscale-82-163 stops, both cscale-82-139 and cscale-82-140 will become master at the same time, and then one will subsequently have to revert to backup. There is not much point in continuing with this issue until the VRRP instances on all 3 systems

[2020-03-06 15:33] pqarmitage commented on #1502
Commit 938211c adds the ability to use variables in a ~SEQ block. I have also added ~SEQx so that the variable can be formatted in hex - useful for IPv6 addresses.

[2020-03-06 15:34] pqarmitage commented on #1364
@e-pirate Do you have any update on this?

[2020-03-06 16:02] m3rlinux commented on #1502
Great! I'm exited to hear it! Many, many thanks!
What about this configuration error?

[code]

The error is:

[code]

The same error  changing
`$ASEQ $RS \`
with
`~SEQ(RSHOST,211,213) $RS \`

[2020-03-06 17:08] m3rlinux commented on #1502
@pqarmitage meantime I found an alternative like belowe (just in case...)

[code]

[2020-03-06 17:56] pqarmitage commented on #1502
Yes, `~SEQ(HOST,202,202) ~SEQ(RSHOST,211,213) $VS` is the way to do it, and is similar to an example given in the keepalived.conf(5) man page.

I think `$ASEQ=~SEQ(RSHOST,211,213)` is probably trying to push it too far.

[2020-03-07 18:03] rsparulek commented on #1515
@pqarmitage Many thanks for your inputs and debugging! I don't see this issue when I have unique priorities across 3 masters. I am still using keepalived 2.0.7 version. I will update this bug if I see any issue again.

[2020-03-08 01:32] rsparulek commented on #1515
@pqarmitage This issue is resolved. Closing for now. Thanks for all your help! I will re-open if I hit any other issues.

[2020-03-08 08:25] rozmanro1 commented on #1510
Yes!
I want to update that you were right, the issue was related to the MAC-Address table of the switch(Marvell) in the devices (A & B). For some reason the vmac 00:00:5e:00:01:32 was not getting cleared until 5 minutes....

Solution:
So far only **clearing the mac-table** every time we recognize a fail over switch helps and the traffic continues immediately.

Thanks for help!

[2020-03-08 10:07] pqarmitage commented on #1510
So it seems as though you need to replace your switch with one the behaves better!

[2020-03-08 10:07] #1510 closed

[2020-03-11 11:25] e-pirate commented on #1364
@pqarmitage sorry for a long respond. The 'skipping run' messages appear on a regular basis, a couple of 'Set realtime priority' as well. I can even see one 'failed to terminate after kill' (not matching 'set realtime'), but no 'lost's so far. Looks like the issue can be finally closed?

[2020-03-11 14:08] pqarmitage commented on #1364
@e-pirate The messages you report seeing are all to be expected on a very heavily loaded system.

It's good to hear that there have been no 'lost's, so it seems like the issue has been resolved. I would be very happy if you closed the issue now. Should the problem recur at some time, and let's hope it doesn't, the issue can always be re-opened.

[2020-03-11 14:22] e-pirate commented on #1364
Fixed!

[2020-03-11 14:22] #1364 closed

[2020-03-16 08:15] springleo opened #1520 "Unable to build keepalived-1.3.5-16_el7 from source, on RHEL 7.3 Maipo"
I am trying to build keepalived-1.3.5-16_el7 from source, on RHEL 7.3 Maipo.
Ensured that all the underlying needed packages are installed on the build server.
cloned git repo from  acassen / keepalived .

Following are the steps i am following:

git checkout tags/v1.3.5

./configure

Keepalived configuration
------------------------
Keepalived version       : 1.3.5
Compiler                 : gcc

[2020-03-16 08:53] pqarmitage commented on #1520
As it says above:
[code]

[2020-03-16 08:53] #1520 closed

[2020-03-16 09:21] springleo commented on #1520
"--build-in-place" is just an argument, that got rid of. however, it still fails to make.
`  CC       vrrp_ip_rule_route_parser.o
  CC       vrrp_iptables.o
  CC       vrrp_iptables_calls.o
  CC       vrrp_ipset.o
vrrp_ipset.c:53:50: error: unknown type name 'ipset_outfn'
 struct ipset_session* (*ipset_session_init_addr)(ipset_outfn outfn);
                                                  ^
vrrp_

[2020-03-16 11:41] springleo commented on #1520
downgraded the ipset-devel from 7.1.1 to 6.38-2, after which it worked. thanks.

[2020-03-16 14:37] pqarmitage commented on #1520
It turns out that the tarball used for building keepalived-1.3.5-16_el7 is 4 commits after the v1.3.5 tag in the keepalived repo. Also, if you are attempting to build 1.3.5-16_el7 there are 21 further patches that you would need to apply. However, building the rpm from the contents of the source rpm fails on Centos 7.7 with the same errors that you are getting. It appears that RedHat backported so

[2020-03-16 17:21] yohan212 opened #1521 "failover"
Hello everyone,

I have some trouble today !
I have 4 servers for a futur kubernetes cluster, but anyway..
I have 3 masters, master1-2-3
Master 1 is the master for the loadbalancing.
if I shutdown ok kill the keepalived daemon, master2 become the master.
So everything is working.
But if I don't halt or kill the daemon but just shutdown the interface of master 1, the master 2 never become master :/

[2020-03-16 17:52] pqarmitage commented on #1521
Does shutting down the interface on master 1 cause the interface on master 2 to go down?

Does shutting down the interface on master 1 cause the vrrp instance on master 1 to go to fault state, or does it continue sending adverts?

What happens if you add an iptable rule on master 1 to stop the vrrp adverts being sent?

[2020-03-17 03:14] springleo commented on #1520
Hi, I will need to build the version 1.3.5-16 version only, as that's what we need as part of a compliance. Not my choice. To get this version built as expected, do I need to also downgrade the kernel package? And other libraries too, that I need to downgrade? Please note, I am already able to build by just downgrading the ipset package, but I just want to be doubly sure. Thanks in advance.

[2020-03-17 07:16] yohan212 commented on #1521
Hello,
thx for your response !

1) nope
2) If I shutdown the interface on master1, nothing change when I do systemctl keepalived status, or in /var/log/messages
3) how can I check if the master1 send vrrp request, only with tcpdump ? or via a specific log directory ?

[2020-03-17 07:41] yohan212 commented on #1521
If I shutdown the interface with ifdown on master1 the packet are also sent when I do a tcpdump. But if I shut the interface in my VMware settings, the master2 come up directly !

[2020-03-17 07:54] yohan212 commented on #1521
<img width="533" alt="image" src="https://user-images.githubusercontent.com/61455325/76834160-f36bcf00-682c-11ea-90c0-c8a876724cad.png">

[2020-03-17 08:29] pqarmitage commented on #1521
I appears that doing ifdown does not cause the interface to stop operating, and that explains why master 2 does not take over as master. You have also confirmed that keepalived is operating correctly when you shutdown the interface in your VMWare settings.

I think this issue must be put down to a mis-expectation of what happens when you use ifdown.

[2020-03-17 08:29] #1521 closed

[2020-03-18 08:43] lindychan opened #1522 "keepalived+nginx so slowly"
I installed and configured keepalive+nginx for HA, but the application is particularly slow through VIP access, sometimes even access timeout, how to solve?
Here is my configuration:

`! Configuration File for keepalived

global_defs {
   notification_email {
     acassen@firewall.loc
     failover@firewall.loc
     sysadmin@firewall.loc
   }
   notification_email_from Alexandre.Cassen@firewall.lo

[2020-03-20 10:57] senthilnathann opened #1523 "Keepalived_healthcheckers logs"
_Support requests should be sent to_ keepalived-devel@lists.sourceforge.net

**Describe why you are unable to send the support request to the above email list**
Understanding why you cannot use the email list should help us improve it.

**Describe what you need help/support for**
A clear and concise description of what you need help with.
Hi,
Is there any posibilities to write the keepalived healt

[2020-03-20 12:39] pqarmitage commented on #1523
The straightforward answer to your question is Yes.

If you look at the log entries from keepalived, they should have, in the application field, one of`Keepalived`, Keepalived_vrrp`, `Keepalived_healthcheckers` or `Keepalived_bfd`.

You can configure your syslogger to log entries to different files based on the application, which will achieve what you want. How to do that is beyond the scope of ke

[2020-03-20 12:39] #1523 closed

[2020-03-20 12:57] pqarmitage commented on #1520
@springleo Many apologies for the delay in replying.

A bit of background may help here.

RHEL7 was originally released with keepalived v1.3.5, ipset v6 and kernel 3.10. Some time later, RedHat backported ipset V7 kernel functionality (introduced in Linux 5.0) into their RHEL kernel 3.10.0-1018 and consequently upgraded ipset/libipset to v7. Unfortunately RedHat did not upgrade keepalived at the t

[2020-03-20 13:13] pqarmitage commented on #1522
My understanding is that your problem is that access via the VIP addresses is slow.

If the VIP addresses are configured on the system, then keepalived has done it's job, and access via the VIPs is not a keepalived issue. The best thing to try is to configure the VIPs/virtual routes manually without running keepalived, and see what happens in that scenario.

[2020-03-20 17:50] senthilnathann commented on #1523
Yes , actually i am using "-S" option in /etc/sysconfig/keepalived file,that send all messages to my custom logs file.
I want to segregate the logs keepalived_vrrp , keepalived_healthcheckers logs in separate file.

For default (without -S ) , keepalived_vrrp logs are logged in messages ( local1) and keepalived_healthcheckers are logged in ( local2),if we have local2 configured in rsyslog.

Is abl

[2020-03-21 14:03] pqarmitage commented on #1523
Whether you need to specify the '-S' option to keepalived depends on how your system is set up to handle syslogging. For example (I am taking this from some old rsyslog configuration I used to use) with rsyslog you could have entries like the following in /etc/rsyslog.conf:
[code]

[2020-03-23 15:27] senthilnathann commented on #1523
Thanks ,It's working fine,Thanks for your valuable help. ....

[2020-03-25 15:51] reinderien opened #1524 "Notify script should not mkfifo"
This:

https://github.com/acassen/keepalived/blob/f0f31557ead9dd12343e5d9613a6e5fcdedf33aa/doc/samples/sample_notify_fifo.sh#L47

should not be calling `mkfifo`, since this code:

https://github.com/acassen/keepalived/blob/dfdf8f22af7af0f481730f210c54de86744a846e/lib/notify.c#L235

will always create it beforehand.

[2020-03-25 17:56] pqarmitage commented on #1524
Many thanks for reporting this. However, if you look at the full block of code from which the second extract above is taken, you will see that it handles the FIFO already existing:
https://github.com/acassen/keepalived/blob/dfdf8f22af7af0f481730f210c54de86744a846e/lib/notify.c#L235-L245
It is therefore quite reasonable for a script that handles reading the FIFO to create the FIFO before keepalived

[2020-03-25 17:56] #1524 closed

[2020-03-26 06:02] VParande opened #1525 "keepalived logging"
I need some more details about keepalived logging.
As per keepalived man page it supports different log levels.
With this option -S, --log-facility=[0-7] i tried different values. But i did see any difference.

So I want to know what are all the different logs supported by keepalived.

[2020-03-26 07:57] pqarmitage commented on #1525
See issue #1523 for more comments on how to use logging. You will need to modify your syslog configuration to make use of keepalived logging to different levels.

[2020-03-26 07:57] #1525 closed

[2020-03-26 11:32] fliespl commented on #1492
Have new version been stable for you? We are struggling with same issue on Hetzner Cloud VMs.

[2020-03-26 11:36] szpajder commented on #1492
Yes, it's stable. Not a single occurrence of the problem since the upgrade,
which took place on February 11.

[2020-03-26 11:38] fliespl commented on #1492
@szpajder thanks much for this info :)

[2020-03-26 15:11] reinderien commented on #1524
For my understanding: under what circumstances would a notify script start before keepalived itself?

[2020-03-26 16:46] pqarmitage commented on #1524
You may want to have a process that continuously reads the FIFO (or indeed multiple FIFOs) and takes appropriate actions. In this case, it may be better if the script/process starts independently of keepalived, creates the FIFO(s) and waits on a read of the FIFO(s).

The alternative, as I think you have realised, is that keepalived creates the FIFOs and then executes the FIFO script.

Either way i

[2020-03-27 12:15] zdc opened #1526 "Using STOP state for instances, deleted during a configuration reload"
The current behavior of keepalived is to send `FAULT` status notifier for VRRP instances, deleted from the configuration file. There is even a special comment inside the vrrp.c about this: https://github.com/acassen/keepalived/blob/f0f31557ead9dd12343e5d9613a6e5fcdedf33aa/keepalived/vrrp/vrrp.c#L4082-L4087

From the first view, using the `STOP` state notifier should describe a situation more accur

[2020-03-28 00:09] rsparulek commented on #1515
@pqarmitage I am re-hitting this issue even when I have different VRRP priorities across my 3 masters as seen below:

keepalived.data from MASTER 1 (main master with highest priority)
[code]

[2020-03-28 00:14] rsparulek commented on #1515
@pqarmitage I am re-hitting the VIP switchover issue even when I have 3 different priorities on my 3 masters as seen below:

Main master:
[code]

Master 2:

[code]

Master 3:

[code]

From keepalived logs on secondary master; I see that when the master 1 comes up; the secondary master gives up it's VIP as seen from logs below on the secondary master:

[code]

On the main master; I see that the for

[2020-03-28 00:18] rsparulek commented on #1515
I am also attaching the keepalived.data files collected from all 3 masters:
[m1.txt](https://github.com/acassen/keepalived/files/4396391/m1.txt)
[m2.txt](https://github.com/acassen/keepalived/files/4396392/m2.txt)
[m3.txt](https://github.com/acassen/keepalived/files/4396393/m3.txt)

m1.txt for main master
other 2 files for secondary masters

[2020-03-28 08:32] xieyanker opened #1527 ""daemon is already running" in container"
My keepalived is started in container, which is controlled by k8s static pod. However, I found it will get abnormal sometimes. The main reason is `daemon is already running`  as follows:

[code]

I don't know how to repeat it at present. It will be not ready unitl I remove the `/var/run/keepalived.pid` file from the host node.

In fact, I mount the `/var/run/keepalived.pid` file from container to

[2020-03-28 09:49] pqarmitage commented on #1527
The `daemon is already running` means that the pid file `/run/keepalived.pid` exists and there is a process running whose pid matches the pid in the pid file. I presume that the container is run with its own PID namespace, and so the PID of the keepalived process running in the container is always the same.

The problem is occurring because you are shutting down the container without stopping keep

[2020-03-28 09:58] pqarmitage commented on #1526
`STOP` means that keepalived is shutting down, and so it would be inappropriate to send `STOP` for a VRRP instance that is deleted on a reload.

I think the comment in the commit referred to above explains the reasons why `FAULT` is sent:
[code]

I don't think we can change what is being sent when an instance is deleted, since other users may rely on `FAULT` being sent.

Perhaps your scripts, when

[2020-03-30 06:13] xieyanker commented on #1527
@pqarmitage Thanks for your reply!

I have used the keepalived version `v2.0.20` for my latest environment.

As far as I know, `/var/run/keepalived.pid` should be a file. However, in fact, it became a directory when the wrong happened. Is there any reasonable explanation for this phenomenon?

Also, I wonder what is the role of the `/var/run/keepalived.pid`, why it need be defined in the keealived

[2020-03-30 07:29] pqarmitage commented on #1527
You state you have used v2.0.20 for you latest environment, but the docker output suggests you are still running v1.2.24.

I cannot see any reason why keepalived would create `/var/run/keepalived/pid` as a directory, although it is possible that having something like `net_namespace keepalived.pid` in your configuration file could cause keepalived to create `/var/run/keepalived/pid` as a directory.

[2020-03-30 08:23] xieyanker commented on #1527
Sorry I didn't describe it clearly!

I have some different environments, the latest version of keepalived  which I deploy is v2.0.20, and the output which my print is a old version.

My main trouble is `/var/run/keepalived/pid` became a directory. I don't know why, but it cause the `daemon is already running` error.

I repeat it as follows:

1. stop keeepalived and clear all related keepalvied con

[2020-03-30 09:10] pqarmitage commented on #1527
It looks to me as though the reason `/var/run/keepalived.pid` is created as a directory is due to the command numbered 3 above: `mkdir /var/run/keepalived.pid`.

[2020-03-30 09:39] xieyanker commented on #1527
emm~. it is created by myself, not the actual error occurred. By the way, why the error shows `daemon is already running` when it is a directory, shouldn't it be other prompts?

[2020-03-30 10:52] pqarmitage commented on #1527
I think that when the relevant code was written it wasn't anticipated that someone would create a directory in /var/run (or /run) with the name of the keepalived pidfile; yes, the code could be improved but is it worthwhile for such an edge case?

It appears from your comment above that if you remove the `/var/run/keepalived.pid` directory that you have created, keepalived runs without a problem,

[2020-03-30 10:52] #1527 closed

[2020-03-30 10:53] pqarmitage commented on #1522
Closing due to response for over 1 week. If the problem persists then please provide the information requested in the comment above and the issue can be reopened.

[2020-03-30 10:53] #1522 closed

[2020-03-30 14:45] zdc commented on #1526
Thank you, @pqarmitage, for the comment!

I have understood your main idea here. Yes, true, currently it looks like we need to parse a config file or apply some other intermediate action to detect such situations.

I am not trying to convince you into switching to another behavior but want to show you some situations in which the current one may confuse customers. Maybe this can help you to improv

[2020-03-30 20:47] senthilnathann opened #1528 "Is there a way to make node with highest IP address to NOT takeover as master from the the current master?"
**Describe the issue**
A clear and concise description of what the issue is.

We have set nopreempt and priorities are equal on VRRP nodes . We faced split brain issue ,due to this , Slave took over as master as master's advt didn't reach slave. Slave send garp for the VIPs.Once the master is back to n/w, slave received higher prio. So the slave entered into backup state. So updated GARP not avail

[2020-04-01 10:24] Sankaranarayanans opened #1529 "Role swap due to time lag between nodes"
****Describe what you need help/support for****

We having keepalived cluster with priority as same in both the nodes. Recently we faced take over process that happened due to time lag between nodes. We just want to know the keepalive behavior in this case. The issue is reproducible.
So want to confirm that role swap will occur if there is time lag btw cluster nodes and want to know detailed info'

[2020-04-01 10:38] pqarmitage commented on #1528
@senthilnathann You ask:
`Is there a way to make node with highest IP address to NOT takeover as master from the the current master?`

The situation you are in is that, due to a network issue, you have two instances that are both acting as master. Once the network issue is resolved, they start seeing each others' adverts again, and they therefore know that one of them has to revert to backup. The

[2020-04-01 11:06] pqarmitage commented on #1529
@Sankaranarayanans If you change the system time suddenly, you cannot expect applications that run timers to behave as expected. This is why ntp client utilities generally change the system clock by making it run slightly fast or slightly slow until time synchronisation is achieved.

By suddenly advancing the time on the backup system, when a timer next expires, it compares the time by which it ex

[2020-04-01 11:06] #1529 closed

[2020-04-01 12:34] senthilnathann commented on #1528
Thanks for your explanation .
Our main issue is after split brain issue, GARP is not refreshed from current MASTER node  and we faced VIP's are unreachable and got outage for some time.

How to solve ?
1 )  Once split brain issue resolved , If last took over Master (during split brain time took over master) is need to maintain their state as MASTER ,existing master need to go as Backup .

So that

[2020-04-02 08:51] WilliamDEdwards opened #1530 "Segfault when using smtp_server"
**Describe the bug**

When `smtp_server` is defined, keepalived on Debian 10 segfaults on startup.

The same configuration is used on Debian 9, with no issues.

**To Reproduce**

Specify the `smtp_server` directive with a value (either a hostname, IPv4 or IPv6 address) in the keepalived configuration file.

**Expected behavior**

I would expect keepalived to start with this configuration, as the s

[2020-04-02 17:09] rsparulek commented on #1515
@pqarmitage Any pointers on this issue?

[2020-04-02 19:03] reinderien opened #1531 "Segfault in `thread_fetch`"
**Description**
There is a segfault. We can reproduce it 100% of the time across multiple hosts but I do not yet have concrete reproduction info for you.

**To Reproduce**

With this `gdb` script:

[code]

**Keepalived version**

[code]

**Distro**
[code]

**Configuration file:**

[code]

**Notify and track scripts**
`pgrep_wrapper`:

[code]

`notify.py` is more complex and I am not ready to share

[2020-04-02 20:01] reinderien commented on #1531
I am attempting to reproduce the issue from source:

[code]

So first of all, the 1.3.9 tag straight-up does not compile with debugging enabled. After commenting out that `DBG` line and compiling, I cannot reproduce the problem because the application hangs after `Opening file './kad.conf'` here:

[code]

Interestingly, this is a very similar backtrace to the one that causes a segfault in the prod

[2020-04-02 21:09] reinderien commented on #1531
The much-more-recent version 2.0.20 from
[this PPA](https://launchpad.net/~hnakamur/+archive/ubuntu/keepalived/+packages) has a backport to Bionic, and succeeds in running our configuration without a segfault. So that's the likely workaround we'll use. You may still want to investigate figuring out a backport for the stock version that ships with Bionic since it's still the LTS.

[2020-04-02 21:24] pqarmitage commented on #1531
Version 2.0.20 is the current version of keepalived, and there are no known segfaults with that version. There have been quite a number of segfault fixes since v1.3.9, especially in relation to parsing configurations that aren't quite correct.

There is a snapped version of keepalived which is updated to the current version; it would probably be better to use that rather than a packaged version.

[2020-04-02 21:24] #1531 closed

[2020-04-02 21:30] reinderien commented on #1531
Where is this? In a PPA? What form does it take - binaries, or a `.deb`?

[2020-04-02 22:16] pqarmitage commented on #1530
This issue was resolved by commit fccdeba which was first included in keepalvied v2.0.11.

Could you please file this as a bug against Debian keepalived and request that they backport commit fccdeba.

[2020-04-02 22:16] #1530 closed

[2020-04-02 22:33] pqarmitage commented on #1515
We have seen the issue before where when networking starts up packets start being passed, and then no packets are passed for a while, and then they start being passed again, and this is what appears to be happening here.

You need to delay keepalived starting up until the network is fully up and settled.

[2020-04-02 23:56] pqarmitage commented on #1531
An article such as https://askubuntu.com/questions/618471/why-is-ubuntu-moving-to-snappy-packages should explain about snaps.

[2020-04-03 09:39] pqarmitage commented on #1528
I have tested this with both keepalived v2.0.20 and v2.0.7 and with the following configuration the keepalived instance that remains master following recovery from a split-brain situation always sends gratuitous ARP messages:
[code]

[2020-04-03 14:53] senthilnathann commented on #1528
I have tried the same ,not working for me. after split brain recovery ,no GARP send from remains MASTER.

From splitbrain time took over Master  :

[2020-04-03 18:07] pqarmitage commented on #1528
You are running with the **same** priority on both systems. Can you change the configuration so that the priorities are **different** on the two systems; I can see no point having the same priority on both systems. I have only tested it with different priorities on the two systems, as should be the case.

[2020-04-03 19:58] senthilnathann commented on #1528
I have tried with different priorities ,not worked .after split brain recovery ,no GARP send from remains MASTER.pls check
From splitbrain time took over Master :

[2020-04-04 17:04] pqarmitage commented on #1528
How are you determining that no gratuitous ARP messages are being sent? Are you running keepalived with the `-D` option?

[2020-04-05 14:25] senthilnathann commented on #1528
yes , my keepalived is running with KEEPALIVED_OPTIONS="-D" option .

[2020-04-06 10:52] pqarmitage commented on #1528
Can you please provide the output of `ip -d link show bond0`

[2020-04-06 11:02] pqarmitage commented on #1528
I think it would also be helpful to see the full keepalived logs of both systems from the time keepalived starts up, through the split brain phase and then recovery from the split brain phase and finally keepalived shutting down.

Could you please also send a USR1 signal to the parent keepalived processes on each system; this will generate  files /tmp/keepalived.data and post those files.

[2020-04-06 15:36] senthilnathann commented on #1528
Please find the needed details ,

Keepalived starting time logs :
**Master :   172.20.131.114**

**Backup :  172.20.131.113**

**During Split brain :**  Communication break up done  b/w Master/Backup using iptables  .

  **Master server :      172.20.131.114**

                No changes happens ,so no logs available .Its'  running as Master Continuously .

**Backup Server : 172.20.131.113 .**

**

[2020-04-07 10:31] pqarmitage commented on #1528
When the split brain recovers, what we can see from the logs is that l3-newversion-1 receives an advert from l3-newversion-2: `Master received priority 0 message` (note the priority may not be 0 - the following log message indicates the priority is 100). This causes the l3-newversion-1 to send an advert. Meanwhile, l3-newversion-2 does **not** receive the advert sent by l3-newversion-1, since othe

[2020-04-07 12:27] rajivginotra opened #1532 "VRRP Group: Syncing instances not coming back to backup/master state."
**Describe the bug**
A clear and concise description of what the bug is.
I have created two VRRP groups ENTERPRISE and MANAGEMENT. And each VRRP group has two VRRP instances which I need to tied up together so that when VIP moves, both of them move to different node.

In some of the cases where I am seeing that VRRP group has moved to FAULT state but it didn't came back anytime to master/backup st

[2020-04-07 13:30] pqarmitage commented on #1532
When you are in the situation when the VRRP instances are in fault state but the interface is up, could you please send SIGUSR1 to the parent keepalived process. This is create /tmp/keepalived.data; could you please add that file to this issue.

[2020-04-07 14:07] pqarmitage commented on #1532
I can reproduce this problem, but I am having to make some guesses since you haven't provided a copy of /node_health_check.py.

Can you please confirm the following:
1. enp94s0f0 is down when keepalived starts
1. The script /node_health_check.py sets enp94s0f0 up near the beginning of the script
1. The script takes about 6 seconds to execute

[2020-04-07 14:33] rajivginotra commented on #1532
Thanks @pqarmitage  for the quick reply. Please find the below reply

1. enp94s0f0 is down when keepalived starts
=> Yes initially the interface are set as down and then comes up. but before the keepalived process spawned before that the interface are marked up. if you see the below log it confirms that interface came up @00:47:42 and keepalived got spawned @00:47:43.

Apr  3 00:47:42 192-192-0-65

[2020-04-07 16:04] pqarmitage commented on #1532
While interface enp94s0f0 was activated at 00:47:52, at 00:47:53 the interface was still down since keepalived reported `entering FAULT state` at that time. In fact it was later in the same second that the interface came up, as indicated by `Netlink reports enp94s0f0 up`.

I can reproduce this problem reliably if I start keepalived with enp94s0f0 down and the vrrp_script ups the interface. I suspe

[2020-04-07 16:18] rajivginotra commented on #1532
Thanks for doing the RCA and fixing it. If possible can you just brief me what was the issue?

Any time frame when you will be releasing new keepalived version?

[2020-04-07 18:00] msridhar87 opened #1533 "VRRP advertisement packets are not sent out with IPv6 in non-default namespace"
**Describe the bug**
when we configure VRRP IPv6 group in non default namespace, advertisement packets are not sent out and the below logs are seen.

root@OS10:~# journalctl -f | grep Keep
Apr 07 09:28:04 OS10 Keepalived_vrrp_1[3816]: (e101-001-0_v6_10): send advert error 22 (Invalid argument)
Apr 07 09:28:05 OS10 Keepalived_vrrp_1[3816]: (e101-001-0_v6_10): send advert error 22 (Invalid argument)

[2020-04-07 19:50] pqarmitage commented on #1533
Can you please provide the following information:

1. Output of `ip -d link show` in both the default namespace and non-default namespace
2. The commands you use for creating, setting up and configuring e101-001-0 and v-e101-001-0

[2020-04-07 20:24] senthilnathann commented on #1528
As per my understanding ,
When will get this message " `Received advert from 172.20.131.113 with lower priority 90, ours 100, forcing new election" ?`

During split brain issue time ,newly took over Master ( l3-newversion-1) will able to reach to existing Master ( l3-newversion-2) ,but still l3-newversion-2 is not able to reach l3-newversion-1 ,during that time we got this message,So this happens

[2020-04-07 21:37] pqarmitage commented on #1528
`Received advert from 172.20.131.113 with lower priority 90, ours 100, forcing new election` is logged when a VRRP instance in master state receives an advert with a lower priority than its own priority.

You state that you are using iptables to create the split brain, but you haven't indicated what iptables entries you are adding/removing on which system or the order of adding/removing or the tim

[2020-04-07 22:58] pqarmitage commented on #1532
Commit 1ef6d47 resolves the issue. There was some logic missing for handling interfaces coming up while a vrrp_script was running for the first time - see the commit for details.

To obtain the latest version of the code, you just need to pull it from github.

[2020-04-07 22:58] #1532 closed

[2020-04-07 23:05] pqarmitage commented on #1506
Commit f8b7b4f adds an additional signal (SIGRTMAX - 1) that dumps the stats and clears them. I was not happy with the idea of clearing the stats independently of writing them, with the potential to lose some data, even if Cisco are happy to do so. Doing it this way means that other users will be able to use it without any loss of stats.

To get the relevant signal number, run `keepalived --signum

[2020-04-07 23:05] #1506 closed

[2020-04-08 02:13] msridhar87 commented on #1533
Enabled IPV6 vrrp in e101-002-0 in default namespace and in e101-001-0 in non-default namespace

ip -d link show (default namespace)
==========================
13: e101-001-0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc multiq state UP mode DEFAULT group default qlen 1000
    link/ether 00:50:56:80:cd:47 brd ff:ff:ff:ff:ff:ff promiscuity 1
    tun addrgenmode eui64 numtxqueues 256 numrxqueues

[2020-04-08 02:17] msridhar87 commented on #1533
I as well see a difference in the dbus notification
Default namespace
=================
/org/keepalived/Vrrp1/default/Instance/e101_001_0/10/IPv6 ===> Interface is base interface

Non-default namespace
=================
/org/keepalived/Vrrp1/default/Instance/e101_001_1_v10/10/IPv6 ====> Interface is vmac created by keepalived

[2020-04-08 09:37] pqarmitage commented on #1533
Commit 97c7688 resolves this issue.

[2020-04-08 09:37] #1533 closed

[2020-04-08 09:53] pqarmitage commented on #1533
I presume you are running keepalived with the equivalent of `ip netns exec NAMESPACE keepalived ...`. Are you aware that you can use `net_namespace NAMESPACE` in the keepalived configuration? This means that keepalived can be run from the default namespace and it will switch to using the specified network namespace.

Your configuration just has the since VIP 1::200. keepalived is logging an error

[2020-04-08 09:55] senthilnathann commented on #1528
Thanks for the explanation .

Yes , iptables rules are deleted with some delay ,due to this it's not working as expected .
Now I have deleted the iptables rules with same time ,after split brain issue recovery , it's working as you said ,garp messages will be sent from l3-newversion-2.

Final conclusion :
If we configure ``vrrp_higher_prio_send_advert true` option,
After split brain issue recovery

[2020-04-08 10:13] msridhar87 commented on #1533
I have not tried the net_namespace configuration option. Thanks for letting
me know.

On Wed, Apr 8, 2020 at 3:24 PM Quentin Armitage <notifications@github.com>
wrote:

--
--sridhar

[2020-04-08 10:13] wdauchy opened #1536 "[v2.0.20] segfault in ipvs_group_cmd"
**Describe the bug**

We are hitting a regular segfault on v2.0.20
[code]

**To Reproduce**

For now no clear reproducer, but the config below is hetting the segfault very regularly

**Keepalived version**
[code]

**Distro**
 - centos 7
 - Architecture x86_64

**Details of any containerisation or hosted service**

bare metal machine

**Configuration file:**
A full copy of the configuration file, o

[2020-04-08 10:22] #1528 closed

[2020-04-08 10:25] msridhar87 commented on #1533
Will this patch give the base interface name in the namespace as part of the dbus message?

[2020-04-08 10:28] msridhar87 commented on #1533
This will assign the proper link local address right?
In function dbus_send_state_signal, should we use configured_ifp rather than base_ifp?

[2020-04-08 11:15] pqarmitage commented on #1533
`This will assign the proper link local address right?`
Yes

`In function dbus_send_state_signal, should we use configured_ifp rather than base_ifp?`
Yes. Commit 6c69cc2 resolves this.

[2020-04-08 12:17] pqarmitage commented on #1536
@wdauchy I think this is going to be a difficult one to track down.

SIGBUS is a strange signal to receive, especially on x86 architecture. Does the fault consistently occur at ipvswrapper.c: line 356?

I think the only way I have any hope of tracking this down is to have a copy of your full configuration. In terms of obfuscating it, could you please just change the first octet of each IPv4 addres

[2020-04-08 12:40] wdauchy commented on #1536
Thank you for your answer.

yes
I can also provide a core privately

will send you that privately as github does not allow me to send it

yes we have our own build. also sent privately.

[2020-04-08 12:51] pqarmitage commented on #1536
I think a copy of the core file would be helpful, along with the matching non-stripped keepalived executable (if you installed keepalived from rpms then the keepalived and keepalived-debug rpms would be fine).

[2020-04-08 13:36] pqarmitage commented on #1536
@wdauchy The core dump that you have sent me is reporting that keepalived terminated due to signal 11, in function weigh_live_realservers, which doesn't match what you listed above:
[code]

I can certainly look at this, but it isn't the issue you reported.

[2020-04-08 13:38] wdauchy commented on #1536
wow I probably mixed them, let me double check that

[2020-04-08 14:12] wdauchy commented on #1536
there is probably another issue I did not saw with `weigh_live_realservers`; I can open a new bug about it. in the meantime, I've sent you the core about `ipvs_group_cmd`

sorry for the confusion

[2020-04-08 14:38] wdauchy commented on #1536
@pqarmitage in fact we just realised removing "ip_family  inet6" somehow workarounds the issue

[2020-04-08 15:02] pqarmitage commented on #1536
The new core file looks better, many thanks.

For both the core files you have provided, it looks like a register has got a rather strange value. For the original problem, where the code is:
   0x0000564d80bdb75e <+286>:	je     0x564d80bdb798 <ipvs_cmd+344>
   0x0000564d80bdb760 <+288>:	cmp    $0x482,%ebx
=> 0x0000564d80bdb766 <+294>:	mov    0x10(%rbp),%r12
   0x0000564d80bdb76a <+298>:	jne    0x5

[2020-04-08 15:07] wdauchy commented on #1536
@pqarmitage have you check the mentioned scenario above? i.e ipv6 VIP + ipv4 RS
it seems to be the root cause of our issues

[2020-04-08 16:03] pqarmitage commented on #1536
@wdauchy You stated `removing "ip_family inet6"` works around the issue; did you simply comment out the `ip_family inet6` line, or completely remove the IPv6 virtual servers with IPv4 real servers?

[2020-04-08 16:04] wdauchy commented on #1536
we simply commented ip_family inet6 line.

[2020-04-08 16:18] pqarmitage commented on #1536
That _shouldn't_ make any difference. `ip_family inet6` is only needed where the virtual server or virtual server group is specified by a fwmark and not all the virtual servers are IPv6. I will nevertheless have a look at this.

[2020-04-08 16:40] pqarmitage commented on #1536
There are a number of configuration errors being logged. I think it would be helpful to resolve all of those first to see if that resolves the problem. Apart from there being no definition of $VS_COMMON_OPTIONS, which would most simply be resolved by adding a line at the top of the config file:
`$VS_COMMON_OPTIONS=`

The remaining errors I am seeing are:
[code]

[2020-04-08 20:01] wdauchy commented on #1536
Thanks for the precision, I noticed those errors and will have a deeper look at them in the following days. I however confirm the issue is gone after removing ip_family inet6 line (and defining VS_COMMON_OPTIONS) - but we can give another try after fixing them.

[2020-04-08 21:00] pqarmitage commented on #1536
I think what would be helpful would be to send SIGUSR1 to the parent keepalived process; this creates keepalived_check.data. If you could do that with both the original config (i.e. including the `ip_family inet6` lines and without VS_COMMON_OPTIONS), and the updated config, and send me the two keepalived_check.data files. I want to see if there is any difference between the two versions.

[2020-04-08 21:24] pqarmitage commented on #1536
@wdauchy I can now reproduce the problem. As you say, removing the `ip_family inet6` stops the problem occurring; defining VS_COMMON_OPTIONS does not make any difference.

I can now work on this and should be able to identify the problem. It looks as though keepalived's internal data structures are becoming corrupted.

[2020-04-08 21:26] wdauchy commented on #1536
Good news! (for the reproducer)

[2020-04-09 07:12] pqarmitage commented on #1536
To summarise, so far there are three problems I have identified:
1. keepalived crashing when `ip_family inet6` specified
1. If `ip_family inet6` is not specified, keepalived reports the address family does not match the virtual server
1. Can a virtual_server_group have a mixture of IPv4 and IPv6 addresses if all the real servers are tunnelled? And what happens if the virtual_server_group also has

[2020-04-09 07:38] pierrecdn commented on #1536
@pqarmitage (I'm working with @wdauchy)

This was our first intent. We switched to v4 + v6 dedicated vs_group when noticing that all v6 vips were discarded due to mixed families.

With this setup (v4 and v6 separated) the kernel is programmed (when checked using a decent ipvsadm version, entries are correct) but from what we understand the healthchecking part is going crazy.

We consequently thoug

[2020-04-09 09:08] pqarmitage commented on #1536
@pierrecdn @wdauchy

**Update**

The problem is caused by the virtual servers where the virtual_server_group has IPv6 addresses, the real servers of the virtual server have IPv4 addresses, and the lvs_method is NAT. Changing the lvs_method to be TUN for these instances (i.e. at lines 382, 401, 715, 3003, 3425, 3851, 3891 and 4251 of your configuration) stops the problem occurring. Alternatively, r

[2020-04-09 10:56] pqarmitage commented on #1536
Commit a4668f6 resolves the original issue reported.

Commit eb4a4b3 sets the address family from the virtual_server_group if all the real servers of a virtual server are tunnelled and the address family is not specified.

Commit eb4a4b3 means that you will no longer need to specify `ip_family inet6` at all, but it would be good if you could test the updated code with your original configuration t

[2020-04-09 11:13] pierrecdn commented on #1536
That's pretty cool and fast!

Trying to give you more context to explain why one would use one IP family for RS instead of having everything dual-stacked and using only ip4-ip4 or ip6-ip6 (outer-inner scheme).

(As you probably guessed) our goal is to be able to transparently perform migrations of the internal infrastructure (RSes).

The first step for that is to support mixed VIP families for a V

[2020-04-09 11:26] pqarmitage commented on #1536
@pierrecdn I do agree that creating a separate issue for allowing mixed IPv4/6 in a virtual server group should be a separate issue. Once you have confirmed that commit a4668f6 resolves your original issue I think this issue should be closed.

I will wait for you to create the new issue and add any thoughts about mixed IPv4/6 virtual server groups to that issue.

[2020-04-09 12:39] wdauchy commented on #1536
@pqarmitage I confirm the mentioned commits are fixing the segfault, thanks a lot for the quick fixes! I believe we can consider this issue as fixed and open a new one for the feature request.

[2020-04-09 12:51] #1536 closed

[2020-04-09 14:33] pqarmitage commented on #1536
@wdauchy @pierrecdn Commit fa1eaf7 should allow what you want to achieve with having both IPv4 and IPv6 addresses in a virtual server group. This is only permitted where all real and sorry servers of all virtual servers using the virtual server group and tunnelled, and also no fwmarks are configured on the virtual server group.

I will have a look later whether I can relax the restriction of not a

[2020-04-09 14:54] pierrecdn opened #1540 "Cannot mix IPv4 and IPv6 in virtual server group"
**Is your feature request to resolve a problem or provide enhanced functionality? Please describe.**
In the case of TUN mode, mixed IP families is supported by ipvs. Let's introduce the support of this in keepalived as well.

**Describe the solution you would like**
The following config should not generate a `Cannot mix IPv4 and IPv6 in virtual server group` log.
[code]

**Describe alternatives yo

[2020-04-09 14:56] pierrecdn commented on #1536
@pqarmitage so fast, I only had time to write the corresponding issue :smile_cat: :arrow_up:

[2020-04-09 15:32] pierrecdn commented on #1540
@pqarmitage your patch fa1eaf7 seems to work perfectly.

[2020-04-09 16:23] #1540 closed

[2020-04-10 07:18] GeorgeGuo2018 opened #1542 "modified persistence_timeout in keepalived.conf; reload did not take effect"
**Describe the bug**
In my environment, I updated persistence_timeout vulue of virtual server 10.6.115.91 in the keepalived.conf.
And then exec:
[root@10-6 ~]# /var/run# cat keepalived.pid
43
[root@10-6 ~]# /var/run# cat checkers.pid
44
[root@10-6 ~]# /var/run# kill -SIGHUP 43
[root@10-6 ~]# /var/run# kill -SIGHUP 44

but the persistence_timeout option did not take effect  in the ipvs rules. for e

[2020-04-10 11:19] pqarmitage commented on #1542
Commit 57a6be3 resolves this issue.

[2020-04-10 11:19] #1542 closed

[2020-04-10 15:24] pqarmitage commented on #1515
There is a keepalived option `vrrp_startup_delay` for precisely this problem. It delays the startup of the vrrp process to allow time for the networking to settle down.

I am closing this problem now since there has been no response for over a week.

[2020-04-10 15:24] #1515 closed

[2020-04-16 10:22] libesz commented on #1495
@pqarmitage Sorry for jumping on this 😞 but the workaround which I use so far (MISC_CHECK with test -f, described as alternative solution above) can exhaust the entire pid space on the node in the same large setup, which is similarly bad as exhausting ephemeral sockets.

So if there is any help I can provide to have this feature, please let me know.

[2020-04-16 14:29] pqarmitage commented on #1495
@libesz I am working on this at the moment, and hope to be able to merge a commit by the end of the weekend. Apologies for the delay, but Covid-19 has got in the way!

I am intrigued about MISC_CHECK causing exhaustion of the entire pid space (is this 32768 pids?), and this sounds like something we need to fix too. Could you please provide details of how the problem is being caused - keepalived co

[2020-04-16 14:57] libesz commented on #1495
@pqarmitage Thanks again for the great work, I would really not want to push this, especially in the current situation. Just letting you know I would help if I can.

Will open a new issue with the fork problem details.

[2020-04-16 21:20] igroost opened #1547 "What are the No destination available messages?"
Hello.
Messages from the screenshot are sent to the server console. However, everything works fine on the ipvs side. In addition to the server console, there are no similar messages in any logs. Please tell me what these messages are about, how to disable them or redirect them to a file?

![image](https://user-images.githubusercontent.com/17481985/79507809-05fe4180-8041-11ea-9764-7f7ba8c76d23.png)

[2020-04-16 22:22] pqarmitage commented on #1547
This is not a keepalived issue, but an IPVS issue, so this really isn't the right place to ask the question.

However, this message is generated by the kernel in function _ip_vs_lc_schedule()_ in kernel source file _net/netfilter/ipvs/ip_vs_lc.c_. It means that the virtual server is using least-connection scheduling (lc) and for all real servers they are either overloaded or have their weight set

[2020-04-16 22:22] #1547 closed

[2020-04-19 08:52] pqarmitage commented on #1495
FILE_CHECK code now merged. Note that weights with FILE_CHECK are not fully supported at the moment.

Is there any progress regarding creating an issue re fork problem?

[2020-04-19 08:52] #1495 closed

[2020-04-19 10:56] libesz commented on #1495
Thank you very much @pqarmitage for adding this!
Will create the fork related issue tomorrow. I have to collect enough logs...

[2020-04-20 06:26] gregnetau opened #1550 "Local VS's pick random route methods"
I am having an issue that i think has been present for some time but now is preventing me from running keepalived on my secondary firewall. I cannot find the source in configuration or otherwise.

OS - Gentoo Linux
Kernel - Linux sjc-fw2 5.6.5-gentoo-x86_64
Keepalived v2.0.20

Keepalived v2.0.20 (01/22,2020)

Copyright(C) 2001-2020 Alexandre Cassen, <acassen@gmail.com>

Built with kernel headers f

[2020-04-21 15:39] nimasamii opened #1551 "Direct Return mode not working on CentOS 8"
**Describe the bug**
Minimal installation of current CentOS8 with virtual Server using lvs_mode DR is not working.

**To Reproduce**
Install 3 CentOS 8 Machines (e.g. VMs on libvirt with default (NAT) network): one Load Balancer and two Service VMs (192.168.122.100 & 192.168.122.101).
Network is 192.168.122.0/24
DNS/Gateway is 192.168.122.1
Loadbalancer IP 192.168.122.12,
VIP 192.168.122.13 and
Se

[2020-04-21 16:02] juanvasquezreyes opened #1552 "IPVS not initialized"
Not sure if I'm getting crazy, when I start the service using "systemctl start keepalived"
the healthchecks doesnt work getting this error "Keepalived_healthcheckers[3327]: WEB socket bind failed. Rescheduling"

But when I manually run it like this: **/usr/sbin/keepalived -nldD -f /etc/keepalived/keepalived.conf**
everything works perfect

So, I checked the logs and the only difference I found was

[2020-04-21 16:12] juanvasquezreyes opened #1553 "IVPS not initialized"
Not sure if I'm getting crazy, when I start the service using "systemctl start keepalived"
the healthchecks doesnt work getting this error "Keepalived_healthcheckers[3327]: WEB socket bind failed. Rescheduling"

But when I manually run it like this: /usr/sbin/keepalived -nldD -f /etc/keepalived/keepalived.conf
everything works perfect

So, I checked the logs and the only difference I found was tha

[2020-04-21 21:48] pqarmitage commented on #1551
Can you please provide the output of `ipvsadm -Ln`, and also send SIGUSR1 to the parent keepalived process and post the contents of /etc/keepalived_check.data.

[2020-04-21 21:50] pqarmitage commented on #1553
Closing since duplicate of #1552.

[2020-04-21 21:50] #1553 closed

[2020-04-21 21:53] pqarmitage commented on #1552
Please provide the information requested in the `Bug report` issue template. Without that information we simply do not have anything we can look at.

[2020-04-21 21:57] nimasamii commented on #1551
Sure thing, here are the files you requested. Thanks for taking a look!

[ipvsadm-Ln.txt](https://github.com/acassen/keepalived/files/4512775/ipvsadm-Ln.txt)

[keepalived_check.data.txt](https://github.com/acassen/keepalived/files/4512776/keepalived_check.data.txt)

[2020-04-21 21:57] pqarmitage commented on #1550
I'm not sure what might be causing this, so I need to try to run it in a similar environment myself.

I have tried installing Gentoo into a VM, but it won't boot; it looks like GRUB isn't finding the disk partitions. Any pointers would be helpful.

Also, Gentoo in installing kernel v5.4.28, but I see you are using v5.6.5. What do I need to do in order to install v5.6.5?

[2020-04-21 22:43] pqarmitage commented on #1551
keepalived is responsible for setting up the IPVS configuration; after that it is down to the IPVS code in the kernel to handle the forwarding of packets.

The output you have provided of `ipvsadm -Ln` shows that keepalived has set up the IPVS configuration correctly, and there is even one connection that the kernel IPVS code has forwarded.

The issue therefore isn't a keepalived issue, and is mos

[2020-04-21 22:43] #1551 closed

[2020-04-22 13:15] juanvasquezreyes commented on #1552
Just updated it

[2020-04-22 14:23] pqarmitage commented on #1552
Thanks for the update.

You state that you are running Linux 7.7, but that doesn't exist! I am guessing that you are running RHEL 7.7 or CentOS 7.7; is that correct?

Based on the above guess, I assume that you are running selinux in enforcing mode. When keepalived is run via systemctl, do you get any selinux messages in the log at about the same time as the `Keepalived_healthcheckers[3327]: WEB s

[2020-04-22 14:32] juanvasquezreyes commented on #1552
I think you are right, I dont think is keepalived issue, is some conf , but not sure what conf I need to modify

[root@x.x.x.82]# cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.7 (Maipo)

[root@x.x.x.82]# cat /etc/selinux/config
# This file controls the state of SELinux on the system.
# SELINUX= can take one of these three values:
#     enforcing - SELinux security policy is enf

[2020-04-22 15:56] pqarmitage commented on #1552
I can reproduce this problem on my CentOS 7.7 virtual machine and it is an SELinux permissions issue.

With the standard permissions, the error that keepalived is getting when it logs `WEB socket bind failed. Rescheduling` is EPERM, in other words permission denied. If I modify the SELinux settings for keepalived by executing `chcon -t bin_t /usr/sbin/keepalived` and then do `systemctl start keepa

[2020-04-22 15:56] #1552 closed

[2020-04-22 16:06] juanvasquezreyes commented on #1552
Thank you, that solved my problem
Thanks

[2020-04-22 17:11] pqarmitage commented on #1552
Could you please update this to say what you did to resolve the problem.

[2020-04-22 17:20] juanvasquezreyes commented on #1552
I just ran the command provided in the two servers x.x.x.82 and x.x.x.83
[root@x.x.x.82]# chcon -t bin_t /usr/sbin/keepalived
[root@x.x.x.82]# systemctl restart keepalived

and in order to test I restarted the app that was running on port 8000 to see that healtchecks was working and according to the logs it solved the problem
[code]

[2020-04-22 19:16] arulkumar9690 opened #1554 "VMAC interface is not created for the second vlan interface in a non-default vrf of vrrp group"
**Describe the bug**
when we configure a vlan [ X ] in non-default namespace [VRF1] associated to VRRP group [1] and assign a virtual address[ x.x.x.x ] - VMAC interface is created successfully. But VMAC interface is not created if we configure another vlan [ Y ] in same non-default namespace [VRF1] associated to same VRRP group [1] and virtual address [y.y.y.y]

Following logs are observed while

[2020-04-23 08:41] pqarmitage commented on #1554
Does this only occur if you reload keepalived with br11_v4_1 added to the configuration, or does the problem also occur if you start keepalived with the full configuration?

[2020-04-23 09:04] libesz opened #1555 "real_server FILE_CHECK may treat state: "success" at initialization"
**Describe the bug**
The new file_track option for real_server may treat the initial status as "success", regardless of the file content on the first read. In this case, until the first file content change the respective real_server will be enabled in the virtual_server regardless when it is failed in the reality and file content is according to this.

**To Reproduce**
Any steps necessary to repro

[2020-04-23 09:25] libesz commented on #1555
I've sent a suspected correction. Not tested with vrrp, only with real_server + FILE_CHECK.

[2020-04-23 10:09] pqarmitage commented on #1555
I have tested a vrrp instance using track_file and it does read the initial state.

I will look at your patch in detail presently. I just wonder if `if (!init)` should be `if (init)`, rather than no check at all. I assume I put that test in for some reason; it might just be that I got it the wrong way around. On the other hand, I don't see that it can do any harm reading all the track files on a r

[2020-04-23 10:15] libesz commented on #1555
Thanks for the comment. Yes I also assumed that the check had some intent. Though I agree it may not be harmful to push forward the update. If the state did not change, I guess the next function (update_track_file_status) will early-return, so no unnecessary cycles are burned.

[2020-04-23 10:18] pqarmitage commented on #1554
@arulkumar9690 Can you please post the output of `ip -d link show` in both the default namespace and the VRF1 namespace.

v-br10 and v-br11 are created with different parent interfaces, but they have the same mac address. br10.v257's parent interface is the parent of v-br10 rather than v-br10, which would normally suggest that v-br10 is a macvlan interface. Anyway, the `ip -d link show` outputs wi

[2020-04-23 12:39] pqarmitage commented on #1555
I have just tested the patch and while it does fix the checkers problem it breaks vrrp instances tracking the file. I have also noticed that the reading of the files occurs AFTER the initial ipvs configuration has been set up, which is too late since it means that the real servers are configured with a non zero weight, and then after reading the track files, the weight is, in your case, set to 0,

[2020-04-23 13:02] libesz commented on #1555
Thanks for the update. So then the initial ipvs configuration shall be altered instead?

[2020-04-23 13:06] gregnetau commented on #1550
@vzFqMJlWol!voy22zL5MSMC

[2020-04-23 17:19] pqarmitage commented on #1550
This problem is triggered by an invalid `lb_kind` being specified (`nat`); the valid `lb_kind` values are `NAT`, `TUN` and `DR`, and these are case sensitive. Specifying `lb_kind nat` triggered keepalived to configure invalid (and random) forwarding methods for the real servers.

Commit 2972b4e resolves the issue of keepalived configuring invalid and random forwarding methods, and it will now defa

[2020-04-23 17:19] #1550 closed

[2020-04-24 09:03] pqarmitage commented on #1555
Commit 94ad05a resolves this issue. Many thanks for you help with this.

[2020-04-25 03:23] arulkumar9690 commented on #1554
Behavior is observed in both the scenarios. If we reload keepalived with br11_v4_1 added to the configuration and when we start keepalived with fill configuration.

**ip -d link show (default namespace)**

68: br10: <BROADCAST,MULTICAST,PROMISC,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP mode DEFAULT group default qlen 1000
    link/ether f4:38:e6:51:3a:0f brd ff:ff:ff:ff:ff:ff promiscuity 2

[2020-04-25 19:49] pqarmitage commented on #1554
The interfaces v-br10 and v-br11 and macvlans rather than vlans, and this is fundamental to the issue.

This issue is resolved by commit ac7f279.

[2020-04-25 19:49] #1554 closed

[2020-04-27 09:53] DanielFuchs98 commented on #1492
Are there plans to update the version in debian buster? The current version https://packages.debian.org/source/buster/keepalived (2.0.10-1) is affected of the bug.

[2020-04-27 10:08] pqarmitage commented on #1492
@DanielFuchs98 You would need to take this up with Debian. We are upstream and it is the distros who manage what they package and what versions.

However, it should be quite straightforward for you to build your own .deb package from the latest version of keepalived and install that.

[2020-04-27 12:23] libesz commented on #1555
Thanks @pqarmitage . Could you please confirm that the `delay_loop` option is not used at all for virtual_servers if only `FILE_CHECK` based checkers are configured for the real_servers?

[2020-04-27 12:31] libesz commented on #1555
Also, I found possibly unitialized data in the logs, created as part of this fix:
[code]

[2020-04-27 13:29] pqarmitage commented on #1555
18446744073709551615 = 2^64 - 1 = ULONG_MAX
4294967295 = 2^32 -1 = UINT32_MAX

These values are used to indicate that the parameter has not been configured, and so it is disabled. For a FILE_CHECK checker delay loop, warmup, retries and delay before retry are not relevant and hence aren't set (I think this answers your previous comment as well).

For checkers other than FILE_CHECK, they are all ru

[2020-04-27 13:34] libesz commented on #1555
Thank you. That confirms all my questions.

[2020-04-27 20:52] jckasper opened #1561 "IPVS cleanup not done if SIGHUP occurs"
**Describe the bug**
When using the IPVS feature of keepalived, the virtual server and real servers are normally cleaned up when the keepalived service ends.  If a SIGHUP signal has arrived since the keepalived service was started, then clean up of the virtual server and real servers is not done when the keepalived service ends.

**To Reproduce**
- Configure keepalived service with 1 or more virtu

[2020-04-28 05:47] Damon-PingCap opened #1562 "Is there only two processes on keepalived version 2.0.x ?"
**Describe the issue**
A clear and concise description of what the issue is.
I found there are three processes on the os when keepalived version 1.2.20  running，but only two processes on keepalived version 2.0.8 and 2.0.40 。
Is this normal?
OS is  centos 7.3

[2020-04-28 06:49] pqarmitage commented on #1562
That is correct, depending on your keepalived configuration, which you haven't provided.

[2020-04-28 06:49] #1562 closed

[2020-04-28 10:59] zhexuany opened #1563 "VIP is keeping switching between nodes"
**Describe what you need help/support for**
We recently found that VIP keeps switching between two keepalive nodes. It results in communication link failures. Via tcpdump, we find that APP's mac address transporting to keepalive nodes. We want to know is it a bug or a bug fixed in the later version. We're like to locate the root cause.

**Details of what you would like to do with keepalived**
Desc

[2020-04-28 13:50] pqarmitage commented on #1563
@zhexuany Can you please describe what you mean by: `we find that APP's mac address transporting to keepalive nodes`. Along with an explanation, the tcpdump output might be helpful.

The syslog entries you show above do not show any keepalived entries. This probably means that your syslogd is configured to write keepalived logs to another file. We will need to see the keepalived logs from both nod

[2020-04-28 13:53] pqarmitage commented on #1561
As a quick workaround, you could try using `lvs_flush_onstop VS` or `lvs_flush_on_stop` if there is no other IPVS configuration on the system.

I will have a look to try and find the cause of the problem.

[2020-04-28 14:00] jckasper commented on #1561
We looked into that, but there are multiple IPVS configurations on the node so that was not an option.   I did scan through the cleanup and SIGHUP re-config code some, but I did not see anything obvious.

[2020-04-28 15:35] DanielFuchs98 commented on #1492
@pqarmitage thanks for the info. I´ve compiled it and replaced the debian version. I will give you an update in 2-3 days.

[2020-04-28 17:09] pqarmitage commented on #1561
My recollection is that using `ipvs_flush_on_stop VS` should be safe since it is designed to only remove the virtual servers that keepalived has set up. It would be interesting to know if you still get the problem using that option.

[2020-04-28 21:18] jckasper commented on #1561
A couple items:
1. I did not even know that there was a `VS` flag on the `lvs_flush_onstop` option.  I was looking here: https://www.keepalived.org/manpage.html and this optional `VS` is not listed.  I think the man page should be updated so that users are aware that this flag is available.

2. I tried out the `lvs_flush_onstop VS` option and I got mixed results:
- There were a few times in which

[2020-04-29 00:41] pqarmitage commented on #1561
@jckasper I will ask Alexandre to update the man page, but if you install the keepalived-doc package, one of the man pages installed is keepalived.conf(5).

I have tried running your configuration on Alpine 3.11 with keepalived v2.0.19 and cannot reproduce the problem. Could you please provide the following additional information:

1. The commands you are using to start, reload and  stop keepalive

[2020-04-29 08:18] libesz commented on #1561
@pqarmitage Most probably this is not related, but FYI official alpine build has a patch to force the pid file directory usage in keepalived: https://github.com/alpinelinux/aports/blob/master/community/keepalived/always-use-pid-dir.patch
Can this push keepalived on other code paths during SIGHUP handling?

[2020-04-29 09:08] libesz commented on #1555
@pqarmitage We are still testing this FILE_CHECK feature. I think there might be still some issues with the (re)initialization. In the test, keepalived got reconfigured:
* one more `track_file` added (initialliy 4, then 5)
* it is referenced by new `real_server`s
* SIGHUP sent

One of the original `real_server`s is dead:
* not sure if it was dead before the SIGHUP, but after that it is
* IPVS is e

[2020-04-29 11:30] pqarmitage commented on #1561
@libesz I was actually using the Alpine keepalived v2.0.19 package, exactly the same as you were, so the use-pid-fid patch issue will be the same for both of us.

[2020-04-29 11:33] pqarmitage commented on #1555
I will have a look into this. If you could send the logs and configs that would be helpful, ideally the full logs and full configs. I suggest you either compress them or send them to me direct via email. Once we track down the problem this issue can be updated with the relevant information.

[2020-04-29 11:57] libesz commented on #1555
Thanks! Sent them in email.

[2020-04-29 21:05] jckasper commented on #1561
The Alpine keepalived v2.0.19 package is running inside of an IBM Cloud Kubernetes Service (IKS) cluster.  The problem has been created on IKS clusters of various sizes (3 node to 100+ nodes) and releases (1.13 - 1.17).   In an IKS cluster, the Kubernetes Load Balancer service is provided by a pair of Kubernetes pods each running the Alpine v2.0.19 package/service.  Each of the pods is defined as

[2020-04-30 01:42] jckasper commented on #1561
Ok.  I recreated the issue and I have captured the `keepalived-check.data` and the entire logs from the keepalived service from start to end.  I am attaching 3 sets of keepalived.log / keepalived_check.data:
- failure = SIGHUP was done, cleanup of the IPVS rules did NOT occur
- nosighup = SIGHUP was not done, cleanup of the IPVS rules worked fine
- worked = SIGHUP was done -AND- cleanup of the IPV

[2020-04-30 08:34] arulkumar9690 opened #1564 "Keepalived crashes are observed when reloaded with the configurations"
**Describe the bug**
Configure 128 VLAN's and 64 VRF in the device A and B where 2 VLAN's are associated with a VRF in following configuration set. Configure device A with two VLAN's [X]  and [Y] in non-default namespace [VRF1]. Configure VLAN [X] with vrrp-group 1 and assign virtual address[ x.x.x.x ]. Configure VLAN [Y] with vrrp-group 1 and assign virtual address [y.y.y.y]. Configure device B w

[2020-04-30 11:47] arulkumar9690 commented on #1564
Attached Keepalived logs

[Device_A_keepalived_logs.txt](https://github.com/acassen/keepalived/files/4558019/Device_A_keepalived_logs.txt)

[Device_B_keepalived_logs.txt](https://github.com/acassen/keepalived/files/4558022/Device_B_keepalived_logs.txt)

[2020-04-30 22:55] minhla12 opened #1565 "Net-namespace per vrrp instance"
**Is your feature request to resolve a problem or provide enhanced functionality? Please describe.**
This would be an enhanced functionality for network namespace. Currently a keepalived process can only be in a single network namespace. All vrrp instances in the keepalived process belong to the single network namespace. The namespace option is provided either as a global definition "net_namespace

[2020-05-04 00:48] pqarmitage commented on #1564
@arulkumar9690 Can you please confirm whether you have a single non-default namespace and all the keepalived instances are run in that one namespace, or are there multiple network namespaces with each keepalived instance run in a separate namespace.

The configurations you have provided for device A and device B are identical. Is that correct?

Could you also please identify exactly what source co

[2020-05-04 07:25] arulkumar9690 commented on #1564
- Yes there are multiple network namespaces where four keepalived instances [two v4 keepalived instances + two v6 keepalived instances ] runs in each namespace.

- Yes the configuration files are correct. Reason: - ip and ipv6 address configured on vlan in device A and device B are different but the vrrp-group and virtual address configured on vlan in device A and device B are same.

- While execu

[2020-05-04 17:04] DanielFuchs98 commented on #1492
Looks good!

[2020-05-05 08:53] pqarmitage commented on #1561
In the failure situation, the following log messages are missing:
[code]
This is consistent with the IPVS configuration not being cleaned up, in other words when the above log messages are output the IPVS configuration is cleaned up, and when the above messages are not output then the IPVS configuration is not cleaned up.

So far as I can see from the code in sigend() in keepalived/core/main.c, a

[2020-05-05 14:52] jckasper commented on #1561
I agree the current log files did not show much difference between working/failing cases.
Yes, I should be able test out some diagnostic patches.

[2020-05-05 16:56] pqarmitage commented on #1561
I have just been doing some other testing with reloading keepalived and am finding strange behaviour with the IPVS code and it is segfaulting. Certainly on occasions keepalived is not clearing the IPVS configuration, just as you are experiencing, so I am hoping it has the same cause and I can track it down.

One thing that I am seeing is that whenever the keepalived IPVS process segfaults, the par

[2020-05-05 18:40] jckasper commented on #1561
When I have the following processes running:
[code]
PID 1 = custom GO code
PID 24 = main keepalived service
PID 25 = Healthcheck child process
PID 26 = VRRP child process

Problem can be re-created by sending SIGHUP to the 25 / Healthcheck child process, followed by sending SIGTEM to 24 / main keepalived service.  The SIGHUP is not terminating the Healthcheck child process (pid is still active aft

[2020-05-05 19:01] jckasper commented on #1561
**Update:**  I am now able to re-create a segmentation fault (SIGSEGV) in the Healthcheck child process fairly reliably by first sending a SIGHUP to that PID and then 10 to 15 seconds later, a SIGTERM to that same PID.   This re-creates the original issue 4 out of 5 times.  The first thing that appears in the console/logs (while processing the SIGTERM) is the segmentation fault.  If the SIGHUP is

[2020-05-05 19:18] pqarmitage commented on #1561
Since you are getting a SIGSEGV, can you get a coredump and do a stack backtrace with gdb? If you can, it would be useful to do it several times since what I am seeing is inconsistent.

Can you also try sending the SIGHUP and SIGTERM signals to the parent keepalived process, since that is really the intended usage.

[2020-05-05 20:04] jckasper commented on #1561
The keepalived service is running in an Alpine container.  A core dump file is not being generated when the health check child process gets this segmentation fault.  How do I force the core dump  file to be generated on Alpine?

Sending SIGTERM to the main keepalived parent process terminates the Alpine / Kuberenetes pod in which the keepallived service is running... making it rather difficult to

[2020-05-06 17:46] pqarmitage commented on #1561
@jckasper Commit d233d32 fixes the segfault I have been observing. Whilst I can't be certain that it will fix your problem, what I can say is that the problem that the commit fixes could definitely have been the cause of your problem. When the problem was occurring what I was seeing in the logs exactly matched what you were seeing.

[2020-05-06 17:50] pqarmitage commented on #1564
@arulkumar9690 Commit d233d32 resolves a segfault problem that can occur any time after a reload and the commit could well resolve your issue.

If you could try running your scenario with a version of keepalived incorporating the commit and feed back whether or not it resolves your problem it would be very helpful.

[2020-05-06 17:51] pqarmitage commented on #1563
Closing due to no response for over 8 days.

If the problem is still occurring for you and you can provide the additional information requested above, we can reopen the issue.

[2020-05-06 17:51] #1563 closed

[2020-05-07 08:09] WilliamDEdwards commented on #1530
Ah, I see. I did not see that commit, despite my searches :)

Done: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=958898

[2020-05-07 09:23] libesz commented on #1561
@pqarmitage I mananed to collect a backtrace from a core dump from the segfault when sending SIGHUP+SIGTERM to the checker pid.
There it is:
[code]
Hope this helps to determine if the recent fix should cover this or not. I can send the dump as well in email if needed.
I am heading to test the fix as well in the same environment.

[2020-05-07 09:42] libesz commented on #1561
I can confirm the fix eliminated the segfault and seems the services are disabled (so IPVS shall be cleaned up) properly, according to the logs:
[code]

I've also tried to manually send a SIGHUP to the checked process, than tear down and terminate the entire keepalived service, and IPVS is cleaned up.

We might wait @jckasper to confirm also the fix is effective.

[2020-05-07 14:20] jckasper commented on #1561
I tested the updated keepalived image (thanks @libesz) and the IPVS rules are now cleaned up after a SIGHUP has occurred.

[2020-05-07 15:06] pqarmitage commented on #1561
Well that's good news. Many thanks @libesz and @jckasper for your input and for testing; that was certainly a tricky issue to track down.

@jckasper are you happy to close this issue now?

[2020-05-07 15:07] arulkumar9690 commented on #1564
@pqarmitage compiled keepalived with the commits ac7f279 and d233d32.

compilation of keepalived failed with the following error

scheduler.c: In function ‘process_threads’:
scheduler.c:1828:14: error: ‘thread_master_t {aka struct _thread_master}’ has no member named ‘current_thread’; did you mean ‘current_event’?
    thread = m->current_thread;
              ^~
scheduler.c:1835:39: error: ‘THREAD

[2020-05-07 15:18] jckasper commented on #1561
Yes, this issue can be closed.  Thank you for finding/fixing it.

[2020-05-07 15:36] #1561 closed

[2020-05-07 16:41] libesz commented on #1561
@pqarmitage thanks for the fix! Do you think this may also cover https://github.com/acassen/keepalived/issues/1555 ? Since as I remember there is also a SIGHUP related misbehavior...
I can go and re-test the new file based checker configuration with the latest source tree if you think it is worth to.

[2020-05-07 17:16] pqarmitage commented on #1561
@libesz I think it is unlikely to fix #1555, but if you could test it that would be really helpful rather than me trying to chase down a problem that no longer exists.

[2020-05-07 17:32] pqarmitage commented on #1564
@arulkumar9690 Many thanks for testing this. I think probably you will need to update fully to commit d233d32 rather than cherry picking certain commits since there may be other commits that you are missing that have an impact on this issue.

I will have a look at the stack trace you have provided, but I do rather suspect that the response will be _Please try the code at commit d233d32._

[2020-05-07 17:44] pqarmitage commented on #1564
I have noticed in your log files that you are getting mnl_socket_recvfrom errors, with errnos 2, 95 and 97. I am not getting these errors when I run the same test, and so I wonder if they are indicative a a shortage of system resources. Is it possible that when you are doing the reload that the system is running out of some resource and that triggers the errors? It is quite possible that we are no

[2020-05-08 12:51] libesz commented on #1555
I tested this issue with the recent source tree (https://github.com/acassen/keepalived/commit/2c65ca8e39ec07bcd365af75a4aea04c62d24291). The issue is still persistent and I found this way to reliably reproduce it:
* Assume we have multiple vs * rs configured with the new file trackers
* At the initial startup, there are inactive rs -es
Config snippet:
[code]
Initial ipvs is correct, like:
[code]
*

[2020-05-08 13:08] libesz commented on #1555
I assume the wrong state change is invoked here: https://github.com/acassen/keepalived/blame/2c65ca8e39ec07bcd365af75a4aea04c62d24291/keepalived/check/ipwrapper.c#L915
According to the git message it should solve the issue which we have here :).

[2020-05-08 14:19] pqarmitage commented on #1561
Commit 1344729 ensures that if a child process segfaults while terminating then the parent process will log that accordingly. One of the original problems with the issue was that there was no indication that the vrrp process had segfaulted, and indeed the parent reported that the vrrp process had successfully terminated.

[2020-05-08 14:47] vincentbernat opened #1569 "Keepalived cannot handle multiple incoming/outgoing interfaces and unicast"
**Describe the bug**
When using `unicast_peer`, I would expect Keepalived to use system routes to contact the peer. However, Keepalived only sends and receives using the main interface. Therefore, if the peer is not reachable through this interface or if the remote peer sends VRRP announces through another interface, Keepalived gets confused.

**To Reproduce**
On host 1:
[code]

On host 2:
[code]

[2020-05-08 14:48] vincentbernat commented on #1569
For reference, here is the complete setup:
- https://github.com/vincentbernat/network-lab/blob/bfa33aaed642814aa218e2dae219d36167d5dac6/lab-keepalived-unicast/setup
- https://github.com/vincentbernat/network-lab/blob/bfa33aaed642814aa218e2dae219d36167d5dac6/lab-keepalived-unicast/keepalived.K1.conf
- https://github.com/vincentbernat/network-lab/blob/bfa33aaed642814aa218e2dae219d36167d5dac6/lab-kee

[2020-05-12 16:00] dpajin opened #1570 "VRRP using snmp and notify fifo script, fifo receives invalid notify change when snmpd is restarted"
**Describe the bug**
I am using SNMP with keepalived and VRRP and notify fifo script. When snmpd is restarted, keepalived_vrrp is restarted, but after the new start, vrrp notify fifo script do not receive usual "INSTANCE <name> <state> <priority>", but receives some "junk", like `fifo received: NTNE"pnt"BCU 4`

Here is the log:
[code]

**To Reproduce**
Any steps necessary to reproduce the behaviou

[2020-05-14 10:14] pqarmitage commented on #1570
The log above shows that the keepalived vrrp process segfaulted. Are you able to provide a stack backtrace using gdb so that we can see where the problem occurred?

[2020-05-14 11:32] dpajin commented on #1570
Unfortunately, I don't know how to do that. Maybe you can help with the suggestion?
I tried something like this, but I don't get any stack trace or I don't know where to look for it?

[code]

[2020-05-14 14:12] pqarmitage commented on #1570
After the segfault occurs, a coredump should be produced. The configuration files:
       /etc/systemd/coredump.conf
       /etc/systemd/coredump.conf.d/*.conf
       /run/systemd/coredump.conf.d/*.conf
       /usr/lib/systemd/coredump.conf.d/*.conf
should help identify the location of the corefile.

Once you have located the coredump file, run `gdb <PATH_TO_KEEPALIVED> <PATH_TO_COREDUMP>` and the

[2020-05-14 16:14] dpajin commented on #1570
I noticed in the mean time a few more thing to mentioned:
- This issue described in the first comment happens when SNMP daemon is restarted. The first two state changes FIFO buffer will receive some "junk", but after that it looks normal. This "junk" characters are actually part of the string that is expected to be received, but for some reason, some random characters are omitted (missing)
- When

[2020-05-14 18:31] araujorm commented on #1570
@dpajin You have snmp enabled, if you don't need it just remove the lines `enable_snmp_vrrp` and `enable_snmp_checker`.

@pqarmitage I'm having the same issue, with just `enable_snmp_vrrp`. I need SNMP, however.

Fresh compilation of keepalived v2.0.20 on CentOS 8 (built the latest source in an RPM and compiled with the same options as the EPEL package, as follows):
[code]
This also happens with t

[2020-05-14 18:45] araujorm commented on #1570
Ok, I was able to run it with `coredump gdb`, also installed the debug infos so this should make it easier (although it still complains about some missing, they are installed). For now I got this:
[code]
Anything else I can provide to help fixing this?

Thanks in advance.

[2020-05-14 18:54] pqarmitage commented on #1570
@araujorm Do you do a reload of the keepalived configuration before the segfault (@dpajin indicates that he has done a reload).

The stack backtrace, and the symptoms described, look very like issue #1561. Can you please try using keepalived at commit 1344729 and see if that resolves the problem.

[2020-05-14 18:57] pqarmitage commented on #1564
Closing due to no response for 7 days. If you are still having the issue we can reopen the issue.

[2020-05-14 18:57] #1564 closed

[2020-05-14 18:59] araujorm commented on #1570
No, it happens when I start keepalived with the `enable_snmp_vrrp` option. In version 2.10 it happened every time as long as that option was active, now it just happens if keepalived is master (and it goes on in a loop, crashing and restarting, breaking hell loose since the notify scripts are launched multiple times in parallel.

Will try the commit you mentioned tomorrow.

[2020-05-14 19:25] dpajin commented on #1570
@araujorm, good catch, my bad! Thanks!

[2020-05-14 19:53] pqarmitage commented on #1569
@vincentbernat I have nearly completed the work on this, but it would be very helpful if you could test what I have done so far.

The only outstanding functionality at the moment, so far as I am aware, is properly handling the unicast src address being deleted from or added to interfaces and appropriately leaving or going to fault state.

I do need to further check the changes for SNMP, DBus and J

[2020-05-14 21:02] vincentbernat commented on #1569
Oh, I didn't thought you would have made the change! In the meantime, I am just using VXLAN with unicast flooding to workaround the issue. I'll test your patch and look at the SNMP part during this week-end.

[2020-05-15 08:56] pqarmitage commented on #1569
Once I understood what the issue was I realised that it was quite pertinant; I just didn't realise how big an impact it would have no longer having an interface for a vrrp instance.

While implementing this change, it occurred to me that using ifindex as part of an OID may be dubious (this applies to the RFC MIBs as well). If an interface is deleted (e.g. a hot-swap interface card or USB device is

[2020-05-15 09:28] vincentbernat commented on #1569
Most vendors, ensure the ifindex does not change for an interface by keeping some persistence file. This is the default for Juniper and this has to be enabled on Cisco IOS (and I think this is the default on more modern versions).

Net-SNMP doesn't have this feature so people should be used for the OID to change when the index change. This happens for IF-MIB as well. I am not using SNMP a lot with

[2020-05-16 03:05] duanbaihong opened #1571 "In the case of multiple network cards, VRRP fails to realize VIP switching (Track_scripts mode) after the interface of intance is set above the second network card"
**Describe the bug**
In the case of multiple network cards, VRRP fails to realize VIP switching (Track & U scripts mode) after the interface of intance is set above the second network card

**To Reproduce**
In the case of multiple network cards, VRRP fails to realize VIP switching (Track & U scripts mode) after the interface of intance is set above the second network card

**Expected behavior**
A

[2020-05-16 09:23] vincentbernat commented on #1569
Your patch works for me. As for Net-SNMP, I am currently unable to compile Keepalived with SNMP support due to `#include "parser.h"` including files from Perl instead of Keepalived. Is that a known problem? Net-SNMP is a pain with respect on how brain-dead he is to link with. I'll try to propose a non-intrusive fix.

[2020-05-16 10:35] pqarmitage commented on #1571
I am not clear what your issue is here. Certainly there is no known issue with multiple interfaces and which ones are used; I have run keepalived with 248 interfaces successfully.

There is an error in your configuration as you have posted it, in the line above `vrrp_instance REDIS_INSTANCE_2 ` since there is no `#` at the beginning.

Since you are using `nopreempt` and the track_scripts have weig

[2020-05-16 14:32] duanbaihong opened #1572 "Keepalived --enable-profile failed,on CentOS 7.2"
**Describe the bug**
The following error will appear during Make:
[code]
**To Reproduce**
Any steps necessary to reproduce the behaviour:
My compilation parameters: / configure --prefix = / a / apps / keepalived --enable-json --enable-sha1 --enable-profile;
make

**Keepalived version**
keepalived-2.0.20

**Distro (please complete the following information):**
CentOS
7.2.1511
x86_64

[2020-05-16 14:43] duanbaihong commented on #1571
Thank you for your answer! It may be that my description is not clear enough. I will describe it again.
1. When the interface of my NGINX_INSTANCE_1 is set as long as it is not the first online, the VIP will not be switched when the priority is lowered, and the VIPs of both KEEPALIVED hosts will exist at the same time. I feel that KEEPALIVED cannot receive multicast packets, but I use TCPDUMP pack

[2020-05-16 16:50] pqarmitage commented on #1572
Many thanks for reporting this. If you add the `--disable-hardening` option, then it should build OK.

I will try and add a test for this problem in configure.ac.

[2020-05-16 19:12] araujorm commented on #1570
Hello.

Updated to commit 134472979b602128302112c69a5be0be98c36f58 but issue sitll persists, exactly as before, according to gdb in the exact same spot:
[code]

It happens every time I use `enable_snmp_vrrp`.

I think I know when this is happening: we have a notify script that restarts some services when the state changes. One of those is the snmp service (to ensure cacti and alikes don't start me

[2020-05-18 10:36] rozmanro1 opened #1573 "Log error & traffic loss when resetting 2 devices, in a 3 devices setup."
Hi all,
Would like your advice regarding the next issue:

I have a 3 devices setup, all 3 routers connected to a SWITCH (8 ports).
Device_A: 192.168.20.1 on eth4 -> connected to switch port eth2 using vlan 100.
Device_B: 192.168.20.2 on eth4 -> connected to switch port eth3 using vlan 100.
Device_C: 192.168.20.4 on eth4 -> connected to switch port eth4 using vlan 100.

Virtual_IP: 192.168.20.3

**

[2020-05-18 14:21] pqarmitage commented on #1573
My guess is that this is something to do with your switch. If device B and/or C go down or are reset, keepalived on A should not know anything about it and so should not behave any differently from how it was before devices B and/or C go down.

There are two interesting aspects, as you have highlighted:
1. `Unknown VRID(2) received on interface(vrrp.50). ignoring...`. It would be useful to see the

[2020-05-19 10:34] tanshaolong opened #1574 "Keepalived service can’t start after os system reboot"
**Describe the issue**
I installed keepalived at a mysql cluster and set “enabled” value of keepalived service to yes. The keepalived worked well. I reboot a mysql node but I found the keepalived service didn’t start after the os started. I can start the keepalived service manually.
   I don’t know the reason of the issue. I just guest some services that keepalived is necessary start slow than kee

[2020-05-19 11:17] pqarmitage commented on #1574
I presume you have run `systemctl enable keepalived` to enable keepalived. If not, could you please explain what you have done to enable keepalived.

When I reboot my CentOS 7 VM with keepalived enabled, it starts up without a problem.

From the logs above, which I assume is following an OS reboot, keepalived does start, but for some reason systemd then stops keepalived - the log entry `systemd: S

[2020-05-19 11:17] #1574 closed

[2020-05-19 12:45] wdauchy opened #1575 "fined grained namespace support"
Hello,

We have a setup such as:
- physical interface is in the root namespace
- VIP are placed within a dedicated namespace

We would like to be able to do the health checks from the root namespace, and configure ipvs routes in a dedicated namespace. The main advantage is to easily isolate the two types of traffic on a given host and to minimise performance penalties associated with a conventiona

[2020-05-19 13:43] wdauchy commented on #1575
(@pqarmitage even though I'm waiting for your approval regarding this feature, I started something on my side and might propose a patch for a minimal support of such feature)

[2020-05-19 15:18] pqarmitage commented on #1575
I'm very happy to have a look at a patch.

Some thoughts that have occurred to me and will/might cause problems:
1. The use of `lvs_sync_daemon` will not work as it does currently, since the configuring of the sync daemon is handled by the VRRP process rather than the health checker process.
1. Will SNMP, JSON and DBus still work?
1. Will communication between the VRRP and BFD process and between

[2020-05-19 16:29] wdauchy commented on #1575
Thank you very much.
I will have a look at the different points raised as I'm not an expert user of keepalived. However, what do you think about a first minimal support which would do:
- add new global keyword `namespace_with_ipvs`
- once set, this keyword will change the `net_namespace` parameter behaviour such as: the process won't be moved into a different namespace, but only socket to ipvs wou

[2020-05-19 18:12] araujorm commented on #1570
Hello.

I've created a simple way to always reproduce this issue, with the following config files.

* `/etc/keepalived/keepalived.conf`:
[code]

* `/etc/keepalived/keepalived-change.sh`:
[code]
(don't forget to `chmod +x /etc/keepalived/keepalived-change.sh`)

Next, ensure you have snmpd installed (net-snmpd package on RHEL based OSes), add `master agentx` to `/etc/snmp/snmpd.conf` (or equivalent

[2020-05-19 21:14] wdauchy commented on #1575
@pqarmitage I've pushed a first proposal. What do you think? If not perfect, it should give a first idea of what it could be / what I had in mind.

[2020-05-20 08:28] rozmanro1 commented on #1573
It really seems like the switch is the problem.
In wireshark on Device_A we don't see anything that would confirm the looping.
no additional/weird packets.
But when tried to use other simple switch without the VLANS we don't see such behavior.

Thanks for your suggestion.

[2020-05-20 08:48] #1573 closed

[2020-05-20 08:50] pqarmitage commented on #1570
@araujorm Many thanks for the info. I will have a look at this in the next few days.

[2020-05-20 12:19] pqarmitage commented on #1575
@wdauchy Many thanks for this patch. I have a small number of comments:

1. `namespace_with_ipvs` is not, I think, the most descriptive name, and also the way it is implemented means that the vrrp process can only run in the default network namespace. Could you please change it to `net_namespace_ipvs` which takes an optional parameter which is the network namespace name; if the optional parameter

[2020-05-20 16:50] pqarmitage commented on #1571
When you change the interface of NGING_INSTANCE_1 do you change it in the configuration on the other system as well?

It is possible that there may be a firewall issue or connectivity issue between some of your interfaces. This is not a known keepalived issue, and I have run keepalived when there are several hundred interfaces and using any of the interfaces works.

[2020-05-20 17:50] wdauchy commented on #1575
Thanks for the feedbacks! I will have a look.

[2020-05-20 18:51] Urvik08 commented on #1503
@ak503 Would you mind sharing the problem and how did you troubleshoot? I am seeing similar issue on my setup.

[2020-05-21 07:46] ak503 commented on #1503
@Urvik08, I think virtual boxes have some problem for L2. I tested on real machines. And keepalived works well

[2020-05-21 18:17] minhla12 commented on #1565
Hi, any update for the request?

[2020-05-21 18:49] acassen commented on #1565
netns are pid oriented. Current VRRP code run into a single same process. So right now no.

But this kind of feature looks like a commercial need or a large scale need. This can be a very nice nice extension, and if your company is considering running this feature it is a good opportunity to sponsorized Keepalived core-team for it.

Contact me privately if interested.

Right now we are extending c

[2020-05-21 18:50] acassen commented on #1565
I would also strongly recommand upgrading to last release... 1.2.24 is way too old. I am closing the issue, since this is not an issue but rather a feature request.

[2020-05-21 18:50] #1565 closed

[2020-05-22 13:01] inspirit1986 opened #1577 "Problem with keepalived restart"
Hi, I have a little problem.
So, I have two nodes in keepalived cluster.
One node is master(prio 30) and one is backup(prio 20).

When I restart keepalived on master(systemctl restart keepalived) then keepalived on backup node goes to Master state immediately then it goes back to backup state again.

How can I can make restart keepalived service on master node and backup node stay in backup state.

[2020-05-22 15:16] pqarmitage commented on #1577
This depends on the reason you want to restart keepalived. If what you really want to do is load a new configuration, then you should **reload** keepalived (_systemctl reload keepalived_) as opposed to **restart** it; then the keepalived instance will not stop running, and will remain master for any vrrp instances for which it was master and the new configuration dictates it should still be master

[2020-05-22 15:16] #1577 closed

[2020-05-22 17:07] wdauchy commented on #1575
@pqarmitage I just uploaded an updated version of the patch:

1. change done apart from using the default network namespace name if `net_namespace_ipvs` parameter is not specified. Indeed I'm not entirely convinced by this implicit behaviour; it also complexifies the code for no major reason. But if you still think it is worth it, I can change it. So for now `net_namespace_ipvs` requires a paramet

[2020-05-25 10:12] pqarmitage commented on #1570
Commit 616ad32 resolves this issue.

[2020-05-25 10:12] #1570 closed

[2020-05-25 10:13] pqarmitage commented on #1572
Commit acff467 resolves this issue.

[2020-05-25 10:13] #1572 closed

[2020-05-25 10:37] pqarmitage commented on #1575
I think the socketat() you reference was misnamed. The `*at()` functions, compared to the versions of the functions without the `at` act on files etc where relative paths are taken to be relative to a directory referenced by an fd instead of the current directory. That was not the case with the proposed `socketat()` function.

Many thanks for updating your patch following the updates I pushed earl

[2020-05-25 15:27] gabbiano83 opened #1579 "monitoring tools"
I'm wondering if there is any graphical monitoring tool to monitor IPVS session, status, and so on for recent linux distribution.

I'm searching and found old mon.cgi project: http://moncgi.sourceforge.net/index.php/mon.cgi/cvs
But with recent version does not work correctly due to lvs init.d script.

Thanks for your help

[2020-05-25 15:43] araujorm opened #1580 "New segfault when using keepalived and SNMP"
**Describe the bug**
New bug after https://github.com/acassen/keepalived/issues/1570 is fixed.

Running https://github.com/alaskacommunications/nagios_check_keepalived/blob/master/check_keepalived_vrrp.pl crashes keepalived with:
[code]

**To Reproduce**
Configure keepalived as described in https://github.com/acassen/keepalived/issues/1570#issuecomment-630991711 and run https://github.com/alaskaco

[2020-05-25 18:45] araujorm commented on #1580
Hello.

What follows is an more detailed and simpler method of reproducing this.

1. Install net-snmp (the package that has snmpd daemon) and net-snmp-utils (or equivalent on your distro)

2. Configure `/etc/snmp/smpd.conf` (adjust path for distro) as follows:
[code]

3. Start snmp daemon: `systemctl start snmpd`

4. Start keepalived with the same configuration as https://github.com/acassen/keepal

[2020-05-26 06:59] pqarmitage commented on #1579
This is not really a question about keepalived, but rather about IPVS, and would be better addressed to  the LVS mailing list - see http://www.linuxvirtualserver.org/mailing.html.

Since keepalived supports SNMP, any SNMP graphical monitoring tool should be able to provide an element of what you want, but from your question it appears that it is IPVS that you want to monitor and not keepalived.

[2020-05-26 06:59] #1579 closed

[2020-05-26 07:32] pqarmitage commented on #1580
If you apply commit 2e59052 from the alpha branch it should resolve the issue.

[2020-05-26 07:32] #1580 closed

[2020-05-26 07:51] 79U opened #1581 "keepalived Pre-defined variables / Sequence blocks"
**Is your feature request to resolve a problem or provide enhanced functionality? Please describe.**

keepalived currently only supports sequence blocks with fixed steps, which is quite useful for continuous/regular resources configuration. however, we need sometimes to allocate a list of user-defined resources. it should be defined like a variable but act like sequence blocks.

**Describe the sol

[2020-05-26 08:20] wdauchy commented on #1575
thanks, feel free to ask more changes, I can handle them.

[2020-05-26 10:15] araujorm opened #1582 "SNMP segfault not solved (continuation of issue 1580)"
**Describe the bug**
Continuation of https://github.com/acassen/keepalived/issues/1580 , please see there for all the details on how to reproduce.

That issue still persists (I cannot reopen it, so I have to open a new one, github should fix that...)

Doing the exact same steps mentioned in https://github.com/acassen/keepalived/issues/1580#issuecomment-633682061 still triggers a segfault albeit in

[2020-05-26 10:19] acassen commented on #1582
I am working on it. Will push a patch quickly.

[2020-05-26 10:21] acassen commented on #1582
Please provide your conf, so I can double-check while fixing.

[2020-05-26 10:37] araujorm commented on #1582
Hello.

Please see here for a simple SNMP daemon config and snmpwalk to trigger the issue: https://github.com/acassen/keepalived/issues/1580#issuecomment-633682061

Please see here for a simple keepalived config (you can ignore the notify script and comment that line, not needed for this issue): https://github.com/acassen/keepalived/issues/1570#issuecomment-630991711

[2020-05-26 10:39] acassen commented on #1582
you test are based on alpha branch ?

[2020-05-26 10:51] araujorm commented on #1582
Based on master with additional patch from commit 2e5905227f8512c7d73fa7082c17673731e40a92, should be the same as alpha.

[2020-05-26 13:47] pqarmitage commented on #1575
@wdauchy Many thanks for you patch which I have now merged along with a couple of other commits just to tidy things up a bit.

[2020-05-26 13:47] #1575 closed

[2020-05-26 14:17] wdauchy commented on #1575
thanks a lot @pqarmitage
I saw you finally preferred to put the argument optional, ok for me, I could have done the changes if needed though :)

I however personally don't like commit 41b9e5e87b06990ecbdfeac12a8c8dab6b9cff88 because the code is less readable to me. calling the same function in all cases was for me clearer and transparent, i.e condition such as `(default_namespace >= 0 && ipvs_name

[2020-05-26 15:36] pqarmitage commented on #1575
@wdauchy There were a few things that inspired commit 41b9e5e.

The reason I made the changes for using the default namespace was that I needed it for sorting out the issues which I resolved in commit 0878c05 - fix use of libnl for IPVS, otherwise I would have asked you to do it.

The main reason for commit 41b9e5e was that I had changed the code so that the IPVS netlink socket is now kept open fr

[2020-05-26 15:48] wdauchy commented on #1575
Thanks a lot for the explanation @pqarmitage - it helps a lot as the commit message was not verbose on those points.
I was not particularly focusing on coding style, which I agree is a matter of choice.
My comment was more on making sure we have a unique call, so that it allows simple extension in the future for a socket opening, but it's true I overlooked the case where setns call is not availabl

[2020-05-26 18:12] acassen commented on #1582
We just push a commit that fix the issue. Could you please try alpha branch and report ?

[2020-05-27 08:13] pqarmitage commented on #1571
Closing due to no response for over 1 week. If you are still experiencing the problem please update this issue and we can reopen it.

[2020-05-27 08:13] #1571 closed

[2020-05-27 10:52] araujorm commented on #1582
Hello.

The fix partially works.  I say partially, becaus I found another 2 examples where it still crashes (latest alpha tree), when using vrrp sync groups.

First, remembering `keepalived -v`:
[code]

Now:
1. To reproduce the simplest case (found out by accident when trying to compose a minimally working example to post here), use this `keepalived.conf` file and start keepalived (current alpha t

[2020-05-27 10:55] araujorm commented on #1582
Meanwhile I see there are some new commits that can be possibly related... I'll try them to see if any of those fix this.

[2020-05-27 11:38] araujorm commented on #1582
Ok, none of those new commits fix the segfaults on the above example. Just tested and the crashes are reproducible exactly as stated above in https://github.com/acassen/keepalived/issues/1582#issuecomment-634583034 even with latest alpha branch commit f87e165340f7bca19978e20ebbfc01245f3f328e.

Thanks in advance.

[2020-05-27 14:22] acassen commented on #1582
following commit fix the first issue:

https://github.com/acassen/keepalived/commit/1b6b7dc57961b04a15236ed4bb08ef8d41c9e854

[2020-05-27 20:30] acassen commented on #1582
commit https://github.com/acassen/keepalived/commit/35f58108624af003527f81b97cb0fb2d41ad0977 fix second issue.

Please test and report.

[2020-05-28 12:07] xgxzj commented on #1581
it's an enhancement

[2020-05-28 12:33] pqarmitage commented on #1581
It is an enhancement but it is a good idea.

[2020-05-28 13:32] xgxzj commented on #1581
using a similar syntax like '~SEQ(VAR, 1,2,21)', say, '~LST(VAR, 1, 12, 13, ...)', for example, and limiting the length, seems to be an easier and quicker solution.

[2020-05-28 14:31] inspirit1986 opened #1587 "keepalived reload problem"
Hi, I have a problem with keepalived **reload** mechanism and persistence_timeout setup

**To Reproduce**
- start keepalived without persistence_timeout option in configuration
- ipvsadm -Ln (show that we are no persistence flag in ipvs config. ok)
- add **persistence_timeout 13** in keeaplived virtual_service config
-  run systemctl reload keepalived
- ipvsadm -Ln (nothing differs. no persistence

[2020-05-28 16:04] #1582 closed

[2020-05-28 16:21] acassen commented on #1582
Curiosity: How many instances and virtual_server are you running ?

[2020-05-28 17:00] araujorm commented on #1582
I'm running 1 vrrp sync group with 2 vrrp instances, each with a few VIPs. No virtual servers.

I'm using 2 vrrp instances "linked" by a vrrp sync group instead of only 1 vrrp instance to ensure the machines always "see" each other even if a stack of internal switches lose connection (but doesn't lose the link), to prevent having duplicate IPs on the other interface (and if one of the instances go

[2020-05-28 18:13] senthilnathann opened #1589 "keepalived restart related issue"
**Describe the issue**
I have restarted my high priority IP keepalived machine ,it's went to backup state and after few seconds ,automatically come back to  Master state.

Initial state : Master
After restart : Went to backup
After few seconds : Automatically came back to Master

We are using same priority for both Master & Backup.

Why automatically changed as Master ?

High priority IP is the re

[2020-05-29 09:31] Mint-M opened #1591 "Invalid parameter of startup_script_timeout generates segfault"
**Describe the bug**
Invalid parameter of startup_script_timeout generates segfault.
I forget to delete 'SECONDS ' copied from man page and accidentally find this bug.

**To Reproduce**
Build the snapshot version of keepalived(after commit 3c434317a0f9b15cb75d631bb2e0c86ae109835c).
Use the configuration below to start keepalived from systemd or simply test configuration (keepalived -t).

**Expecte

[2020-05-29 09:45] Mint-M commented on #1591
Even the correct parameters could cause crash.
    startup_script /etc/keepalived/start.sh
    startup_script_timeout 1000

[2020-05-29 10:25] pqarmitage commented on #1589
This may have been an issue in v1.2.13, but I have tested this with v2.0.20 (the current version) and the issue does not occur; i.e. if two or more VRRP instances have the same priority, the existing master will carry on as master.

Please upgrade to v2.0.20 and if you still have the problem then update this issue and it can be reopened.

[2020-05-29 10:25] #1589 closed

[2020-05-29 10:32] pqarmitage commented on #1591
Commit 8048c91 resolved this issue.

Many thanks for reporting it.

[2020-05-29 10:32] #1591 closed

[2020-05-29 10:53] pqarmitage commented on #1587
This was resolved in commit 57a6be3.

[2020-05-29 10:53] #1587 closed

[2020-05-29 11:18] Denden54 opened #1593 "Bug on snmp result of vrrpInstanceInitialState"
I have an error on snmp result for a vrrp as we can see here :

12:46:07 # snmpwalk -v2c -cpublic SERVER KEEPALIVED-MIB::vrrpInstanceTable
KEEPALIVED-MIB::vrrpInstanceName.1 = STRING: 5
KEEPALIVED-MIB::vrrpInstanceVirtualRouterId.1 = Gauge32: 5
KEEPALIVED-MIB::vrrpInstanceState.1 = INTEGER: master(2)
KEEPALIVED-MIB::vrrpInstanceInitialState.1 = INTEGER: backup(1)
KEEPALIVED-MIB::vrrpInstanceWanted

[2020-05-29 12:59] araujorm opened #1594 "Segfault when interfaces disappear and reappear"
**Describe the bug**
Keepalived segfaults when interfaces disappear and reappear on some circumstances.

This may not seem likely to happen, but when using interfaces created by, for instance, openvswitch, it can happen a few times (mainly if you have to have the need to restart openvswitch). It can also happen with bonding, bridge, vlan, tun, wireguard and other types of interfaces that may be re

[2020-05-29 13:20] libesz commented on #1555
@pqarmitage I did some further investigation on this issue as it still blocks the usage of track files.
I put a breakpoint to https://github.com/acassen/keepalived/blame/2c65ca8e39ec07bcd365af75a4aea04c62d24291/keepalived/check/ipwrapper.c#L915 and found out that indeed it forces the IPVS states to ON on SIGHUP. These are the RS structs at the breakpoint:
[code]

As you can see, old_rs shows there

[2020-05-29 13:26] libesz commented on #1555
Also at the same breakpoint I think the content of the checker itself is the following:
[code]

It shows `has_run = false` which also might be part of the problem.

[2020-05-29 13:28] pqarmitage commented on #1555
track_file only runs when the file is written to, i.e. there is no polling involved. This is the beauty of using track_files, they are very efficient since the checker only runs when there is a state change.

Commit 4bdafb6 resolves the issue of a failed track file not leaving the real server down after a reload. I was working on this right now, and the one outstanding issue, which I was going to

[2020-05-29 13:35] libesz commented on #1555
Thanks! Will be happy to try out the newest commit when merged.

[2020-05-29 16:19] pqarmitage commented on #1555
@libesz Just to confirm that has been merged.

[2020-05-29 16:40] pqarmitage commented on #1593
`state MASTER` in the configuration doesn't actually do anything.

As it says in the keepalived.conf(5) man page.
[code]

If a VRRP instance has priority 255 it will start in master state, otherwise it will start in backup state. If the priority is less than 255, then there may be another instance with a higher priority, so it is not safe to transition to master.

So, even though `state MASTER` is

[2020-05-29 16:40] #1593 closed

[2020-05-30 09:10] pqarmitage commented on #1594
Commit 3c37ce1 resolves the issue.

[2020-05-30 09:10] #1594 closed

[2020-05-30 14:41] pqarmitage commented on #1555
Commit e27e595 now handles the situation where a track file is added when the configuration is reloaded, and the track file status is down.

[2020-05-31 10:50] pqarmitage commented on #1507
Commit 9672ec3 adds a comment at the end of the keepalived.conf(5) man page.

Many thanks for reporting this problem.

[2020-05-31 10:50] #1507 closed

[2020-06-01 13:26] araujorm commented on #1594
Seems to be working great now, great work guys.

[2020-06-01 18:23] araujorm opened #1599 "VRRP sync group name may be corrupted and can lead to a crash"
**Describe the bug**
The VRRP group name can get corrupted and lead to a crash, if the config file has some quirks.

**To Reproduce**
Use the following config file to start keepalived:
[code]
Note that this only seems to happen when the config file has as a group with only 1 instance, which rightfully so produces a warning when starting keepalived, followed by a message that's probably related:
[c

[2020-06-01 22:02] pqarmitage commented on #1599
Commit 1ae858f resolves this issue. Many thanks for reporting it.

[2020-06-01 22:02] #1599 closed

[2020-06-02 02:16] Mint-M opened #1601 "startup_script as dependency of keepalived instances"
**Is your feature request to resolve a problem or provide enhanced functionality? Please describe.**
The feature helps vrrp instances (and other instances) start conditionally.

**Describe the solution you would like**
Add an option to make startup_script become dependency of keepalived instances. For example, if the startup_script is not found or it exits with a failed code, instances dependent o

[2020-06-02 03:52] Mint-M opened #1602 "Add a default delay for child processes if they exit too frequently in a short time"
**Is your feature request to resolve a problem or provide enhanced functionality? Please describe.**
It prevents keepalived from restarting child process too frequently when they won't recover.

**Describe the solution you would like**
Add a default delay child processes if they exit too frequently in a short time.

**Describe alternatives you have considered**
No alternative solutions.

**Would t

[2020-06-02 03:57] Mint-M commented on #1602
BTW, would you like to add %dist to 'Release' keepalived.spec.in, which fits RH rpm package naming convention more?

[2020-06-02 04:11] Mint-M commented on #1601
Besides, it seems that keepalived only check whether eth shutdown script exist when it starts. If the shutdown script did't exits that time, it would't be executed even the script had been placed to the correct location before shutdown.

A reload before shutdown would help, but the logs during reload shown nothing about startup/shutdown scripts.

Should keepalived recheck shutdown scripts before s

[2020-06-02 07:57] pqarmitage commented on #1602
@Mint-M The most important issue here is that if keepalived child processes are terminating abnormally, then the details of that problem, along with stack backtraces from the coredump, need to be reported as an issue so that we can resolve the underlying problem. The key point is that **keepalived processes should NEVER segfault.**

So, can you please report the details causing the segfault so tha

[2020-06-02 08:13] Mint-M commented on #1602
@pqarmitage The problem which causes segfault has already been fixed by https://github.com/acassen/keepalived/commit/8048c91d2841ebca5d34542a8633a52c8e3e26ea.
In that case, keepalived continuously restarted child processes. However, problem other than keepalived it self might cause segfault such as hardware problem(tainted memory) or other applications.

Since it is more a "feature requested" issu

[2020-06-02 08:21] pqarmitage commented on #1601
@Mint-M I'm glad to see that someone is using the startup script feature; it was something I added on the basis that I thought it might be useful, but I didn't know of anyone had a real use for it.

I think what you are asking for in the first section can be achieved already, and rather than add further specific code to keepalived, it is better to use existing functionality.

If you add a `track_f

[2020-06-02 11:28] achevalet opened #1603 "Duplicate IPs when adding a new vip"
**Describe the bug**
Hi, I've just updated from 1.3 to 2.0 and I'm facing a weird (dummy?) issue. I've a basic vrrp_instance configuration running with 2 VIPs. I want to add a new VIP. I update the config on the standby node first, and restart or reload keepalived (before doing the same on the active node). The problem is that, when restating keepalived on standby node, all 3 VIPs mount on this no

[2020-06-02 16:02] pqarmitage commented on #1603
The problem is that after the reload the standby node is seeing the adverts from the active node as invalid, since they contain the incorrect number of adverts, and so it discards the adverts. Since after 3 * advert interval + a bit it hasn't received a (valid from its point of view) the standby node transitions to master.

As RFC5798 says, when an advert is received:
[code]
and we do this by defa

[2020-06-03 06:27] Mint-M commented on #1601
@pqarmitage Startup script is definitely useful when some service is supposed to be activated before the start of some instances. In my case, virtual ip addresses act as the default gateway for other machine. Therefore, iptables has to be configured so that NAT works with the virtual ip addresses. I used to write scripts which contained NAT rules and they were executed by notify_master/notify_back

[2020-06-03 08:31] pqarmitage commented on #1601
@Mint-M Are you happy for this issue to be closed now?

[2020-06-03 08:46] #1601 closed

[2020-06-03 11:48] achevalet commented on #1603
Thanks for the quick reply.
I've tested `skip_check_adv_addr` and it works (only) with a reload on the active node first. A restart on the active node or a reload or restart on the standby node creates the duplicate IPs mess. Options 2 and 3 might be hard to implement in my puppet managed environments with hundred of keepalived instances.
I find this default behavior very unsafe. As both nodes are

[2020-06-03 13:58] pqarmitage commented on #1603
I think saying that the _default behaviour is very unsafe_ is very much a matter of opinion. From my point of view not checking the contents of an advert to ensure that it matches what is expected, i.e. to ensure that it is not a rogue advert, is _extremely_ unsafe, and the issue of an occasional reload that can be managed around is of somewhat lesser significance.

What you are seeking to do is t

[2020-06-03 22:38] #1603 closed

[2020-06-04 09:45] libesz commented on #1555
@pqarmitage Sorry for still jumping on this 😄 , but this might be again important.
I tested (with the latest relevant commit) the reload cases and something is suspicious in the logs. When new track file is added and referenced, the following log appears (seemingly) with too much instances:
Two VS with one new RS added to both causes 4 lines of logs instead of two:
[code]
If I do it with a 500 VS

[2020-06-05 13:44] araujorm opened #1605 "SNMP stops working after a reload"
**Describe the bug**
Keepalived stops reporting its status via SNMP after a reload.

**To Reproduce**
1. Start your snmp daemon with masterx support, minimal example for `/etc/snmp/smpd.conf` in https://github.com/acassen/keepalived/issues/1580#issuecomment-633682061

2. Start keepalived using the following minimal example `keepalived.conf` file:
[code]

3. Confirm it started and connected to the

[2020-06-05 15:36] pqarmitage commented on #1605
Commit d9c47ef resolves this issue.

[2020-06-05 15:36] #1605 closed

[2020-06-05 17:05] araujorm commented on #1605
Confirmed. Impressive!
Great work, thank you Quentin and Alexandre.

[2020-06-06 14:51] pqarmitage commented on #1569
Commit 557dfbe adds the ability to omit the interface for unicast peers.

This does not yet handle going to FAULT state if the unicast_src_ip is deleted from the system while keepalived is running, or leaving FAULT state if the unicast_src_ip is added. At the moment if the unicast_src_ip does not exist when keepalived starts, the vrrp instance will go to FAULT state and never leave it.

[2020-06-11 10:25] Howard-Chang opened #1615 "Advert_int ping interval is not expected"
**Describe the issue**
A clear and concise description of what the issue is.
When I set the advert_int to 0.5, and watch the tcpdump information.
like `tcpdump -i ens3 -nn 'vrrp' `
the output:
[code]
It seems the ping interval not 0.5s.
When I set the advert_int to 0.4s and watch the tcpdump information.
the output:
[code]

**To Reproduce**
Any steps necessary to reproduce the behaviour:
just set

[2020-06-11 11:08] pqarmitage commented on #1615
You should see a message in your system logs like:
`VRRPv2 advertisement interval 0.400000s must be an integer. rounding`
which explains what is happening.

With VRRP version 2 (VRRPv2), which is the default and also the version the you have to use if you want to use authentication, the advertisement interval has to be a whole number of seconds. If the advert interval is specified with fractions o

[2020-06-11 11:08] #1615 closed

[2020-06-11 16:37] pqarmitage commented on #1581
Commit 264eb68 adds the `~LST(VAR, 1, 12, 13, ...)` option. If also extends it to allow substitution of more that one variable, so
`~LST({IP, IP1}, {10,1},{20,4},{5,6},{12,8}) 192.168.${IP}.${IP1}`
produces:
[code]

More details are near the end of the keepalived.conf(5) man page.

[2020-06-11 16:37] #1581 closed

[2020-06-11 22:58] pqarmitage commented on #1555
Commit 3198d2b resolves the problem of the new track file being processed n^2 times.

[2020-06-12 08:47] pqarmitage commented on #1602
@Mint-M Many thanks for your response, and it is good to know that the segfault has been fixed.

Commit d2aff20 implements rate limiting of respawning child processes. The first time a child process dies, it is immediately respawned. The next time there is a 1 second delay, and each subsequent time is doubled up to a limit of 60 seconds.

If the child process runs for 1 minute or more, it is consi

[2020-06-12 08:47] #1602 closed

[2020-06-12 14:11] pqarmitage commented on #1526
Commit 2e1b19b adds an option for sending "DELETED" rather than "FAULT" after a VRRP instance is deleted on a reload.

In order to make keepalived send DELETED, you need to specify `notify_deleted` on each VRRP instance for which you want it to occur.

[2020-06-12 14:11] #1526 closed

[2020-06-13 19:47] braninl opened #1621 "Keepalive 2.1 crashing on start with segfault"
**Describe the bug**
After Snap automatically refreshed Keepalived to 2.1 this morning, Keepalived started crashing on start once a minute.  Reverting to 2.0.20 immediately fixed the issue.

**To Reproduce**
Any steps necessary to reproduce the behaviour:  Use snap to install Keepalived on Ubuntu 18.04.4 in Classic mode.  Allow snap to refresh Keepalived to 2.1.  See it crash.  Use snap revert kee

[2020-06-14 00:00] mkrogh commented on #1621
Have the same problem on a bunch of servers, except for one pair.

The pair that are working does **NOT** have the following config:

[code]

Removing the `notification_email` seems to have stopped the segfaulting for now.

[2020-06-14 08:10] pqarmitage commented on #1621
Commit 04e18f4 resolves this issue. @branini Many thanks for reporting this, and @mkrogh many thanks for the diagnosis, which helped identify the cause of the issue.

[2020-06-14 08:19] pqarmitage commented on #1621
amd64, i386, ppc64 and s390x stable snaps have been updated, arm snaps are currently building.

[2020-06-14 08:35] acassen commented on #1621
my bad :/ going to push a new 2.1.1 minute release

[2020-06-14 08:36] pqarmitage commented on #1621
All snaps now pushed to stable.

[2020-06-14 08:39] acassen commented on #1621
We definitely/terribly need to request to the community for getting a box to run our regressions test env on it...

[2020-06-14 08:42] braninl commented on #1621
Thank you!   I can confirm that the email issue was causing my segfaults previously and updating to the latest snap has fixed the issue.

[2020-06-14 08:42] #1621 closed

[2020-06-17 06:33] 4ltieres commented on #1266
Hi, we're facing the same issue here, using keepalived v2.1.2 as snap on Debian 10.4.

[2020-06-18 02:11] zhouxudong199 opened #1631 "keepalived running too long，which lead to print “scheduler：epoll_wait error ：invalid argument”"
**Describe the bug**

 keepalived running too long，which lead to print “scheduler：epoll_wait error ：invalid argument”

**To Reproduce**

add same vs or rs to keepalived.conf
systemctl start keepalived
wait some time。

gdb att checker process.
watch master-> epoll_count

**Expected behavior**
when keepalived.conf is not changed, the  epoll_count is not  increased。
under a lot of checkers, donot pri

[2020-06-18 08:46] zhouxudong199 commented on #1631
sloved by https://github.com/acassen/keepalived/pull/1632

[2020-06-18 15:05] pqarmitage commented on #1631
@zhouxudong199 You patch is now merged - many thanks for your help.

[2020-06-18 15:05] #1631 closed

[2020-06-18 16:51] pqarmitage commented on #1266
Commit 4d4f4e4 resolves the problem. The environment variable MAGIC needed to be set to point to the magic data file in the snap itself rather than it picking up the default which was the host system's magic data file.

The updated snaps are now available in the beta and edge channels at snapcraft.io.

[2020-06-18 16:51] #1266 closed

[2020-06-19 07:30] wangxp006 opened #1637 "Shutdown real server ，keepalived will not offline real server using dns checker"
**Describe the bug**
Shutdown real server ，keepalived will not offline real server using dns checker

**To Reproduce**

**startup keepalived  and check real server online status**
[root@openEuler ~]# ipvsadm -Ln
IP Virtual Server version 1.2.1 (size=4096)
Prot LocalAddress:Port Scheduler Flags
  -> RemoteAddress:Port           Forward Weight ActiveConn InActConn
UDP  22.22.54.6:53 rr
  -> 22.22.73

[2020-06-19 07:44] wangxp006 commented on #1637
Solution is here #1638

[2020-06-19 15:11] pqarmitage commented on #1637
@wangxp006 Thank you very much for identifying this bug and finding the root cause of the problem; however I don't think your patch #1638 quite resolves the issue in a fully safe way.

With the solution you have provided, in `dns_send()` if `send()` returns -1 and errno == EAGAIN, `timeout` will have been reset to `checker->co->connection_to`, and if `send()` continues to return -1 with errno == E

[2020-06-19 15:11] #1637 closed

[2020-06-20 03:32] wangxp006 commented on #1637
@pqarmitage I have read your code and verified the problem on my machine, your submission is perfect, thank you for your correction.

[2020-06-20 09:02] zhouxudong199 opened #1641 "when persistence_timeout is set large value, vs cannot up"
**Describe the bug**
when persistence_timeout is set a large value , as 4294967295.
vs is not up, and /var/log/message print :
error IPVS cmd IP_VS_SO_SET_ADD(1154) error: Invalid operation.

**To Reproduce**
1.persistence_timeout is set a large value , as 4294967295.
2.start keepalived.service
3.ipvsadm -ln.  vs not up。

**Expected behavior**
cat /var/log/message, can find keepalived give reason.

[2020-06-20 09:14] zhouxudong199 commented on #1641
cause: ip_vs_service_user timeout  is unsigned. but ipvs donot allow it >(UINT_MAX / HZ).
ipvsadm whose authors is Wensong Zhang，which set range is MAX_TIMEOUT(31 days). this value is same as keepalived LVS_MAX_TIMEOUT.

solved by https://github.com/acassen/keepalived/pull/1640. wait authority to verify.

[2020-06-20 12:01] pqarmitage commented on #1641
@zhouxudong199 Many thanks for the patch. Now merged.

[2020-06-20 12:01] #1641 closed

[2020-06-21 20:02] yboaron opened #1643 "Question about smooth migration from multicast to unicast"
Hello all,

I have 3 servers that run Keepalived to manage a VIP (192.168.111.5) and VRRP packets sent in multicast mode,[1] is the relevant conf file.

Due to planned changes in the network (block multicast traffic),  Keepalived should migrate to unicast.
I need to migrate (one by one) the 3 servers from Keepalived multicast to unicast and keep the VIP available also during the migration.

Updati

[2020-06-21 22:51] pqarmitage commented on #1643
You cannot migrate the servers one by one from multicast to unicast. Multicast and unicast are separate domains and will not interoperate.

The only way you can migrate from multicast to unicast is to reload the configurations on all three keepalived instances simultaneously, although I think even then you will have an interval  3of * advert interval + a bit when no instance is master.

keepalived

[2020-06-21 22:51] #1643 closed

[2020-06-23 02:37] zhouxudong199 opened #1646 "When set lvs_sync_daemon ttl port maxlen 0, no info or error,but 0 is not effective"
**Describe the bug**
When set lvs_sync_daemon ttl port maxlen 0, no info or error,but 0 is not effective

**To Reproduce**
 set lvs_sync_daemon ttl port maxlen 0 in keepalived.conf

**Expected behavior**
tell me why not effective or actual value

**Keepalived version**
keepalived 2.0.20

details and analysis
1、keepalived manpage：https://www.keepalived.org/manpage.html
           #  maxlen (1..6550

[2020-06-23 08:11] Howard-Chang commented on #1615
Hi @pqarmitage, I have update keepalived to `v2.1.2`, but  VRRP version is still 2(VRRPv2)
How could I update the VRRP to (VRRPv3)

thanks a lot !

[2020-06-23 09:02] pqarmitage commented on #1615
@Howard-Chang The best way to find the answer to questions like this is to look at the man page - `man keepalived.conf`.

The answer to you question though is either specify `version 3` in the `vrrp_instance` block to make just that instance VRRPv3, or to specify `vrrp_version 3` in the `global_defs` block to make all vrrp_instances default to VRRPv3.

[2020-06-23 09:14] zhouxudong199 commented on #1646
PR is marged .closed

[2020-06-23 09:14] #1646 closed

[2020-06-23 09:17] pqarmitage commented on #1646
@zhouxudong199 Many thanks for these patches, which I have now merged.

By the way, don't always assume that the ipvsadm code is correct. There are some instances of the ranges allowed by ipvsadm being either too large or too small (I have some patches for these that I need to submit for ipvsadm). The best place to check permissible values is the kernel code.

[2020-06-23 09:34] Howard-Chang commented on #1615
@pqarmitage thanks !
It can work correctly now.

[2020-06-23 09:47] zhouxudong199 commented on #1646
Thanks,  about your suggestions , I can't agree more.

Usually , I  check  those values by ipvs code firstly , like my commit logs showing.
Due to lack of my capable as same as my poor English. when I have some doubt, I will refer ipvsadm.

As you said , I will do more check from kernel  instead of  ipvsadm.
Thanks your valuable advices. I will keep it in mind.
发件人: Quentin Armitage [mailto:notifi

[2020-06-23 11:03] szahri commented on #1150
Hi there,
I have the same issue on Redhat Linux Server 7.8 (Maipo) with 3.10.0-1127-19.1.el7.x86_64 kernel.
I used the exact same config above just to ensure I received the same error and I did.

Log below :
`2020-06-23T11:01:09.072862+00:00 testserver Keepalived[60605]: Starting VRRP child process, pid=60668
2020-06-23T11:01:09.073183+00:00 testserver Keepalived_vrrp[60668]: Registering Kernel ne

[2020-06-23 11:21] szahri opened #1647 "keepalived segfault using track_process in vrrp_instance"
Hi there,
I have the same problem as described by #1150  on Redhat Linux Server 7.8 (Maipo) with 3.10.0-1127-19.1.el7.x86_64 kernel.
I used the exact same config as the poster in the #1150  just to ensure I received the same error and I did.

Log below :
`2020-06-23T11:01:09.072862+00:00 testserver Keepalived[60605]: Starting VRRP child process, pid=60668 2020-06-23T11:01:09.073183+00:00 testserve

[2020-06-23 11:27] acassen commented on #1647
please provide your keepalived.conf

[2020-06-23 11:30] pqarmitage commented on #1647
@szahri I think you will find commit 9907087, which I merged yesterday, resolves your problem.

It's good to be ahead of the game! :)

[2020-06-23 11:33] acassen commented on #1647
we need to push a new 2.1.3

[2020-06-23 12:33] szahri commented on #1647
That would be most appreciated if you can push to a new 2.1.3.
I will then confirm if that fixes my issue?

[2020-06-23 16:39] pqarmitage commented on #1647
@szahri Version 2.1.3 has now been pushed.

[2020-06-25 13:13] noci2012 opened #1652 "nopreemptive non functional when vrrp_script succeeds after initial failure."
**Describe the bug**
nopreemptive doesn't work as advertised...  Even if there is a MASTER, a BACKUP will immediately become master when
check_script succeeds.

**To Reproduce**
All systems have the SAME config (3 systems).  They are equal, and SHOULD not preempt.
Application reads the fifo to activate other parts of its processing.
And responds to BACKUP/FAULT by restarting, STOP by stopping succ

[2020-06-25 13:45] libesz commented on #1555
@pqarmitage Back to this topic again. Keepalived version: 2.1.2

We captured an issue, where:
* New track files has been added to the config
* SIGHUP issued
* Meanwhile backends became available (track files updated)
* Keepalived entered master state

And all ipvs is programmed to false after all.

Here are the keepalived logs with some annotations and ipvs state:
[code]

[2020-06-25 13:52] noci2012 commented on #1652
Actually i doubt the problem is iwth checkscript.  with check_script removed from the vrrp_instance the machine with highest address preempts anyway. or how can the next be explained:  preemption SHOULD not occur if there is a master elsewhere.
(Applicatie is quite heavy if takeover is needed, so frivolous cutovers should be avoided).

[code]

[2020-06-25 17:43] senthilnathann opened #1653 "after transition the Master ,few seconds not send the vrrp packets"
**Describe the issue**
We are trying to swap the Master/Backup using to restart the keepalived in Master.
Backup took over as master ,after take over first VRRP packet sent ,then take few seconds ( 3-4 seconds )to send next VRRP packet.Due to this issue  Master again back to Master . So we are not able to swap the Master/Backup.

We have configured 80 + virtual ips in this keepalived cluster.

How

[2020-06-25 19:55] noci2012 commented on #1652
trying to get keepalived 2.10 on RHEL7 is a chain of libraries that need to be reinstalled as well.

[2020-06-25 21:10] noci2012 commented on #1652
An attempt with 2.10 does seem to work as expected.

[code]

[2020-06-25 21:36] noci2012 commented on #1652
Again with network dump
current master: (10.20.139.16)
[code]

Rebooted system: (10.20.139.19)
[code]

tshark dump:
[code]

(a third system is also here, just not relevant 10.20.139.13).

[2020-06-25 22:00] pqarmitage commented on #1652
keepalived v1.4.0 is very old and there have been approximately 2130 non-merge commits since v1.4.0. It would appear, from your previous comment, that the problem was resolved by the time of v2.0.10.

 v2.0.10 is quite old, and there have been over 700 non-merge commits between v2.0.10 and v2.0.20, so you should probably upgrade to v2.0.20 or v2.1.3.

The simplest way to get a more up to date vers

[2020-06-25 22:15] pqarmitage commented on #1652
A few of other things I have noticed:

You mention at the beginning that you have 3 systems, but in the `unicast_peer` block you list 3 IP addresses which means that there is that system itself + 3 remote systems. The alternative is that you have listed the local host address in the unicast_peer block, which is wrong; the local host address must not be listed in the `unicast_peer` block.

You have

[2020-06-25 23:10] pqarmitage commented on #1653
There should be no problem with have 80 + VIPs with IPv4, although the practical limit with IPv6 is about 90, depending on the interface MTU. The time to process a VRRP packet should be a small number of microseconds.

In order to allow us to investigate the problem further, can you please provide the following information:

1. Full output of `keepalived -v`

2. Copies of your keepalived configura

[2020-06-25 23:12] pqarmitage commented on #1653
Please also provide the  system logs over the time period of the problem occurring.

[2020-06-26 07:09] noci2012 commented on #1652
wrt. versions: the available patchsets for RHEL/CENTOS 7 and RHEL/CENTOS 8 have been used to create those (they are from the official & supported releases).

wrt. Difference in packets POCBSP7 has v2.10, POCBSP5 & POCBSP6 have 1.4.0
All systems have the same config and observation of a network trace does show the system does not send to itself...?

wrt. booting: The keepalived.service script has 1

[2020-06-26 09:09] pqarmitage commented on #1652
@noci2012 You refer to keepalived v2.10 but there is no such version. I had been assuming that you meant v2.0.10, but it could be v2.1.0. Could you please clarify and provide the output of `keepalived -v` of the version 2.?.? system.

I have tested your configuration with both v1.4.0 and v2.0.10 and tshark reports the packet lengths as 54 bytes, so there is something strange happening with the adv

[2020-06-26 09:33] noci2012 commented on #1652
- sorry it was 2.0.10, now i built 2.0.20 (as fedora has a patchset for that too).

Dump from earlier tshark capture: (tshark -x)
[code]

[2020-06-26 10:24] noci2012 commented on #1652
during boot 2.0.20:
Jun 26 12:18:31 BLUE3 Keepalived[1306]: Starting Keepalived v2.0.20 (01/22,2020)
Jun 26 12:18:31 BLUE3 Keepalived[1306]: Running on Linux 3.10.0-1062.12.1.el7.x86_64 #1 SMP Thu Dec 12 06:44:49 EST 2019 (built for Linux 3.10.0)
Jun 26 12:18:31 BLUE3 Keepalived[1306]: Command line: '/usr/sbin/keepalived' '-D' '-i' '$(hostname)'
Jun 26 12:18:31 BLUE3 Keepalived[1306]: Opening file

[2020-06-26 10:36] noci2012 commented on #1652
And even after vrrp_startup deleay of 30 seconds extra: ...
[code]
Logged on using ssh and ran **tail -fn 100 /var/log/messages | grep Keepa** showing the above and after a short while
the following appears:....
[code]

[2020-06-26 11:28] noci2012 commented on #1652
here is a complete session:
BLUE2 is master:  (vrrp_startup_delay 60 to allow

[code]

[2020-06-26 12:50] noci2012 commented on #1652
Here with keepalive & poc_bsp both disabled.... during boot, and manually started after boot.
tshark shows traffic is incomming from BLUE2 (.16)
[code]

[2020-06-26 12:54] noci2012 commented on #1652
reboot, manual start keep alived + poc_bsp....  no intermediate fault state.
[code]

[2020-06-26 12:59] noci2012 commented on #1652
So reboot is not the immediate issue, it does seem that a 2nd startup after keepalived has been run DOES work as advertised:
immediately after above test the following is done:  stop keepalived & poc_bsp and restart..
[code]
This doesn't fall through.

[2020-06-26 14:33] pqarmitage commented on #1652
What is poc_bsp? The one time keepalived has worked correctly is when keepalived was started when poc_bsp was stopped. Can you try a reboot with the poc_bsp service disabled and see what happens then.

It is clear from the logs that when AST3_192 transitions to master after keepalived starts that it keepalived has not received anything, or at least not received any advert that it considers valid.

[2020-06-26 20:37] noci2012 commented on #1652
The software package is called poc_bsp, it proveide the program Applicatie. the systemd  service file is also called poc_bsp.service.
poc_bsp is a lightweight stub that "behaves" like the later application w.r.t. failover connections to backends, databases, ems, without having the actual application. PoC = Proof of Concept BSP is a platform design based on VMWare, Linux, etc. to provide a  fault t

[2020-06-27 03:40] wodry opened #1656 "Error in documentation of strict_mode"
**Describe the bug**
In https://github.com/acassen/keepalived/blob/master/doc/man/man5/keepalived.conf.5
in line 1654 is written:

This sentence does not make sense.

**To Reproduce**
Read the sentence.

**Expected behavior**
Reading a sentence that makes sense.

[2020-06-27 07:20] pqarmitage commented on #1656
Commit 09aa833 when merge will resolve this.

[2020-06-27 07:36] #1656 closed

[2020-06-27 08:56] pqarmitage commented on #1555
@libesz I will have a further look at this, but you annotation isn't quite correct. Where you state `<- keepalived logs correctly that backends became available` the log entries are saying that the track_file is not longer in FAULT state; it isn't saying that the real servers have been enabled, that is a different log message.

The transition of the VRRP instance from backup to master seems to be

[2020-06-28 10:16] wodry opened #1665 "check_misc: delay_before_retry does not default to delay_loop"
**Describe the bug**
When a real server misc_check fails it is retried after 1 second and not after 10 seconds, which is the value of delay_loop.

**To Reproduce**
Set up following virtual/real server:
[code]
Stop the DNS-Server at 10.7.2.222:53

The real server transitions to DOWN after 3 (three) seconds, since every retry check happens after 1 s. See log:
[code]
**Expected behavior**
After initi

[2020-06-28 10:34] wodry commented on #1665
My fault, I forogt to set `delay_before_retry` to 10. With that set, it works as expected.

[2020-06-28 11:01] wodry opened #1666 "Wrong documentation of delay_before_retry"
**Describe the bug**
In PR #1655 was comitted to the man page that the default value for `delay_before_retry` would be the value of `delay_loop` (which would be reasonable).

I thought `delay_before_retry` would default to `delay_loop` because I had a DNS UDP check with timeout of 10 s ans also 10s as value of delay_loop, so that matched, because the UDP check timed out after 10 s and then was rec

[2020-06-29 09:00] libesz commented on #1555
@pqarmitage Thanks for the corrections. Here is the original config:
[code]

And here is the extended one:
[code]

The change is basically that three new track files are added and all of them referenced in both `virtual_server`s. If that counts, the two `virtual_server`s are swapped in the configuration, but the properties (IP/port) is the same for them. Also maybe this matters: the new track file

[2020-06-29 13:50] libesz commented on #1555
I could reliably reproduce the issue with 30+ seconds delay between the SIGHUP processing and the (new) file state change, which may suggest this is not a timing issue. IPVS left disabled.

[2020-06-29 13:57] pqarmitage commented on #1555
I can see what is going wrong, and at the moment I am trying to track down why it is happening.

After the reload, if you send SIGUSR1 to the parent keepalived process a file /tmp/keepalived_check.data will be written. In there you will be able to see against the new RS that num_failed_checkers = 2, and that is the problem.

[2020-06-29 14:05] libesz commented on #1555
I see, thanks! For me the new RS shows `num failed checkers = 1` right now in the file.

[2020-06-30 10:57] 3hedgehogs opened #1670 "keepalived reports: "No VIP" in case all VIPs are in included files"
**Describe the bug**
If all VIPs are only defined in included files keepalived process warns: "No VIP specified; at least one is sensible"
After defined vmac interface is UP everything is working as expected and VIPs are up too.

**To Reproduce**
No any VIPs in main keepalived.conf only in included files:
example line in keepalived.conf:

..
vrrp_instance VI_EXT_NAME {
include external_first_maste

[2020-06-30 11:44] wangxp006 opened #1671 "dns checker will never print "after n retries""
**Describe the bug**
dns checker will never printf  after n retries

**To Reproduce**
1.  shutdown real server interface
2.  check  fail log in /var/log/message

[root@openEuler ~]# grep  22.22.1.88  /var/log/messages | grep 53 | grep -v grep
Jun 30 16:28:44 openEuler Keepalived_healthcheckers[49862]: DNS_CHECK ([22.22.1.88]:udp:53) read timeout from socket
Jun 30 16:28:51 openEuler Keepalived_hea

[2020-06-30 11:45] wangxp006 commented on #1671
PR is here #1672

[2020-06-30 14:06] wangxp006 opened #1673 "failure of udp checker caused leakage of fd"
**Describe the bug**
failure of udp checker caused leakage of fd

**To Reproduce**
1. startup keepalived with udp checker confgration
2. shutdown the interface linked to real server
3. check the fd in /proc/${checker_pid}/fd
 **Before shutdown**
[root@openEuler fd]# cd /proc/56081/fd
[root@openEuler fd]# ls
0  1  2  3  4  5  6  7
**After few minutes**
[root@openEuler fd]# cd /proc/56081/fd
[root@o

[2020-06-30 14:07] pqarmitage commented on #1670
I have tried this and I think the following messages are relevant:
[code]

I'll have look at this further.

[2020-06-30 14:08] wangxp006 commented on #1673
PR is here #1674

[2020-06-30 14:12] pqarmitage commented on #1671
What a wonderful bit of code it was
`if (checker->has_run && ... && !checker->has_run)`
I am surprised that Coverity didn'y pick it up.

Many thanks for the patch and I will merge it when I next do some merging.

[2020-06-30 14:30] wangxp006 commented on #1671
My PR is here #1672 ，you can check whether the modification is ok。

[2020-07-01 04:48] limwenyao opened #1675 "VRRP Instance Entering Fault State keepalived v2.0.20"
sudo systemctl restart keepalived.service
journalctl -xe
[code]

My /etc/keepalived/keepalived.conf
[code]
and the check-apiserver script it is running
[code]
ifconfig
[code]
keepalived -v
[code]

[2020-07-01 17:03] pqarmitage commented on #1675
I think there are a couple of issues with the `chk-apiserver` script

1. If the `if` condition is false, are you relying on the exist status of the `if` command being 0, since there is no explicit `exit 0` at the end of the script?

1. You are grepping for `192.168.111.10`, but `.` is the wildcard character for grep, and so this would match 192a168b111c10; it probably doesn't matter in this case b

[2020-07-01 17:03] #1675 closed

[2020-07-01 18:04] pqarmitage commented on #1670
Commit 3fc6126 resolves this issue; many thanks for reporting it.

I had thought this would be a straightforward fix, but it turned out that the changes needed were somewhat more substantial than I had anticipated; nevertheless, I think the structure of the code is cleaner now.

[2020-07-01 18:04] #1670 closed

[2020-07-01 18:05] pqarmitage commented on #1671
@wangxp006 Your PR is now merged; many thanks for your help.

[2020-07-01 18:05] #1671 closed

[2020-07-01 18:05] pqarmitage commented on #1673
Your PR is now merged; many thanks for your help.

[2020-07-01 18:05] #1673 closed

[2020-07-01 19:01] pqarmitage commented on #1647
Closing due to no response for over 1 week. If you are still experiencing the problem, please update this issue and we can reopen it.

[2020-07-01 19:01] #1647 closed

[2020-07-01 21:17] ffontaine opened #1678 "Build failure with nftables and kernel < 3.15"
**Describe the bug**

Building keepalived 2.12 with nftables on kernel < 3.15 (e.g. with kernel 3.13) raises the following build failure:
[code]

**To Reproduce**
The buildroot logs are available here: http://autobuild.buildroot.org/results/d9bec0a24277202f3271bae35f1188fa8e07d9c0

**Expected behavior**
Build should not fail.

**Keepalived version**
2.1.2

**Distro (please complete the following i

[2020-07-02 15:38] wangxp006 opened #1679 "tcp checker and dns checker will not go offline when interface link to RS is down"
**Describe the bug**
tcp checker and dns checker will not go offline when interface link to RS is down

**To Reproduce**
1. startup keepalived
2. delete ip address of the interface linked to RS
TCP  and DNS checker will not go offline
[root@openEuler keepalived]# ipvsadm -Ln
IP Virtual Server version 1.2.1 (size=4096)
Prot LocalAddress:Port Scheduler Flags
  -> RemoteAddress:Port           Forward

[2020-07-02 15:47] wangxp006 commented on #1679
My PR is Here #1680 。

[2020-07-02 23:55] wodry commented on #1665
According to https://github.com/acassen/keepalived/blob/v2.0.20/keepalived/check/check_data.c#L1104
`delay_before_retry` should default to the value of `delay_loop` in 2.0.20
[code]
So the misc_check behavior stated in my OP should be wrong, there should be a bug.

[2020-07-02 23:58] wodry commented on #1666
According to https://github.com/acassen/keepalived/blob/93b2d45a6b8e304861ba1efd823b1c2da33f5ae4/keepalived/check/check_data.c#L1239
`delay_before_retry` should default to the value of `delay_loop`
[code]
(if I should have read the code correctly).
So the documentation should be correct.

[2020-07-02 23:59] #1666 closed

[2020-07-03 15:19] pqarmitage commented on #1678
Commit b543866 resolves the build failure. Whether Linux 3.15 has sufficient nftables support for keepalived I do not know, and I cannot test it since I do not have system running a 3.13 to 3.15 kernel.

[2020-07-03 15:19] #1678 closed

[2020-07-03 15:21] pqarmitage commented on #1653
Closing due to no response for over 1 week. If you are still experiencing the issue, please update this issue report with the information requested above and we can reopen this case.

[2020-07-03 15:21] #1653 closed

[2020-07-03 16:04] pqarmitage commented on #1665
@wodry, yes this is all rather confusing, and certainly the description in keepalived.conf(5) man page is not correct.

It would not be right to alter default behaviour now, which users will be relying upon, and so I am updating the keepalived.conf(5) man page so it says:
[code]

This will be commit cc4494f once I have merged it.

[2020-07-03 16:04] #1665 closed

[2020-07-03 17:42] pqarmitage commented on #1679
Please see comments against PR #1680. The current behaviour is the correct behaviour by design; additional configuration options need to be added for what you are wanting to achieve.

[2020-07-03 17:42] #1679 closed

[2020-07-04 15:02] pqarmitage commented on #1652
I will have a further look at what is happening, but in the mean time you state that you can't use `-i $(hostname)` and suggest `-i HOSTNAME` or `-H`.

From keepalived.conf(5) man page:
[code]
So I think keepalived already does what you want, and is the default if `-i` is not specified.

[2020-07-06 04:13] leonshaw opened #1685 "Use configured interface for VRRP messages"
**Is your feature request to resolve a problem or provide enhanced functionality? Please describe.**
When configuring VRRP on a macvlan interface `A` with `use_vmac` and `vmac_xmit_base` enabled, keepalived creates another macvlan interface `B` for data traffic and uses the main interface for VRRP. And if the main interface is in another netns, VRRP messages are sent via `B` instead.
The expected

[2020-07-06 11:14] noci2012 commented on #1652
Ok, i misread that part, sorry. then consider that part Done..  ;-)

[2020-07-07 06:29] ycjo opened #1686 "I use 2 networks, keepalived doesn't work"
**Describe the issue**
There are 2 servers, 2 Ethernet comes in for each server (one is main and one is secondary)
When normal, Server1 is MASTER and Server2 is BACKUP
Keepalived version is 1.4.3, and I tested the latest version (2.x.x), but the symptoms are the same

Q1)Why is 192.168.0.4 printed in Server2?
Server1's ip addr
[code]
Server2's ip addr
[code]

Q2) Why are MASTER and BACKUP constant

[2020-07-07 06:44] pqarmitage commented on #1686
Copy of keepalived configuration from stackoverflow:

keepalived.conf(Server 1)
[code]

keepalived.conf(Server 2)
[code]

[2020-07-07 07:24] pqarmitage commented on #1686
I note from the logs the following entries:
[code]
Server 2 therefore has a `vrrp_script` configured, but that is not included in the keepalived configuration files that you posted on stackoverflow. It is important that you post the full and correct information if we are to be able to diagnose the problem.

I also note that the logs show
[code]
whereas SERVER1 is configured with priority 255. I am

[2020-07-07 07:24] #1686 closed

[2020-07-07 07:25] pqarmitage commented on #1686
I forgot to add that there is no issue with keepalived using 2 or more networks (my test environment uses 11 networks without a problem).

[2020-07-08 00:41] ycjo commented on #1686
Thanks for the answer!
I will reorganize the symptoms, turn keepalived around for one day, and deliver the logs in full.

[2020-07-08 08:52] libesz commented on #1555
Is there any more logs or dumps which I could capture about this?

[2020-07-08 08:55] pqarmitage commented on #1555
@libesz I can reproduce the problem and so I have all the information I need.

This issue is going to be quite involved to fix, and I have had some other issues that I needed to resolve. I will have a further look at this in the next few days.

[2020-07-08 09:06] libesz commented on #1555
Thank you @pqarmitage in advance!

[2020-07-08 22:43] pqarmitage commented on #1685
`use_vmac` tells keepalived to create a macvlan interface on the interface specified in the vrrp instance. `vmac_xmit_base` means that keepalived will send adverts on the base interface, i.e. the interface on which the macvlan has been created.

When a macvlan A is created and the base interface B specified is itself a macvlan with base interface C, the new macvlan is created on the base interface

[2020-07-09 00:32] ycjo commented on #1686
In summary,
I note from the logs the following entries:
[code]
The final goal was to check the status of nginx using vrrp_script, but now we are disabling vrrp_script and testing it.

I note from the logs the following entries:
[code]
this is a truncation problem, it's 255

I note from the logs the following entries:
[code]
When I tested it without mind, I can't remember what I did at the time.

S

[2020-07-09 01:39] leonshaw commented on #1685
@pqarmitage The current behavior is that, if C is in a different namespace, packets are sent via interface A (not B).
I mean by adding `vmac_xmit_configured` option, packets will be send via the configured interface B (as specified by `interface B`), regardless of its type or whether it's the base interface of A.

[2020-07-09 03:33] Mint-M opened #1689 "--enable-json doesn't work for make rpm"
**Describe the bug**
--enable-json doesn't work for make rpm

**To Reproduce**
Build an RPM package with the following commands "build_setup" "./configure --enable-bfd --enable-snmp --enable-snmp-rfcv2 --enable-snmp-rfcv3 --enable-json" "make rpm".

**Expected behavior**
The output of "Keepalived -v" from the rpm package includes "JSON" in Config options if the package was built with "--enable-jso

[2020-07-09 03:40] Mint-M commented on #1689
Adding "@WITH_JSON_TRUE@CONFIG_OPTS="$CONFIG_OPTS --enable-json" to "%build CONFIG_OPTS=" seems solve to problem.

[2020-07-09 06:03] pqarmitage commented on #1686
I am a bit confused since you stated at the outset that keepalived was v1.4.3 but the logs above show that keepalived is v1.2.4. Both these versions are very old, and you really should be upgrading to something like v2.0.20.

What the logs show is that there is some form of intermittent network problem on the network used by the vi_2 instances. There is no such problem with the network used by the

[2020-07-09 06:08] pqarmitage commented on #1685
The reason for that is that interface B is not the base interface of interface C, and that keepalived cannot access the base interface of interface A, since interface C is in a different namespace (keepalived doesn't do network namespace hopping).

I will have a look at the feasibility of adding `vmac_xmit_configured` to send packets on interface B.

As a matter of interest, can you please explain

[2020-07-09 06:26] leonshaw commented on #1685
@pqarmitage VRRP sent via A may cause VMAC flapping between two ports in the MAC address table of a switch.

[2020-07-10 08:02] ycjo commented on #1686
you told me that there was a problem with the network, so I changed the iptime router to an iptime switching hub.
Then, SERVER2 is no longer periodically changing to MASTER and BACKUP status.
Thank you very much.
It's a lot to prepare for my first use it.
Thank you for answering again.^^

[2020-07-10 09:00] xiangwangcheng commented on #1142
@yarcl  Would you please share the solution, I encountered the same problem.

[2020-07-10 10:35] pqarmitage commented on #1689
Commit dce63fd updates keepalived.spec.in as suggested above.

[2020-07-10 10:35] #1689 closed

[2020-07-11 14:01] Karimerto opened #1692 "include no longer works"
**Describe the bug**
Latest keepalived (2.1.4) has broken `include` semantics. Keepalived crashed immediately on startup, complaining that I have the same vrrp defined twice, which is most certainly not the case. It worked fine with 2.1.3.

**To Reproduce**
Create any kind of common keepalived config, but in a sub directory. The main `keepalived.conf` just needs to read, for example:

    include

[2020-07-11 14:20] acassen commented on #1692
hmm... too bad here :(

I am trying to reproduce here on lab but didnt get SEGV

keepalived.conf:
include /etc/keepalived/conf.d/*.conf

and

/etc/keepalived/conf.d/vi1.conf:
vrrp_instance VI_1 {
    state MASTER
    interface virbr0
    virtual_router_id 50
    priority 150
    advert_int 1
    virtual_ipaddress {
	    10.1.1.100
    }
}

did you get the core file ? if so would it be possible to

[2020-07-11 14:42] Karimerto commented on #1692
Perhaps you are running somewhat different environment? I am running an older Ubuntu 16.04 (as it says in the bug report). I think I can get the trace from the backup server. It has exactly the same situation as this one, so it is certainly not an isolated case. I will get back to you with the trace.

[2020-07-11 15:00] Karimerto commented on #1692
I am not quite sure how I should run a snap package via `gdb`. Some instructions here might be helpful. I do have an `strace` that does show the crash, if that's at all helpful.

    sudo strace -f -p 5501
    strace: Process 5501 attached
    sendto(3, "<14>Jul 11 17:55:14 Keepalived[5"..., 94, MSG_NOSIGNAL, NULL, 0) = 94
    timerfd_settime(6, 0, {it_interval={0, 0}, it_value={1, 25870000}}, NUL

[2020-07-11 18:38] pqarmitage commented on #1692
I did update include file processing to resolve issue #1670, but I didn't find any regressions when testing. I will have a look at it to see what is happening.

I have now run your exact configuration on my Ubuntu 16.04 VM and I cannot reproduce the problem.

Could you please attach a tar file of /etc/keepalived and all subordinate directories, just in case there is some strange formatting charact

[2020-07-11 19:47] Karimerto commented on #1692
I can do that, I'll just obfuscate any IPs in them. The actual config is a bit larger than what was in my example. I can't seem to be able to produce anything in `/var/crash` even though I think it should be enabled. I've included a bit of [syslog.log](https://github.com/acassen/keepalived/files/4907518/syslog.log) from where I start the daemon. And also .tar.gz for the config files [keepalived_co

[2020-07-11 20:40] pqarmitage commented on #1692
@Karimerto Using your exact files I am now getting the segfault and also the log messages about the extra '}' and unknown keyword '}'.

[2020-07-11 20:47] Karimerto commented on #1692
That sounds good. It seems there is clearly some kind of regression since I have not modified the configs in ages and they worked perfectly fine with 2.1.3.

[2020-07-12 10:13] pqarmitage commented on #1692
Commit 39af5f7 resolves this issue. The x86_64, i386, ppc64el and s390x snaps have been promoted to stable, and the arm snaps will be once they have been built.

[2020-07-12 10:13] #1692 closed

[2020-07-12 13:20] Karimerto commented on #1692
Tested the new release and it seems to be working perfectly well. Thank you.

[2020-07-12 15:35] pqarmitage commented on #1142
@xiangwangcheng The solution very much depends on your configuration, what version of keepalived you are using, and whether the iptables command creates nftables configuration or iptables configuration.

First of all you need to ensure that you don't have `strict` or `no_accept` configured for your VRRP instance. Then you need to ensure that keepalived isn't creating any nftables or iptables confi

[2020-07-14 12:47] javisomoza opened #1694 "SNMP not working"
Im configuring Keepalived in a RHEL 7. It's working correctly all but snmp.

[code]

These are the versions:
[code]
`NET-SNMP version:  5.7.2`

Keepalived logs

[code]

/etc/snmp/snmpd.conf

[code]

/etc/keepalived/keepalived.conf (global_defs section with...)

[code]

[2020-07-14 13:25] acassen commented on #1694
Please consider upgrading to last release. 1.3.5 is too old and tones of features and bugs has been added since then.

[2020-07-14 13:49] acassen commented on #1694
s/ 1.3.5 is too old and tones of features and bugs has been added since then /
    1.3.5 is too old and tones of features and bugs **FIXES** has been added since then/

[2020-07-14 13:52] acassen commented on #1694
Why RHEL rpm mainteners are not doing the upgrade duty ? ;)

2.1.5 is now terribly stable

[2020-07-14 13:52] #1694 closed

[2020-07-14 14:15] pqarmitage commented on #1694
It works for me on CentOS 7 with the following /etc/snmp/snmpd.conf:
[code]

[2020-07-15 06:26] javisomoza commented on #1694
Thank for your reponses.

Im trying to compile keepalived (I tried with the last release 2.1.5 and with 2.0.15) but cannot get the "./configure --enable-snmp" work due to this error:
[code]

net-snmp-config --cflags

`-DNETSNMP_ENABLE_IPV6 -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtun

[2020-07-15 07:06] javisomoza commented on #1694
I have compiled last version but the problem persists. Is there something wrong?

[code]

[code]

Logs

[code]

[2020-07-15 08:48] pqarmitage commented on #1694
If I use the '/etc/snmp/snmpd.conf' you have listed above, I get the following when I start snmpd:
[code]
The error is an SELinux issue, and I have to run with `setenforce permissive` to run snmpd via systemctl. When I do that I still get the first 4 lines of the output above and snmpwalk cannot communicate with snmpd.

When I use the `/etc/snmpd.conf` I listed earlier then `snmpwalk` works fine a

[2020-07-16 07:41] javisomoza commented on #1694
Mmm, seems not to be the same problem as mine:

SNMP logs
[code]

Keepalived logs
[code]

Anyway i have tried to configure selinux that way but the issue persists. Thanks for your message.

[2020-07-16 07:59] javisomoza opened #1696 "SNMP not working"
Im configuring Keepalived in a RHEL 7. It's working correctly all but snmp.

[code]

These are the versions:

[code]

`NET-SNMP version: 5.7.2`

Keepalived logs

[code]

/etc/snmp/snmpd.conf

[code]

snmp logs

[code]

/etc/keepalived/keepalived.conf

[code]

[2020-07-16 09:13] pqarmitage commented on #1696
Although keepalived v1.3.5 is very old and it is certainly worth upgrading, the SNMP functionality is still working in v1.3.5 so it is probably simpler for now to remain with the distributed version while trying to get SNMP working, rather than introducing unknown variables. Once you have got SNMP working, then it would be sensible to upgrade.

I note that when you built keepalived v2.1.5 you appe

[2020-07-16 09:38] javisomoza commented on #1696
Ok, confirming its not a keepalived related problem is somewhat a step forward
Thanks for your help

[2020-07-16 09:38] #1696 closed

[2020-07-21 18:07] juanvasquezreyes opened #1698 "Build failed for 2.1.5 version"
I was testing keepalived version keepalived-2.0.20 and it has been working fine, but I tried to install the latest version and I'm facing this issue

../../keepalived/include/namespaces.h:42:49: warning: its scope is only this definition or declaration, which is probably not what you want [enabled by default]
  CC       keepalived_netlink.o
  CC       namespaces.o
In file included from /usr/includ

[2020-07-21 19:43] juanvasquezreyes opened #1699 "Question: not routing to real servers"
I’m testing keepalived in order to use it as part of our application framework but for some reason is not working as I wanted, I’m using this version v2.0.20

I have these 3 scenarios that I want to see if keepalived can do, keepalived is running in server x.x.236.82
1. I have a web application running for long time in two servers x.x.70.97 and x.x.70.98 in port 80, I would like to use a virtual i

[2020-07-21 20:11] #1699 closed

[2020-07-21 23:28] pqarmitage commented on #1698
@juanvasquezreyes You appear not to have the relevant -devel libraries installed for building keepalived. The INSTALL file in the root of the source tree lists the necessary packages . You appear to be missing libnl3-devel ipset-devel iptables-devel and libnftnl-devel and/or libmnl-devel.

Without libnftnl-devel installed I get the error you are getting, but once I install libnftnl-devel keepalive

[2020-07-21 23:45] juanvasquezreyes commented on #1698
That solve the problem, thank you.

[2020-07-21 23:45] #1698 closed

[2020-07-22 13:28] pqarmitage commented on #1698
@juanvasquezreyes Commit 5de3213 fixes building with libnl1, and it was probably useful that the build did fail since otherwise you would have been building with suboptimal libraries.

I will see if I can find a way of configure detecting important runtime libraries being installed without the -devel versions installed.

[2020-07-22 19:04] d-mihaylenko opened #1701 "Keepalived_vrrp exited due to segmentation fault (SIGSEGV)"
Keepalived not work at debian10.4

keepalived -v
Keepalived v2.0.10 (11/12,2018)

Copyright(C) 2001-2018 Alexandre Cassen, <acassen@gmail.com>

Built with kernel headers for Linux 4.18.20
Running on Linux 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07)

configure options: --build=x86_64-linux-gnu --prefix=/usr --includedir=${prefix}/include --mandir=${prefix}/share/man --infodir=${pre

[2020-07-22 19:57] pqarmitage commented on #1701
In order for us to investigate this, we are going to need the following:

i) A copy of your configuration file
ii) If possible a stack backtrace produced by gdb from a corefile produced following the segfault.

[2020-07-22 20:01] pqarmitage commented on #1701
It might be worth seeing if upgrading keepalived to v2.1.5 resolves the problem you are experiencing.

[2020-07-23 10:05] ydcool opened #1702 "Duplicated VIPs keep existing on two keepalived nodes"
**Describe the bug**
A clear and concise description of what the bug is.

We have three nodes in a k8s cluster running keepalived pods, and two of them keep holding one of managed VIPs (10.16.4.60) at the same time, with no state switching logs, no errors, and keep holding even after killing and recreating all keepalived pods.

**To Reproduce**
Any steps necessary to reproduce the behavior:

Not c

[2020-07-23 12:54] pqarmitage commented on #1702
The troubleshooting approach to adopt here is to check your configuration files :)

The configuration file you have shown above looks like the configuration file from stor-mgt01, or possibly stor-mgt03. For vrrp_instance `VI_apiserver_vip_manage` you have configured `router_id 61`. On stor-mgt02, which it looks to me has IP address 10.16.4.46, you have configured the vrrp_instance to have `router_

[2020-07-23 12:54] #1702 closed

[2020-07-23 13:19] ydcool commented on #1702
@pqarmitage Thank you , we'll upgrade to 2.x and update the configuration file.

[2020-07-23 17:09] szahri opened #1703 "Running keepalived VRRP traffic on a separate network, vrrp_sync_group and track script"
Hi there,
I have a requirement for Keepalived running VRRP on 2 load balancers (NGINX)  with 2 interfaces - eth0 (external) and eth1 (internal).
I am trying to configure a setup where all VRRP traffic (preferably unicast) is run via the dedicated internal eth1 interface, to reduce the risk of a split brain situation. However, the floating IP address (VRRP IP) will be on eth0 (external) network.

I

[2020-07-24 08:42] pqarmitage commented on #1703
Additional information provided on keepalived-users@groups.io

Result of keepalived –v for your reference:

[root]# keepalived -v
Keepalived v2.1.2 (06/14,2020)

Copyright(C) 2001-2020 Alexandre Cassen, <acassen@gmail.com>

Built with kernel headers for Linux 3.10.0
Running on Linux 3.10.0-1127.el7.x86_64 #1 SMP Tue Feb 18 16:39:12 EST 2020

configure options: --build=x86_64-redhat-linux-gnu --hos

[2020-07-24 13:08] pqarmitage commented on #1703
I am not clear why using the internal interface reduces the risk of a split brain situation, but there is no problem doing this. However, your configuration is running VRRP over eth0 (external) for vrrp_instance real. The `interface` keyword specifies the interface that is used for VRRP traffic.

Let's call the system with the higher priority (priority 250) System A, and the other system System B.

[2020-07-25 09:27] pqarmitage commented on #1703
@szahri Commit 459fc2b restores being able to configure track scripts on vrrp instances which are part of a sync group.

[2020-07-25 11:23] szahri commented on #1703
@pqarmitage thanks very much for your comments. Really appreciate the helpful hints and efforts you put into helping everyone.

What you had outlined above all made sense (and yes I did swap the eth0 and eth1 around...sorry!). I tried the suggested config and it all worked the way you described it would. Hurray!

I am dissapointed that it is not possible to "move" the heartbeat interface when the

[2020-07-25 12:51] pqarmitage commented on #1703
@szahri There is a feature that you might be able to use to fall back to using eth0 for adverts if eth1 fails but it depends on your network configuration and routing setup.

When using unicast, it is no longer necessary to specify the interface for the VRRP instance, and in that case the adverts will be sent on the interface as determined by the routing table. If you created a dummy address on th

[2020-07-25 12:51] #1703 closed

[2020-07-29 02:59] robertitox opened #1705 "Repeating "Received advert with lower priority 103, ours 104, forcing new election""
Dear people, I have a Debian 10.4 server with keepalived 1:2.0.10-1.

The master switches to slave several times a day, and squid process is alive from some days, it never comes down.

These are the messages received at master node:

ul 27 20:18:27 proxy-master Keepalived_vrrp[2590]: (VI_1) Received advert from 172.18.88.143 with lower priority 103, ours 104, forcingnew election
Jul 27 20:55:48 pr

[2020-07-29 08:42] pqarmitage commented on #1701
Closing due to no response for over 1 week. If you are still experiencing problems please update this issue with further details, including the details requested above, and we can reopen this issue.

[2020-07-29 08:42] #1701 closed

[2020-07-29 08:57] pqarmitage commented on #1705
@robertitox You state `The master switches to slave several times a day` but it appears from the log that actually the backup is switching to master state; it is only when an instance is in master state that that it can send an advert.

The more interesting logs in this case would be the logs on the backup system since the issue is, why is the backup switching to master state occasionally. This al

[2020-07-29 13:00] robertitox commented on #1705
Dear Quentin, thanks a lot for your help.

It's correct, Backup node claims to be master for any reason I don't know
at the moment....so I will use tcpdump as you said.

I'm using keepalived from Debian 10 repository and the version is old, so
do you suggest downloading the Debian testing version or installing the
newest tar.gz package??? This behaviour may be a bug from my keepalived
version???

[2020-07-29 14:30] pqarmitage commented on #1705
I don't think your keepalived version should be the cause of the problem, but as you say v2.0.10 is quite old. The version in Debian testing appears to be v2.0.19 which isn't very recent either, so if you do upgrade version I would recommend updating to v2.1.5.

[2020-07-29 15:27] robertitox commented on #1705
Thanks a lot!!!

El mié., 29 jul. 2020 a las 11:31, Quentin Armitage
(<notifications@github.com>) escribió:

[2020-07-31 03:32] XFH1207 opened #1706 "Keepalived 2.0.10 --- segfault"
**Describe the bug**
VRRP_Script timed_out  occur segfault.

**Keepalived version**
Keepalived v2.0.10 (11/12,2018)

**Configuration file:**
vrrp_script check_ips {
    script "/usr/sbin/ping -w 5 172.18.0.41"
    timeout 2
    interval 5
}

vrrp_instance TBG01 {
    state BACKUP
    interface eth3
    virtual_router_id 51
    priority 100
    advert_int 1
    nopreempt

    virtual_ipaddress {

[2020-07-31 06:30] pqarmitage commented on #1706
Can you please provide a stack backtrace from the coredump. `coredumpctl debug 5446` will invoke gdb on the coredump, and then `bt` will generate the backtrace. You will need to run `yum debuginfo-install keepalived` before using coredumpctl if you don't already have the keepalived-debuginfo and keepalived-debugsource packages installed.

[2020-07-31 09:04] XFH1207 commented on #1706
I tried it again：
#### system log:
[code]
#### coredump:
[code]

But I change config file: ping -w options
[code]
to:
[code]
The segfault error did not occur. It may be related to a script execution timeout。

### Download keepalived-2.1.5.tar.gz
make done，use this version: 2.1.5
Modify ping -w options, the segfault error did not occur.
I'm sorry, due to the network, I do not provide keepalived-deb

[2020-08-01 02:00] robertitox commented on #1705
Dear Quentin, I've realized that backup node switches to master between 21
hs and 23 hs everyday. Maybe a network problem as you said, and maybe a
network micro failure.

I have defined:

advert_int 3

Should I change this value to 10 in orden to avoid network micro failures?

Because advert_int is the time that backup node waits for master
notification.

Thanks a lot sgain!!!

El mié., 29 de juli

[2020-08-01 08:09] wangxp006 commented on #1706
Hi, according to the configuration provided by @XFH1207 before, this issue can be reproduced in the 2.0.10 .
But using the 2.0.11, this problem cannot be reproduced.
I believe this problem should have been fixed in later versions.
The detailed call stack is as follows.

(gdb) bt
#0  rb_set_parent_color (rb=<optimized out>, color=1, p=0xaaadf81feb90) at rbtree_augmented.h:131
#1  ____rb_erase_color

[2020-08-01 09:48] pqarmitage commented on #1706
@XFH1207 and @wangxp006 Many thanks for the information you have both provided, along with the diagnosis that the problem is resolved in v2.0.11.

The issue was resolved by commit a577fa0c, so I suggest you either apply that patch to v2.0.10 or upgrade to a later version - v2.1.5 is the recommended version.

I will report this issue to RedHat so that they can incorporate the above patch.

[2020-08-01 09:48] #1706 closed

[2020-08-01 09:52] station7 opened #1708 "track_process not working on my Raspberry Pi"
I am running keepalived successfully on two Raspberry Pis to have HA for pihole, wireguard and openvpn. Checking for active processes with "/usr/bin/killall -0 _individual_process_" works fine, but having read the documentation, keepalived@groups.io and the github issues to fix some of the basic issues I had I came across the feature to track processes within keepalived with vrrp_track_process, wh

[2020-08-01 10:12] pqarmitage commented on #1705
@robertitox Strictly speaking, since you are using VRRPv2, the backup waits for (3 * advert_int + (256 - priority) / 256) seconds before taking over as master. If you change the advert_int to 10, the backup will wait for 30.8 seconds without receiving an advert before it takes over as master, and you may well find this delay too long. Further, whether increasing the advert interval (or more to the

[2020-08-01 16:02] pqarmitage commented on #1708
Unfortunately the RaspberryPi kernels do not include the PROC EVENTS driver and it is this driver that provides the information about process forks, termination etc. The CONNECTOR driver is built as a module but the PROC EVENTS driver requires the CONNECTOR driver to be built into the kernel.

I am not sure how one goes about requesting additional drivers to be included in the RaspberryPi kernels,

[2020-08-01 16:02] #1708 closed

[2020-08-01 17:56] robertitox commented on #1705
Dear Quentin, I understand what You Say.

So I Will try yo identify the network problem between those hours.

Thanks a lot for your useful help !!!

El sáb., 1 de agosto de 2020 07:12, Quentin Armitage <
notifications@github.com> escribió:

[2020-08-01 18:17] station7 commented on #1708
Quentin,

thank you so much for your reply and making it clear - this really drove my crazy.

[2020-08-03 13:11] pqarmitage commented on #1708
@station7 There is no straightforward way of knowing whether the kernel supports process events or not. If you send the command to the kernel to start receiving the proc events messages, and the kernel doesn't support it, you get no response from the kernel; however if the kernel does support it you get an ack. I have added commit f0a8b73 which runs a timer when it sends the message to start recei

[2020-08-03 13:26] station7 commented on #1708
That's impressive. Thank you for following up, I am so curious about the result of your tests!

[2020-08-03 23:17] pqarmitage commented on #1708
@station7 I have now had the opportunity to test using `track_process` with keepalived on a Raspberry Pi with kernel 5.4.51 with proc_events enabled in the kernel, and it works precisely as expected.

The following patch needs to be applied to the Raspberry Pi kernel sources at http://github.com/raspberrypi/linux to enable to proc_events connector:
[code]

[2020-08-04 05:14] station7 commented on #1708
Great! Now I just need to learn how to compile and deploy my own kernel, but I will start right away. Thank you so much for your efforts!

[2020-08-04 08:46] pqarmitage commented on #1708
I followed the instructions at https://www.raspberrypi.org/documentation/linux/kernel/building.md

[2020-08-04 11:37] hoggle64 opened #1711 "segfault at 0 error 4"
**Describe the bug**
With my configuration keepalived keeps throwing errors and is not working as expected. Configured ports are not opened.

**To Reproduce**
Use my config and start keepalived.

**Expected behavior**
Keepalived should open configured ports without error messages

**Keepalived version**
Keepalived v1.3.5 (03/19,2017), git commit v1.3.5-6-g6fa32f2

**Distro (please complete the fol

[2020-08-04 15:58] pqarmitage commented on #1711
The reason for the segfault is that you have virtual servers configured without any real servers. This causes keepalived v1.3.5 to segfault, whereas recent versions of keepalived detect this situation, log an error and handle it appropriately.

keepalived v1.3.5 is very old, so I suggest that you upgrade keepalived to v2.1.5 and also correct your configuration.

[2020-08-04 15:58] #1711 closed

[2020-08-04 19:54] VasumathyJ opened #1712 "notify fifo script terminates abruptly"
Hello
I am using VRRP. For the state change notification I am using the notify_fifo script
I have these in my global defs
vrrp_notify_fifo /tmp/vrrp_notify_fifo
vrrp_notify_fifo_script /etc/keepalived/scripts/sample_notify_fifo.sh

I am using the same example from the doc/samples/sample_notify_fifo.sh

The script is abruptly stopping here as seen in keepalived_vrrp.log
Tue Aug  4 19:42:03 2020: Pr

[2020-08-04 21:09] hoggle64 commented on #1711
Will so so. Thank you.

[2020-08-05 06:53] station7 commented on #1708
I compiled a new kernel (all I had to do was to enable CONFIG_CONNECTOR via menuconfig to alter default .config) and now track_process works just as expected on my Raspberry Pi. Great! Thanks!!

[2020-08-05 12:14] station7 commented on #1708
offtopic:
Quentin, a (hopefully) very small question which you can easily answer, I guess: Are there any recommendations for max_auto_priority for a Raspberry Pi?

`NOTICE: setting config option max_auto_priority should result in better keepalived performance`