[2018-05-15 19:40] rwgroenenberg commented on #864
AFAIK the signal_set() is used to register a signal + handler function. So anytime that is called with a signal > SIG_MAX would be a bug. Right?

[2018-05-15 19:47] pqarmitage commented on #864
Yes, you're right re signal_set, and that is certainly one place to detect the bug. However, if a signal were delivered that isn't one we expect to handle but it hasn't been masked properly, that would also be a bug and the only place that could be detected is where you have already added the check.

[2018-05-15 19:49] pqarmitage commented on #864
@rwgroenenberg I was thinking of a slight modification to your patch along the lines
[code]

What do you think?

[2018-05-15 19:51] rwgroenenberg commented on #864
Yes, makes sense!

[2018-05-15 20:02] pqarmitage commented on #864
@rwgroenenberg Many thanks for your help with this. All the above changes are now merged.

[2018-05-15 20:02] #864 closed

[2018-05-16 01:12] pqarmitage commented on #866
I have now been able to reproduce this problem on Fedora 26 as well. It looks like a generic problem, but so far as I can see it is a net-snmp issue.

The minimum config that I have found to demonstrate the problem is:
[code]

To be more specific, if the IP address is a.b.c.d and all the octets a, b, c, d are in the range 9 <= octet <= 13 or 32 <= octet <= 126 then the problem will occur. If any o

[2018-05-16 06:14] BBQigniter commented on #866
Wow, thanks for the analysis! So this is a generell problem by net-snmp which also may affect other MIBs/software? This means we have to wait until a fix is released by the net-snmp devs - or move the servers into another network ;o)

[2018-05-16 08:38] pqarmitage commented on #866
From what I can see, net-snmp only uses DISPLAY-HINT for objects that are part of an index, and hence only used for output on the left hand side of the `=` in snmpwalk output. Whether this is a bug or not I don't know, and if it is a bug then whether it is a net-snmp bug or a keepalived bug I really don't know.

However, it does seem strange to ignore DISPLAY-HINT when it is specified, especially

[2018-05-16 09:48] pqarmitage commented on #866
Update - RFC4001, which defines InetAddress/InetAddressType clearly envisages that these types of object are not limited to indices. From RFC 4001, definition of InetAddress:
[code]
There are plenty of examples in RFC MIBs where InetAddress/InetAddressType are not part of an index, e.g. RFC 3814, RFC6527 (VRRPv3 MIB).

[2018-05-16 21:33] pqarmitage commented on #862
@acassen - Fortunately this commit only applies to the beta branch. I think we've now managed 8 days since v1.4.4 was released and there have been no issues reported against it (except the SNMP issue which applies across all versions and appears to be an net-snmp issue) and no commits pushed.

[2018-05-17 08:37] igroost opened #871 "No real server is added to the VIP"
In our configuration, we created several VIP for DB services, for each VIP two or more real-server. For real-servers, the role of the server VIP master\replica is checked through the misc_check script.

Each real server can respond to the check that it is a master or replica depending on the response it will be entered or removed from balancing with the corresponding VIP.

When switching DB VIP we

[2018-05-18 09:33] deshui123 commented on #497
Hi All,
We also need to configure multiple IPv4 and IPv6 on keepalived.

In keepalived 1.2.13, we just use IPV4 and the config is ipv4_keepalivbed.txt.
For this config, it's multi-master mode. All VIPs are active and assigned to different nodes. If one node down, the VIPs on this node will transfer to other active nodes according to the priority. For our testing, the failover  happened smoothely.

[2018-05-18 10:02] rwgroenenberg commented on #686
Running in a configuration where some track_scripts are used to control the priority of a VRRP instance, I notice that when the priority of the Master falls below that of the Backup, there is no (immediate) re-election.

Most of the times I try this there is a state change (on Backup) after ignoring the received adverts with lower prio 3 times:

[code]

But I've also seen a few times that the Back

[2018-05-18 11:45] pqarmitage commented on #497
I think it would be better to use separate vrrp instances for the IPv6 addresses, rather than the virtual_ipaddress_excluded blocks, so for example VI_5 could be split into VI_5 for IPv4 and VI6_5 for IPv6.

keepalived will track the interface that the vrrp_instance is configured on, so the track_interface blocks are unnecessary.

Since the IPv6 addresses are being added on eth0, would it be bette

[2018-05-18 12:26] pqarmitage commented on #686
@rwgroenenberg The RFC for VRRPv3 (RFC 5798) states:
[code]
Note: The comment at (465) should state `// preempt was true **and** priority was less`

(465) and (470) describe what to do in the event of a lower priority advert being received - i.e. discard it, and this is how keepalived now behaves (sending an advert wasn't simply discarding the lower priority advert).

So far as I remember, one of

[2018-05-18 12:48] rwgroenenberg commented on #686
I see, well then I'll keep an eye out for the situation of remaining in Backup forever despite receiving lower prio adverts. I'm quite sure that occurred on a clean beta version, but I'm currently trying to get the concept of an advert_group in (like you suggested as alternative to my multi i/f on a single VRRP instance).

[2018-05-21 08:24] brandonbai opened #874 "How to use keepalived to achieve high availability of multiple services?"
#### There are two servers and the following software is installed

* Mysql
* Nginx
* Keepalived

**Q: How to achieve high availability both mysql and nginx?**

[2018-05-21 09:01] deshui123 commented on #497
Thank you very much for your detailed and patient feedback.
My keepalived version is
`[root@h-mul-worker-edge-01 ~]$ keepalived -v
Keepalived v1.3.5 (03/19,2017), git commit v1.3.5-6-g6fa32f2

Copyright(C) 2001-2017 Alexandre Cassen, <acassen@gmail.com>

Build options:  PIPE2 LIBNL3 RTA_ENCAP RTA_EXPIRES FRA_OIFNAME FRA_TUN_ID RTAX_CC_ALGO RTAX_QUICKACK LIBIPTC LIBIPSET_DYNAMIC LVS LIBIPVS_NETLINK

[2018-05-21 14:21] Sankaranarayanans opened #876 "Healthcheck child process died"
[keepalived.conf.txt](https://github.com/acassen/keepalived/files/2022871/keepalived.conf.txt)
[keepalived-issue.txt](https://github.com/acassen/keepalived/files/2022872/keepalived-issue.txt)

HI

Actually, i am moving to new keepalive version v1.4.0 to achieve  ipv6 virtual server with ipv4 real server.
I have done my new version compilation and trying to start it. while starting am getting the m

[2018-05-21 21:42] pqarmitage commented on #876
Commit 4955985 resolved this issue. The first version this was included in v1.4.1.

Since you are upgrading your version of keepalived, it would probably be sensible to upgrade to v1.4.4. So far there have been no issues reported against v1.4.4.

[2018-05-21 21:47] pqarmitage commented on #874
@brandonbai You need to describe in more detail what it is you want to achieve and then someone may be able to suggest a configuration.

This shouldn't be reported as an issue, which is for problems/bugs with the code. Please send your request for help to the keepalived-devel mailing list - see (http://www.keepalived.org/listes.html) for more details.

[2018-05-21 21:47] #874 closed

[2018-05-21 21:53] pqarmitage commented on #839
Closing since no response for over 2 weeks. If you have more information re this issue, please report it here and the issue can be reopened.

[2018-05-21 22:39] pqarmitage commented on #871
This looks like a difficult problem to track down. We don't have a problems occurring due to keepalived running for an extended time; I have instances of keepalived that have been running for several months without problems being exhibited (although of course specific configurations may cause a problem). In the first place could you please try this with v1.4.4, since whatever the problem is may ha

[2018-05-22 06:53] balmnm opened #877 "Keepalived sends DBUS signal with old state when it transition from BACKUP to FAULT state"
Hi All,

Im using keepalived version 1.3.9 to achieve VRRP functionality.
Our client code registers with keepalived DBUS to get "VrrpStatusChange" notification.
Im seeing when the VRRP instance changes from BACKUP to FAULT state (trigger is make the interface oper down) the DBUS notify signal is sent with old state (which is BACKUP) instead of new state (which is FAULT).

Logs:
root@router:~# busc

[2018-05-22 07:31] igroost commented on #871
Previously, we have already written on this problem [here](https://github.com/acassen/keepalived/issues/649) but to what the result has not come, just the time between the start of the problem has increased.

We will plan to update to the latest version and look at the work.

Tell me, could it be this behavior is due to mic_check checks?

[2018-05-22 08:39] Sankaranarayanans commented on #876
Have moved to  v1.4.4 . Still IPV6 virtual_server to IPV4 real_server is not working from client side. In lvs  virtual address show as 255.255.255.255 instead of IPv6 ip. Kidly check and let me know if any config issue with my config. or do i need to install any NAT64 packages to achieve this

**Ipvsadm output**
root@l3-newversion-1~#ipvsadm -Ln
IP Virtual Server version 1.2.1 (size=4096)
Prot Loc

[2018-05-22 09:00] pqarmitage commented on #876
I can reproduce the problem. For some reason the virtual servers are
not being configured with IPv6 addresses, but rather they appear to be
being interpreted by keepalived as IPv4 addresses when adding the IPVS
configuration.
I'll have a look at this later.
Quentin ARmitage
On Tue, 2018-05-22 at 01:39 -0700, Sankaranarayanans wrote:

[2018-05-22 12:58] Sivabs77 commented on #877
Hi Bala,

Looks like a bug. Wondering how this was working earlier.

Re
Sivabalan

[2018-05-22 14:56] pqarmitage commented on #876
This issue is now:

Virtual server with IPv6 address and real server with IPv4 address causes the virtual server address to be interpreted as IPv4. The virtual server IPv6 addresses are fd21:d1aa:194a:3515:0:1:0:0
[code]

[2018-05-22 21:50] pqarmitage commented on #876
@Sankaranarayanans Can you try adding `ip_family inet6` to the virtual_server block, and report if that resolves your problem. I think there is a bug in keepalived whereby we don't set IPv6 automatically if the virtual server address is an IPv6 address.

If the problem still persists, can you check that you can configure the same IPVS setup that you want by using the `ipvsadm` command. I haven't f

[2018-05-23 06:52] Sankaranarayanans commented on #876
ip_family inet6  not helped. So I have manually added via ipvsadm.

In that real server are show as mixed of ipv4 and ipv6
root@l3-newversion-1~#ipvsadm -Ln
IP Virtual Server version 1.2.1 (size=4096)
Prot LocalAddress:Port Scheduler Flags
  -> RemoteAddress:Port           Forward Weight ActiveConn InActConn
TCP  [fd21:d1aa:194a:3515:0:1::]:80 rr
  -> [**ac14:10e3:194a:3515:0:1:**:]:80 Tunnel  1

[2018-05-23 07:01] pqarmitage commented on #876
Can you try adding the IPVS config matching the configuration file, i.e.
[code]
and
[code]
The first thing we need to resolve is keepalived adding the correct IPVS configuration.

[2018-05-23 07:37] Sankaranarayanans commented on #876
root@l3-newversion-1~#ipvsadm
IP Virtual Server version 1.2.1 (size=4096)
Prot LocalAddress:Port Scheduler Flags
  -> RemoteAddress:Port           Forward Weight ActiveConn InActConn
TCP  255.255.255.255:http sh persistent 300
  -> 172.csez.zohocorpin.com:http Route   1      0          0
TCP  255.255.255.255:https sh persistent 300
  -> 172.csez.zohocorpin.com:http Route   1      0          0
TCP

[2018-05-23 08:02] pqarmitage commented on #876
I have push commit 05adf4f which fixes setting the address family of virtual servers, and so the virtual servers should have IPv6 addresses once you have built keepalived using this commit.

After you have incorporated the commit, can you run keepalived again and post the output of `ipvsadm -ln` and a copy of the matching configuration. Can you please also provide details of the environment you ar

[2018-05-23 10:40] pqarmitage commented on #876
@Sankaranarayanans You seem to keep changing your configuration, so that I cannot tell what the `ipvsadm -ln` output should be, since I do not know what configuration you are using. Can you please post your configuration (if it is not the latest configuration you have posted) whenever you post the output of `ipvsadm -ln`.

I'm assuming that the keepalived configuration is along the lines of:
[code

[2018-05-23 10:42] Sankaranarayanans commented on #876
[keepalived.conf.txt](https://github.com/acassen/keepalived/files/2030665/keepalived.conf.txt)

[2018-05-23 10:43] Sankaranarayanans commented on #876
[keepalived.conf.txt](https://github.com/acassen/keepalived/files/2030668/keepalived.conf.txt)

[2018-05-23 11:28] pqarmitage commented on #876
@Sankaranarayanans Thanks for the configuration.

With commit 05adf4f keepalived is now configuring the virtual server IP address as IPv6. The problem is that the real server IP address is also being configured as IPv6. The reason for this is that it wasn't until Linux 3.18 that the netlink IPVS_DEST_ATTR_ADDR_FAMILY option was added, which allowed the real server address to belong to a different

[2018-05-23 12:59] Sankaranarayanans commented on #876
OK Thanks pqarmitage for your suggestions. I will upgrade my kernel and test

[2018-05-23 13:38] Turgon37 commented on #839
@pqarmitage  Hello, I'm sorry to have been away so long, I was working on higher priority production problems.

I] about your first query

If I reset rmem to it's defaults values :

Before, the vrrp socket was full to a a strange value => 6885120
[code]
After to reset the original values

[code]

And some minute later (circa 10), the socket is full at the sysctl value

[code]

II] about your secon

[2018-05-23 14:28] pqarmitage commented on #839
I see the keepalived version you are using is VERY old (1448 non merge commits behind the current release). Could you try running keepalived v1.4.4 and see if you experience the same problems.

[2018-05-23 14:40] pqarmitage commented on #877
Commit f274c04 should fix this problem.

@balmnm Could you please confirm if this does resolve your problem

@Sivabs77 It looks to me as though this never worked correctly.

[2018-05-23 17:38] yakatz commented on #389
Here is an example of something that should be caught by a config test:
If you have two VRRP instances with the same VRID, right now the only way to know is to start the service and have it not start up.

We manage our configuration using Puppet. Sometimes someone adds a duplicate VRID in Puppet which means next time Puppet runs, it takes down all our servers since it can't check to make sure the

[2018-05-23 18:22] balmnm opened #882 "Issue due to maintaining VRRP subinterface in BACKUP router."
Hi All,
Im using keepalived version 1.3.9 , on top of Debian stretch to achieve VRRP functionality.
While testing IPv6 VRRP functionality, in the following setup, i have seen few issues.
[code]

Configuration in R1:
[code]
}

Configuration in R2:
[code]
Assume vrrp ipv6 group is configured on R1 and R2.  R1 is MASTER and R2 is BACKUP.
Host  is configured with gateway as virtual ip and sending traf

[2018-05-24 07:33] pqarmitage commented on #871
@igroost When you provide keepalived logs can you please provide all keepalived log entries, and don't filter them on anything, e.g. the IP address. There may be other log entries that would be helpful in understanding the problem but that we are not seeing. For example, what happened between 15:19:51 and 15:20:01 that caused the number of failed checkers to change. We will also need to see the fu

[2018-05-24 09:51] titansmc opened #883 "VMWare issue IP's not being removed"
Hi,
I am running into a lot of troubles when having a HAProxy and keepalived running.  This setup is hosted over VMWare(vSphere) infrastructure.

So, I start haproxy03, it gets the 2 IP properly setup, when haproxy04 comes online it has none of the IP (which is what we want), I reboot haproxy03 and the IP's move to haproxy04 (which is fine), but the problem comes here, when haproxy03 boots up and

[2018-05-24 19:08] balmnm commented on #877
@pqarmitage  I have verified your fix and it is working fine. Thanks !

[2018-05-24 19:08] #877 closed

[2018-05-25 02:03] xufenghfut opened #884 "Why I cannot get 0.0.0.0:255 by run netstat -nap | grep keepalived"
In my linux environment，when I run this cmd： netstat -nap | grep keepalived
I get the following message:
![image](https://user-images.githubusercontent.com/31697358/40522352-0a89f1dc-6003-11e8-88ff-392b1f72f8e6.png)

But I find somebody could get  0.0.0.0:255
![image](https://user-images.githubusercontent.com/31697358/40521645-28095cec-5fff-11e8-8642-b86ef250df12.png)
![image](https://user-images.

[2018-05-25 09:27] acassen commented on #884
1.2.13 ??? is way too old... please consider upgrading to last stable release (1.4.4 currently)

[2018-05-25 09:27] #884 closed

[2018-05-25 10:58] pqarmitage commented on #883
This looks as though either `nopreempt` is set on the vrrp instances, or for some reason after rebooting haproxy03, haproxy04 isn't receiving data from haproxy03 (and also since haproxy03 isn't reporting receiving lower priority adverts from haproxy04, presumably haproxy03 isn't receiving data from haproxy04).

Since `nopreempt` is not the default option, that is unlikely (although would could try

[2018-05-25 12:12] titansmc commented on #883
Hi,
Right I don't have specifically set nopreempt option, here is the keepalived.data

[root@haproxy03 ~]# cat /tmp/keepalived.data
------< VRRP Topology >------
 VRRP Instance = VI_1
 VRRP Version = 2
   State = MASTER
   Last transition = 1527155133 (Thu May 24 11:45:33 2018)
   Listening device = ens192
   Using src_ip = 10.11.6.38
   Gratuitous ARP delay = 5
   Gratuitous ARP repeat = 5
   Gra

[2018-05-25 12:12] xufenghfut commented on #884
I just want to know the usage of **0.0.0.0:255** and how could I get it?
If any one can give an explanation？

[2018-05-25 12:39] balmnm commented on #882
@pqarmitage  could you please comment your view on this?

[2018-05-25 13:16] pqarmitage commented on #883
From the configurations and what you have said above, we are only interested if VRIDs 71 and 72, so the relevant traffic on haproxy03 is:
[code]
and the relevant traffic on haproxy04 is:
[code]

From the keepalived.data file, haproxy03 is using source address `10.11.6.38`, and so I presume that haproxy04 is using source address `10.11.6.40` (looking at a keepalived.data on haproxy04 would confirm

[2018-05-25 13:36] pqarmitage commented on #882
@balmnm I read through this issue yesterday, and have been thinking about it since. It certainly seems that you have correctly identified a couple of problems, and your solutions may well work although there may be alternative ways to achieve this.

I need to think on about this, do some packet tracing, and look at what configuration options for links there are that might help. I certainly remembe

[2018-05-25 14:12] titansmc commented on #883
Nice explanation!
haproxy01 and haproxy02 are seeing VRRP sent by haproxy[03-04] .... and all the machines are within the same VLAN and the same VMWare cluster.... I am not sure what could be happening.

I have 4 instances in my network haproxy[01-04] , and all of them are only able to see VRRP advert from haproxy01 and haproxy03.....I am not sure if this is the expected behaviour....

But I still

[2018-05-25 14:42] titansmc commented on #883
What I see now is that everything is fine if I reboot master node (haproxy03) or stop keepalived, it means everything gets moved to haproxy04. But if I stop haproxy, I see :

[code]

But still seeing VRRP advertisements comming from haproxy03 ot haproxy04. But stoping haproxy should cause the VRRP to fail over the backup.

[code]

[2018-05-25 14:58] titansmc commented on #883
I've just tested Haproxy[01-02] pair and their failover the backup when stopping haproxy daemon... So the only difference I see is that those are running CentOS 7.4 and the haproxy[03-04] pair are running CentOS 7.5....

[2018-05-25 15:13] pqarmitage commented on #883
@titansmc I think you are going to need to try and work out why the VRRP adverts aren't appearing on the other side of the haproxy[03-04] pair. For a start, are haproxy[01-02] seeing the adverts from haproxy[03-04]? That should at least tell you whether it is a send or a receive problem. It might then we worth looking at the iptables configurations to see if protocol 112 is allowed.

[2018-05-25 17:15] balmnm commented on #882
Thanks @pqarmitage . Im also thinking about alternative ways. Will update you on that soon.

[2018-05-25 20:00] pqarmitage commented on #884
The 0.0.0.0.255 socket is used send commands to the kernel if netlink isn't available. Between commits 057b376 and fdc58299 it was always used due to a bug introduced in commit 057b376. See commit for further explanation.

Older systems are more likely to use the socket (i.e. if libnl/libnl-3 aren't available), but there is some functionality but there is some functionality such as IPVS with IPv6

[2018-05-25 20:07] pqarmitage commented on #839
The issue of the receive buffer queue filling up was resovled in commit b71116f0. The first release version of keepalived that it was included in was v1.2.20 on 2 Apr 2016.

If you upgrade to a recent version of keepalived, such as v1.4.4 as suggested above, the problem will be resolved.

[2018-05-25 22:57] pqarmitage commented on #497
@deshui123 You have asked a number of questions; answers are below:

_How to hide the output “Build option”?_
`keepalived -v | grep -v "Build options"`

_1. Since VRRP IPv4 and IPv6 instances are completely independent of each other the virtual_router_id of ipv4 or ipv6 instance can be same or not, and it doesn't matter right?_
Yes, that is correct. As RFC5798 says:

That is, for example, there co

[2018-05-28 15:32] Turgon37 commented on #839
@pqarmitage  The v1.2.13 version is the one that is available on debian repository, but during my tests above (see https://github.com/acassen/keepalived/issues/839#issuecomment-384565919), I've temporary switched to the latest release with and without the patch.
I see that only your patch seems to solve the problem.

[2018-05-29 03:57] Cythwell opened #890 "master keep sending vrrp advertisement when interface down"
Hello, I am new for keepalived. And met an issue.
The issue is that when I ifdown the interface. The interface release all the IP address include VIP and real IP.
But I found the backup cannot take over the master. Then I use "tcpdump" to debug and found that the origin master still keeps sending vrrp advertisement to the backup. This could explain why backup cannot take over the master. Also when

[2018-05-29 06:14] pqarmitage commented on #890
This issue has been resolved in the latest release of keepalived, v2.0.0, which was released two days ago.

[2018-05-29 06:14] #890 closed

[2018-05-29 06:16] Cythwell commented on #890
Oh thanks very much @pqarmitage

[2018-05-29 17:12] balmnm commented on #882
@pqarmitage,  Regarding updation of MAC address upon transition to BACKUP/INIT

I think we have to cache the allocated MAC address by kernel during the creation of VMAC interface. And this mac can be applied whenever VRRP leaves from MASTER state. And when VRRP transition to MASTER we can re-add the vmac  while adding the virtual IP's.

Kindly let me know your comment on this.

[2018-05-30 08:13] titansmc opened #891 "SNMP RFC error when building RPM"
Hi,
I am trying to build RPM's packages for keepalived 2.0.0 but I get this error... Am I missing any library ? I've just installed everything that was required.

When compiling and installing the software didn't fail, but building packages with the provided spec file it failed.

[code]

[2018-05-30 19:48] fenice2 commented on #891
I've also hit the same problem, I don't know if this is the correct answer (I'm sure it's not :)) but I commented out this line:

@SNMP_RFC_TRUE@CONFIG_OPTS= --enable-snmp-rfc

in the spec file. Keepalived  builds correctly and it's installed and started on my CentOS7 server. I'll try and get some time tomorrow to see if it actually works correctly.

[2018-05-30 20:30] pqarmitage commented on #891
The above edit is not the way to go, since keepalived.spec is generated from keepalived.spec.in.

It transpired that SNMP_RFC was not being defined in configure.ac. Commit ca23497 should resolve the problem.

[2018-05-30 20:33] pqarmitage commented on #882
@balmnm Yes, caching the kernel allocated MAC address is what I had come around to as well.

[2018-05-31 05:03] fenice2 commented on #891
Yes, I realised that wasn't the correct 'fix' but not being a coder my first reaction is always to comment out a troublesome statement. Thanks for the quick fix. :)

[2018-05-31 08:19] RobbinBaauw opened #893 "Cannot reconnect immediately after server is re-elected"
Hello,

I've been using keepalived for quite a while and I just found out the following happened:
- When stopping haproxy on the master (_server A_), it changes its effective priority from **103** to **101** and the BACKUP server (_server B_) changed its effective priority from **100** to **102**. This is expected behaviour, I can connect using that server then.
The odd thing is that _server A_ st

[2018-05-31 08:45] pqarmitage commented on #893
Can you please provide the following additional information:

1. Output of `keepalived -v`
2. The keepalived log entries from both systems from before stopping haproxy on system A until after system A fully recovers.
3. The output of `date; ip addr show` on both systems (the reason for the `date` command is to be able to link the output to the system logs:
      a. before stopping haproxy
      b.

[2018-05-31 09:49] RobbinBaauw commented on #893
**1.** Just updated keepalived in the hope that it would be fixed, so:
[code]
**2.**
_Server A:_
[code]
_Server B:_
[code]
**3.**
_Server A:_
[code]
_Server B:_
[code]
**4.**
I'm running Ubuntu 16.04 LTS, kernel 4.4.0-127-generic

[2018-05-31 14:46] corywright commented on #389
I'd like to add my name to the list of people who would like to see this functionality available in keepalived. We don't want our configuration management system trying to reload/restart keepalived if the config file is invalid.

This is a [common feature of many daemons](http://www.configapp.com/post/2018/01/09/configuration-file-validation-check/).

[2018-05-31 14:58] Turgon37 commented on #839
Hello, I've just to re-download the home compiled version of keepalived into one of our servers

The keepalived version output
[code]

The related sysctl
[code]

The netstat output
[code]
So please be informed that the current value of 3 355 968 bytes is currently growing up. I suppose it will grow up until the sysctl value set above.

I've tried to identify a difference between the memory consump

[2018-05-31 15:52] pqarmitage commented on #389
While it may be possible to partially implement this, it is not possible to know that a configuration is fully valid without actually loading it, since some configuration errors are detected by the kernel. e.g. when routes are added.

I do see that some validation is beneficial, but what sort of reaction will we get if a config test passes, but the configuration subsequently fails to load due to a

[2018-05-31 16:15] yakatz commented on #389
While you do have to draw the line somewhere, anything that causes keepalived to exit by itself (like in my example: "VRID 26 is duplicated on interface em1") should definitely be detectable.

[2018-05-31 18:43] balmnm commented on #882
Thanks @pqarmitage  . I will work on this update you with the change.

[2018-05-31 19:40] corywright commented on #389
@pqarmitage I'm agree with @yakatz, we simply need something basic.

For example, HAproxy's config check verifies the syntax and that options are used in the correct context (frontend vs backend, tcp vs http mode, etc), but it doesn't check if an IP that is bound to is available on the server. This is acceptable for us as we are more concerned about the validity of the config file, which is prone

[2018-06-01 13:29] balmnm opened #894 "Crash in dbus_reload while the underlying interface is not present kernel"
Hi @pqarmitage

Im seeing the following crash on dbus_reload API. Im using 1.3.9 version of keepalived
It happens even with below simple config and following steps.

Steps to repro:
1. Delete the underlying parent interface "eth1",
2. Remove the first VRRP instance (br3004_v6_7) configuration from conf file.
3. Issue SIGHUP to keepalived VRRP process so that it can delete the vrrp groups.

Root ca

[2018-06-01 13:32] Turgon37 commented on #839
Today, I noticed that the memory has grown until to fill the maximum available memory

[code]

[code]
[code]

![image](https://user-images.githubusercontent.com/10003029/40843329-e7e213ea-65b0-11e8-9dc4-e17e9712e968.png)

[2018-06-01 13:48] pqarmitage commented on #894
It would be really helpful if you could test to see if this problem still exists with v2.0.0 of keepalived. I'm not aware of any fix for this problem, but as you indicate, the code handling interface deletion has changed in v2.0.0. If the problem still persists, it shouldn't be too difficult to fix it.

[2018-06-01 14:10] balmnm commented on #894
@pqarmitage  Thanks!. Sure will test and update you.

[2018-06-01 21:34] pqarmitage commented on #882
@balmnm A further thought. I'm not sure how the kernel generates locally administered MAC addresses, but if it just checks that the MAC address isn't in use, then if keepalived has a VMAC interface currently being master, then it may be possible for the kernel to generate the same MAC address for another VMAC or dummy interface, and then if we restore the originally allocated MAC address when the

[2018-06-02 12:47] balmnm commented on #894
@pqarmitage  I could not reproduce this crash in v2.0.0.
Im trying to find out how it is solved and by which commit. Kindly let me know if you aware of any commit which is solved this crash. Thank you.

[2018-06-02 15:32] pqarmitage commented on #894
@balmnm I cannot remember any particular commit, but keepalived now retains interface_t structures for interfaces that have been deleted.

The line of code causing the problem is probably something like:
`!strcmp(n_name, IF_BASE_IFP(vrrp_o->ifp)->ifname)) `
in dbus_reload. Since the vrrp_o->ifp point now remains valid in keepalived, it is no longer segfaulting.

[2018-06-03 14:00] balmnm commented on #894
Got it!!!. Thanks @pqarmitage .

[2018-06-03 14:00] #894 closed

[2018-06-04 16:33] pqarmitage commented on #686
Beta branch now merged into master. Any issues with what was the beta branch should be tested against the keepalived v2.0 code, and if they still exist please report a new issue.

[2018-06-04 16:33] #686 closed

[2018-06-04 21:52] saqibahmed515 commented on #512
@pqarmitage I'm having the same issue in 1.4.5. I'm using a [dockerized version of keepalived](https://github.com/osixia/docker-keepalived) with my own configuration. My configuration file looks like below:
[code]

`nopreempt` works great when docker service stops/restarts; when my network interface goes down; and when I restart the keepalived container, but when I restart the machine with 51 prio

[2018-06-05 14:57] pqarmitage commented on #512
I think you probably need to run tcpdump within each container from startup, starting before keepalived starts, to see what traffic is being sent and received by each container and when. It looks as though it is an issue with traffic between the containers, and it appears not to be an issue with keepalived.

[2018-06-05 16:11] titansmc opened #897 "rpmbuild: --build-in-place: unknown option"
Hi,
I am trying to build the packages for CentOS, but things are not to clear for me, are there instructions for this?
I am doing:

- Installing all packages (build esentials, autoconf.....
- Clone repo
- ./build_setup
- Copy source to ~/rpmbuild/SOURCES/keepalived-2.0.1.tar.gz
- ./configure
- make rpm

And to get make not failing, I have to remove this build-in-place

[code]

Is there anything I

[2018-06-05 22:00] raffaelespazzoli opened #898 "segmentation fault with keepalived"
I am seeing a segmentation fault with keepalived. I am running keepalived as a container with this image: registry.access.redhat.com/openshift3/ose-keepalived-ipfailover:v3.9.14.
as instructed by the error message here is the log:
[code]
the configuration is as follows:
[code]
it is autogenerated, hence all those white spaces and comments.

[2018-06-05 23:16] pqarmitage commented on #897
It appears that the version of rpmbuild on CentOS doesn't yet support `--build-in-place`. I have added commit 413171e which checks whether rpmbuild supports `--build-in-place` and if not, it creates a tarball, copies it to the rpmbuild/SOURCES directory, and executes rpmbuild using that.

The process to build the rpm files is:
1. Clone the git repo
2. ./build_setup
3. ./configure
4. make rpm

I ha

[2018-06-05 23:16] #897 closed

[2018-06-05 23:44] pqarmitage commented on #898
Could you please provide the following further information:
1. Output of `keepalived -v`
2. Full logs from the start of keepalived
3. Description of the environment you are running keepalived in, e.g. distro and version, whether running in a container.

[2018-06-06 00:55] raffaelespazzoli commented on #898
it looks like the issue was due to the comments in the configuration file. once I removed them it started working. What is the right way to create comments?

[2018-06-06 05:59] pqarmitage commented on #898
The version of keepalived in the container is v1.3.5, Redhat build version 1. v1.3.6 had at least one commit to resolve segfaults when running in a container, commit 5ca36cb5. Redhat backported this into their build 6 and image registry.access.redhat.com/openshift3/ose-keepalived-ipfailover:v3.9.27-1 has this updated version of keepalived. If you upgrade the image, the fault is likely to be resolv

[2018-06-06 05:59] #898 closed

[2018-06-06 08:41] pqarmitage commented on #893
This looks to me as though server A is not receiving the VRRP adverts from server B. As a consequence it is not aware that there is a higher priority vrrp instance advertising, and so it remains master, and the VIP remains configured on server A. When haproxy is restarted on server A, keepalived on server B sees the higher priority adverts from server A and drops back to backup state. Because serv

[2018-06-06 09:29] superhero opened #901 "How do I enable: script_security?"
I get a `SECURITY VIOLATION - scripts are being executed but script_security not enabled.` when I try to run a script: `v1.4.4`

How do I enable: `script_security` so I can run scripts?

[2018-06-06 09:42] #901 closed

[2018-06-06 11:04] RobbinBaauw commented on #893
I tested it, and indeed saw multiple requests leaving server B but not entering on server A. Disabling the firewall didn't help. Then went to change the ACL (Access Control List) of Hyper-V itself, and that did the trick. It seemed that an IP-address had changed and so the ACL wasn't correctly setup on the servers.

Now it works perfectly, thanks a lot!

[2018-06-06 11:07] pqarmitage commented on #893
I'm glad the diagnosis worked, and that it is all working for you now.

[2018-06-06 11:07] #893 closed

[2018-06-06 12:13] raffaelespazzoli commented on #898
I will upgrade, thanks.
what are the kernel modules required by keepalived? I can make sure they are loaded.
`lvs_id` seems a valid entry based on this: http://www.keepalived.org/doc/configuration_synopsis.html
but it is being rejected, not sure why, any suggestion?
I didn't find a lot of explanation on what it does, Is it needed?

[2018-06-06 12:59] pqarmitage commented on #898
`lvs_id` was replace by `router_id` in version 1.1.8 (January 2005).

We know the documentation is out of date,  but 13 years is quite something! It is on our todo list to update the documentation.

The modules needed include ip_vs, and potentially iptables modules and ipset modules.

[2018-06-06 13:26] saqibahmed515 commented on #512
@pqarmitage I got the `tcpdump` at the reboot time of the higher priority node.
[code]

In this dump, the machine with priority 51 (1.89) goes down at 13:13:15 and comes alive again at 13:13:37. Looks like it immediately starts getting the advertisements but I'm starting keepalived after one minute delay. The preemption occurs after one minute but TCP dump remains same. An advertisement after ever

[2018-06-06 15:39] pqarmitage commented on #512
Your configuration appears to be using the default advert interval of 1 second. This means that when keepalived starts up, any VRRP instances (except those configured with priority 255) will wait approximately 3.8 seconds before transitioning to master (3 * advert_int + advert_int * (255 - priority)/255) (the 255 might be 256, I can't remember). Since 1.89 transitions to master at 13:18:52.6, it m

[2018-06-06 15:42] pqarmitage commented on #897
Oops - point 3 in the INSTALL file should read:
`make rpm`

I will update it later. Many thanks for pointing this out.

[2018-06-06 16:39] titansmc commented on #883
We have 2 VMWare clusters (in diferent DC) interconnected, so if I put one node in DC1 and the other in DC2, the one in DC2 can only see its VRRP adverts(doesn't matter I use haproxy[01-02] or haproxy[03-04] )
Also if I leave both nodes in DC2 I have problems, but not when having both nodes on DC1.

There is no iptables setup.

[2018-06-08 11:17] titansmc commented on #883
Might this have something to do?

https://github.com/acassen/keepalived/blob/master/doc/NOTE_vrrp_vmac.txt

[2018-06-08 14:44] titansmc commented on #883
Sorry guys, I think I found some core switch blocking VRRP traffic, so depending which path the traffic took, it was blocked or not. So I decided to use unicast.

[2018-06-08 20:19] bennyhat opened #905 "VIPs not attaching to VLAN interface after `systemctl restart network`"
Currently get some weird behavior for VIPs that attach to a VLAN subinterface when we restart the systemd network service via `systemctl restart network`. We can put together a workaround with systemd unit triggers (restart keepalived on network restart), but thought it might be worth mentioning.

- using configuration, distro, etc. outlined further below
- start keepalived and ensure that VIPs ar

[2018-06-09 14:49] pqarmitage commented on #883
@titansmc Glad to hear you've resolved your problem.

[2018-06-09 14:49] #883 closed

[2018-06-09 14:53] pqarmitage commented on #507
This is now fully supported in the released version.

[2018-06-09 17:13] pqarmitage commented on #905
The version of keepalived that is being run here is not v2.0.2. The "Kernel is reporting" messages were changed in version 2.0.0 and keepalived no longer includes "Kernel is reporting" in the log messages.

Handling interfaces being deleted and recreated is very new code (some of it only in v2.0.1 and v2.0.2) and some of it is post v2.0.2, and completed earlier today. I suggest you pull the latest

[2018-06-11 12:20] yuweiming2016 opened #910 "Healthcheck child process(1547) died: Respawning(CentOS7.3-keepalived1.4.2)"
i try to install keepalived1.4.2 in centos7.3. when i start it ,the error message can't stop.
the message as follow:
![image](https://user-images.githubusercontent.com/22490427/41230944-2179e15e-6db4-11e8-97e6-8e5839105a87.png)
![image](https://user-images.githubusercontent.com/22490427/41230970-354bfc94-6db4-11e8-9372-23d9d8739525.png)

![image](https://user-images.githubusercontent.com/22490427/

[2018-06-11 13:29] yuweiming2016 commented on #910
by the way,the configuare result as follow:
![image](https://user-images.githubusercontent.com/22490427/41234298-5ba988e8-6dbe-11e8-83c0-606dbdda462e.png)

and make result have an warnning:
![image](https://user-images.githubusercontent.com/22490427/41234376-936a16da-6dbe-11e8-84f0-e3fbd56c9731.png)

[2018-06-11 13:38] pqarmitage commented on #910
I can reproduce the problem. I think it is caused by all the entries in the notification_email being commented out. Can you try commenting out the `notification_email {` and the following '}' lies as well.

[2018-06-11 13:42] pqarmitage commented on #910
The warnings are due to the version of gcc you have being oldish and it not being so good at detecting the initialisation of variables within conditions. More recent versions of gcc do not report these warning.

[2018-06-11 14:10] pqarmitage commented on #910
This issue was fixed by commit 707e213, which was first included in keepalvied v1.4.4. If you are upgrading keepalived you may as will upgrade to 1.4.5 or even v2.0.2.

[2018-06-11 14:10] #910 closed

[2018-06-11 14:14] yuweiming2016 commented on #910
@pqarmitaoge ,it works for me! thanks you very much

[2018-06-11 15:13] pqarmitage commented on #839
@Turgon37 I have been investigating this further, and at the moment I suspect that the problem is due to sockets that are opened for sending, and which currently aren't read, are having data queued to those sockets.

I have produced a patch ([rx_bufs.patch-1e57698.txt](https://github.com/acassen/keepalived/files/2090512/rx_bufs.patch.txt)) which will read data on the send sockets, and log some inf

[2018-06-11 23:24] pqarmitage commented on #839
@Turgon37 Good news - I can reproduce this problem in a Debian Jessie VM. The patch in the previous comment indeed identifies the issue. Adverts from the master are being queued to the send socket of the backup, however the send socket is configured not to receive any multicast packets.

I'm not seeing this problem on Debian Stretch, but I can see the same problem on CentOS 7 with a 3.10.0 kernel

[2018-06-12 00:02] pqarmitage commented on #839
Commit 6fb5980 is the first patch, and should stop the receive queues growing and causing the system to having memory problems.

[2018-06-12 06:31] Sankaranarayanans commented on #876
Hi

Have upgraded my kernel to  4.16. But still VS IPV6 and RS ipv4 is not working as expected

root@172.20.28.92~#uname -a
Linux 172.20.28.92 **4.16.11-1**.el7.elrepo.x86_64 #1 SMP Tue May 22 15:34:16 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux
root@172.20.28.92~#keepalived -v
**Keepalived v1.4.4** (unknown)

Copyright(C) 2001-2018 Alexandre Cassen, <acassen@gmail.com>

Built with kernel headers for

[2018-06-12 08:41] pqarmitage commented on #876
The keepalived -v output shows `Built with kernel headers for Linux 3.10.0`. You need to upgrade the kernel-headers package as well as the kernel in order for keepalived to detect at build time that there is support for mixed IPv4/IPv6 tunnelling. After upgrading the kernel headers, you will need to run `configure` again, and then re-build keepalived.

[2018-06-12 10:39] pqarmitage commented on #876
If you want keepalived to use the features of the installed kernel, then keepalvied needs to be built with the kernel headers for that kernel. When you built the 4.6.11 kernel package, there should also have been built a matching kernel-headers package, and that needs to be installed as well.

[2018-06-12 11:18] Sankaranarayanans commented on #876
Stood. Let me clearly tell you. My updated kernel version is 4.16.11-1.el7.elrepo.x86_64. During the kernel upgrade, kernel-header is not upgraded by default. Now I have upgraded the kernel-header version to 4.9.86-30.el7.x86_64. This is the latest version available in the centos repository

root@172.20.28.92~#uname -a
Linux 172.20.28.92 **4.16.11-1.el7.elrepo.x86_64** #1 SMP Tue May 22 15:34:16 E

[2018-06-12 13:01] pqarmitage commented on #876
No that you have IPVS_DEST_ATTR_ADDR_FAMILY available, this can now work.

I've had a quick look at the code and I think the lb_kind is not being inherited properly by the real server from the virtual server. Can you try configuring `lvs_method TUN` in the real server and see if that helps.

[2018-06-12 17:47] agustincastanio commented on #389
+1

[2018-06-12 17:57] pqarmitage commented on #876
I've just tested your configuration in comment https://github.com/acassen/keepalived/issues/876#issuecomment-390909934 on my system with keepalived v1.4.4 and it works as expected. However, your configuration has clearly changed since the IPv4 address being reported is 172.20.22.229 which isn't in the configuration above.

Could you please post a copy of the latest configuration you are using so w

[2018-06-13 05:46] Sankaranarayanans commented on #876
After changing lb_kind to lvs_method keepalive worked as expected.

[2018-06-13 06:10] yywf opened #912 "in the server cluster, how to know other server is down or up by keepalived"
in the server cluster, if one server down, is there any configration can let user know? like notify_master / notify_backup

[2018-06-13 08:16] pqarmitage commented on #912
If you have two servers in the cluster, say nodeA and nodeB, then you could run keepalived in each server, with two vrrp instances, one which has higher priority on nodeA and the other has higher priority on nodeB. If the lower priority vrrp instance becomes master, then the other node will either be down, or the network between the two servers has become isolated. You could then use notify_master

[2018-06-13 08:18] pqarmitage commented on #871
@igroost Do you have any update on this issue? It is over three weeks since you last updated it.

[2018-06-13 12:44] igroost commented on #871
@pqarmitage 31 numbers we have installed on the server cut keepalived 2.0.0. So far, the problem hasn't been apparent, but past experience shows that the problem starts to show up after 2 to 3 weeks of keepalived running without a reboot.

I propose to leave the issue open for two weeks. We do not yet have an exact method to reproduce the problem on demand.

[2018-06-13 13:11] balmnm commented on #882
@pqarmitage  Sorry for the late reply.
I just tried the following in **debian stretch** kernel and I see the mac-address is not duplicated.

[code]
I think the same mac is not getting assigned for any new macvlan interface.
Do you foresee any issues with other linux kernels?

[2018-06-13 17:58] pqarmitage commented on #882
@balmnm The MAC address is randomly generated, in which case there is a risk, albeit very small, that the same MAC address might be generated again. However, the Linux kernel doesn't appear to make any checks for uniqueness, so presumably the kernel has decided either the risk of a duplicate MAC address is too low to be worth worrying about, or it actually doesn't matter.

The code for the kernel

[2018-06-15 08:01] SjonHortensius opened #914 "2.0.2 - segfault"
After upgrading my (systemd) nspawn-ed keepalived instance to 2.0.2, it segfaults, seemingly after `Sending/queueing Unsolicited Neighbour Adverts`. Is this an issue with my configuration?

[code]

[code]

[code]

[2018-06-15 10:58] pqarmitage commented on #914
@SjonHortensius Do you have a core dump from the segfault, and if so are you about to do a backtrace and post it here?

[2018-06-15 11:08] SjonHortensius commented on #914
[code]

[2018-06-15 13:21] pqarmitage commented on #914
Many thanks for the stack backtrace. It has enabled me to identify the bug. The aspect of the configuration that caused the bug to be triggers was not having IPv4 vrrp instances but having IPv4 eVIPs (the same would have applied with IPv6 also).

Commit 95ef74a resolves the issue.

[2018-06-15 13:37] pqarmitage commented on #914
I saw that `Cant send advert` message too, but assumed it was just down to the configuration I was using. I'll have a look at it.

[2018-06-15 13:42] SjonHortensius commented on #914
Not sure if this helps - strace shows
[code]

[2018-06-15 13:47] pqarmitage commented on #914
@SjonHortensius I've found the fix for the 'Cant send' problem. Will push a patch in a few minutes.

[2018-06-15 13:50] pqarmitage commented on #914
Commit 4bff75e should resolve the problem.

[2018-06-15 14:19] SjonHortensius commented on #914
Yep, that fixes that. Thanks again!

[2018-06-15 14:19] #914 closed

[2018-06-15 16:16] Jean-Daniel opened #917 "vmac_xmit_base does not works with IPv6"
I have a simple configuration:

[code]

Everything work great when I'm using an IPv4, but when I'm using an IPv6, the both node switch to MASTER status and ignore other node advertisements.

A quick look at the network trace show me that the VRRP frames are send using the vrrp interface, and not the base interface:

[code]

If i remove the `vmac_xmit_base` setting, the emitted frames are identical

[2018-06-16 17:09] pqarmitage commented on #917
@Jean-Daniel Many thanks for reporting this. Commit 18ec95a resolves the problem.

[2018-06-16 17:09] #917 closed

[2018-06-17 03:31] yakatz commented on #389
I think a return code change would be important. The same way you can't rely on users to read the config file (so you need to be able to validate it), you can't rely on users to check the logs.

The return code would also be important for tools like puppet that can roll back to the old configuration if the check command returns a non-zero value.

[2018-06-17 04:59] k0ste commented on #389
Yes, return code should be non-zero, this is also important for Ansible template validation.

[2018-06-17 18:40] kustodian commented on #389
Agreed, without a return code, it's hard to use this with configuration management tools.

[2018-06-18 13:49] Jean-Daniel opened #920 "can't add virtual_route to vmac interface"
When switching to master, I need to update some routes and so I'm trying to use virtual_route {} block to do so.
My route have to use the vrrp.id iface created by keepalived when using vmac.

My issue is that as keepalived try to validate the route dev before creating the vmac interface, it fails with the following message:

`WARNING - interface vrrp_150 for VROUTE nexthop doesn't exist`

and the

[2018-06-18 13:53] pqarmitage commented on #920
In order for keepalived to accept configuration on interfaces that don't exist when keepalived is reading the configuration file (such as on VMACs), you need to specify `dynamic_interfaces` in the global_defs section of the configuration.

[2018-06-18 14:41] pqarmitage commented on #920
Also `virtual_route` should be `virtual_routes`.

[2018-06-18 15:03] gunhu opened #921 "VMAC and virtual lab"
Dear all,

Maybe I understand it wrong but following this kind of documentation (https://github.com/acassen/keepalived/blob/master/doc/NOTE_vrrp_vmac.txt) doesn't solve my issues with VMAC.

Lab environment :

- OS : Debian GNU/Linux 9.4
- Keepalived version : 1.3.5
- Virtualization software : Virtualbox 5.2.12 (promiscuous mode enabled on NICs)

Router 1 :

-> keepalived configuration file

vrrp_

[2018-06-18 20:34] #920 closed

[2018-06-18 20:52] pqarmitage commented on #389
Keepalived now exits with exit code 1 if it would fail to run the configuration.

keepalived tries to work around configuration errors, and most errors cause warnings rather than cause keepalived not to run. If there are warnings but non-fatal errors, keepalived will exit with exit code 0, since it would execute the configuration.

[2018-06-18 22:37] niconorsk opened #924 "nftables support"
Just wanted to put this up for other people like me who discover the inherent dependency. Is this something that is being considered at all? If not, any suggestions for people who want to use nftables to workaround this dependency.

[2018-06-18 22:44] pqarmitage commented on #924
Yes, this is absolutely something I want to implement but I haven't got my head around nftables yet.

Any help would be much appreciated. For example, if you could provide the nftables commands to set up the equivalent functionality of what is set up using iptables/ipsets currently would be very helpful.

[2018-06-19 07:08] pqarmitage commented on #921
First some comments on your configuration (although it won't fix anything):
[code]
and
[code]
are unnecessary since keepalived will track the interface the vrrp instance is configured on by default.

What might be the problem is that your output above shows that the route 192.168.42.0/24 is via enp0s31f6 where you are configuring the address 192.168.42.254 on enp0s3.

I have tested you configurati

[2018-06-19 07:54] gunhu commented on #921
First of all, thank you for your answer pgarmitage.

I will describe my setup for better understanding :

  Host
     | (enp0s31f6)
----------
Virtualbox (bridge interfaces with promiscuous mode enabled)
----------
 |       |
R1    R2

enp0s3 interface are configured on both routers

ICMP command is triggered on host side.

Regards,
Alexis.

[2018-06-19 10:17] pqarmitage commented on #921
I presume you are running two virtualboxes, one for router1 and one for router2. So far as I can tell, the output of `ip route show` is empty, and it looks as though the ping and arp outputs are on the host system. Without knowing what addresses are configured on each interface of the host and router1/2, what routes are configured on them, and the connectivity between the interfaces it is rather h

[2018-06-19 10:45] gunhu commented on #921
Thanks. I use other VRRP implementation on other OSes with virtualbox and if promiscuous mode is enabled on bridge interface it's working perfectly. I tested my setup on physical hardware and it's working like a charm.

[2018-06-19 12:14] gunhu commented on #921
Here is the information asked on your last answer :

- https://pastebin.com/1RgbA8Th

[2018-06-19 12:43] gunhu commented on #921
For the record without using keepalived when configure a mac vlan interface in virtualbox :

- ip link add link enp0s3 vrrp.142 type macvlan mode private
- ip a add 192.168.42.254/24 dev vrrp.142
- ip link set up dev vrrp.142

Everything is working well but the mac address is the one of physical interface (no sysctl tweak)

Regards,
Alexis.

[2018-06-19 13:03] balmnm commented on #882
@pqarmitage  Thanks for the suggestion.
Im planning to do the following code change.

- While creating sub-interface , the kernel allocated MAC address will not be changed to VMAC address.
- When the vrrp-group becomes master, VMAC is assigned to the sub-interface
- When the vrrp-group leaves from master, VMAC is removed from sub-interface and dummy MAC 00:00:5e:00:01:00 will be programmed on it.

[2018-06-19 13:15] pqarmitage commented on #882
I certainly think what you are suggesting is worth trying, and is a reasonable way to go, but until you try it I cannot say that it will work.

My preferences would be:
- When creating sub-interface, set dummy MAC 00:00:5e:00:01:00 immediately. This is so that the MAC is consistent when in backup mode, regardless of whether the vrrp instance has ever been master
- Use 00:00:5e:00:02:00 for IPv6 VM

[2018-06-19 13:22] gunhu commented on #921
Anyway thank you for your help. I will try to figure out what is missing on my virtualbox setup and open an issue on the forum like you suggested.

[2018-06-19 13:22] pqarmitage commented on #921
Re the note in your first comment, you shouldn't need to change the sysctl settings since keepalived now does that itself.

I am confused about one aspect of what you have reported. You show in your config above:
[code]
and that will default to 192.168.42.254/32, and that is how you want to configure it, since you already have 192.168.42.0/24 network configured on enp0s3.

However, when you show t

[2018-06-19 13:29] balmnm commented on #921
@gunhu  Couple of thoughts and please correct me if i'm wrong.
I saw your route output in R1 and R2 with the provided link.
Both(R1/R2) has the following route with VIP as source.

Looks like VRRP election does not successful which results in dual MASTER in both R1 and R2.
Because of this both routers R1 and R2 owns the virtual ip address and  route is present on both R1 and R2.
Due to this contin

[2018-06-19 13:45] gunhu commented on #921
@pqarmitage & @balmnm

I did some modification.

Here is the correct version of my output when I configure /32 VIP address :

- https://pastebin.com/gPLyp4yV

[2018-06-19 13:54] gunhu commented on #921
And without use_vmac :

- https://pastebin.com/Gvd1yqyf

[2018-06-19 14:02] pqarmitage commented on #921
@gunhu For some reason the `ip route show` output when you are not using `use_vmac` doesn't show default routes but does show routes to 169.254.0.0/16, but the previous post, when you are using use_vmac does show default routes, but doesn't have 169.254.0.0/16 routes.

[2018-06-19 14:14] gunhu commented on #921
Ok sorry guys.

Full output below of my current configuration.

Here is the status of my lab and my host :

- With use_vmac

https://pastebin.com/v404tBtk

- Without use_vmac

https://pastebin.com/AXL7RGtz

- Host in both case :

https://pastebin.com/Wke8kTDg

Regards,

[2018-06-19 14:20] gunhu commented on #921
- ARP output (when use_vmac enabled)

# arp -a
? (192.168.42.254) at 00:00:5e:00:01:8e [ether] on vboxnet0
? (192.168.42.55) at 08:00:27:56:53:86 [ether] on vboxnet0
? (192.168.42.56) at 08:00:27:63:17:1d [ether] on vboxnet0

- ARP output (when use_vmac disabled)

# arp -a
? (192.168.42.254) at 08:00:27:56:53:86 [ether] on vboxnet0
? (192.168.42.55) at 08:00:27:56:53:86 [ether] on vboxnet0
? (192.

[2018-06-19 14:24] pqarmitage commented on #921
Can you try `ping 192.168.42.254` from the host and both R1 and R2, and immediately after each one do `arp -a`, and post the output of that. It would also be helpful if you could run tcpdump on each system while doing the pings and see what traffic is seen.

[2018-06-19 14:45] gunhu commented on #921
From the host, tcpdump is runnning on both sides :

- https://pastebin.com/KWqKdRNW

[2018-06-19 14:54] gunhu commented on #921
From R1, tcpdump is running on both sides :

- https://pastebin.com/vwwdm2Yv

[2018-06-19 14:56] pqarmitage commented on #921
It looks as though ICMP echo requests are being blocked from leaving the host. They show in the tcpdump running on the host, but do not appear on the tcpdumps on R1 or R2. This is definitely not a keepalived problem (the vrrp traffic is working fine) and the arp resolution is also working fine, so keepalived and arp traffic are passing, but ICMP echo requests aren't.

Is sshd running on R1 and R2;

[2018-06-19 15:00] balmnm commented on #921
@gunhu  also check ping for R1/R2 interface IP address(192.168.42.55/192.168.42.56) from host. I think that also will not work.

[2018-06-19 15:25] gunhu commented on #921
From R2, tcpdump is running on both sides :

- https://paste.ee/p/CGsLa

@pqarmitage So it's only my setup or Virtualbox ? It's strange that no one had this kind of issue and doesn't did a feedback. (here or in virtualbox forum, I did a quick search maybe I missed something (with source mac))

Your assumptions is right and confirmed mine. It's like virtualbox is dropping L3 (ICMP/TCP/UDP) when I u

[2018-06-19 15:29] gunhu commented on #921
@balmnm It's working that why I was confused :

- https://paste.ee/p/ZbG8g

And no firewall configured on both routers (in case I didn't mentioned it already)

- https://paste.ee/p/ol5UQ

[2018-06-19 17:39] pqarmitage commented on #921
@gunhu It certainly appears that it is something to do with your setup or VirtualBox, which is something I have never used. We do see lots of problems when trying to run keepalived in virtual machines, and it generally comes down to the setup of the VM configuration.

Are you happy to close this issue now and deal with it as a virtualbox issue?

[2018-06-20 08:03] gunhu commented on #921
Yes, thank you for your help.

So far it's working with physical hardware and with KVM on Proxmox with the same keepalived setup and interface configuration.

Regards,
Alexis.

[2018-06-20 08:03] #921 closed

[2018-06-20 19:51] mikemol opened #925 "Update documentation / documentation links"
The [documentation](http://www.keepalived.org/doc/about.html) at www.keepalived.org only exposes documentation for keepalived 1.3. This should be updated for keepalived 2.x.

[2018-06-21 07:12] pqarmitage commented on #925
When someone has the time to update the documentation it will be done. In the mean time the man pages and doc/keepalived.SYNOPSIS are kept up to date.

[2018-06-21 07:12] #925 closed

[2018-06-21 15:53] balmnm commented on #882
@pqarmitage  I have tried the discussed solution, and here is the initial findings.
Im using debian stretch version of linux.

### 1. First mac address update always failing

If we try to change the MAC address virtual interface, very first time, it fails saying resource busy
But any subsequent mac update is passing without any issues.

[code]

### 2. In case of IPv6 VRRP groups, the extra link lo

[2018-06-22 10:19] iliesh opened #926 "Keepalived Segmentation Fault"
Trying to use VRRP V3 is causing keepalived to crash.
This is the log file:

Fri Jun 22 10:56:16 2018: Starting Keepalived v2.0.4 (06/17,2018)
Fri Jun 22 10:56:16 2018: Running on Linux 3.10.0-862.3.3.el7.x86_64 #1 SMP Fri Jun 15 04:15:27 UTC 2018 (built for Linux 3.10.0)
Fri Jun 22 10:56:16 2018: Opening file '/usr/local/etc/keepalived/keepalived.conf'.
Fri Jun 22 10:56:16 2018: Starting VRRP chi

[2018-06-22 10:51] pqarmitage commented on #926
@iliesh Your configuration works for me, albeit I haven't tried it on CentOS yet.

There is something strange with the output of `/usr/local/bin/keepalived -v` compared to the logs you have provided. The output of `/usr/local/bin/keepalived -v` doesn't show any configure options, whereas the system logs show `--enable-snmp --enable-snmp-vrrp --enable-snmp-keepalived --enable-snmp-checker --enable-

[2018-06-22 10:54] pqarmitage commented on #882
@balmnm Could you provide a copy of your patches so I can have a look and see if I have any suggestions. I can also see if any of the issues are Debian specific as you suggest.

[2018-06-22 11:43] balmnm commented on #882
@pqarmitage
Please find the changes in attachement. Kindly note that this change is based on 1.3.9 code base.
Let me know if you need code change based on latest release.
Also now im not able to reproduce the debian specific issue (Issue #1)

[dummymac.patch.txt](https://github.com/acassen/keepalived/files/2127462/dummymac.patch.txt)

[2018-06-22 13:04] pqarmitage commented on #882
@balmnm I have had a look at the patch and overall this looks good. Have you been able to verify that it resolves the two problems you identified at the beginning of this issue?

I have just a few comments on the patch:

1. The check in vrrp_complete_instance() for a matching VMAC interface needs changing. If the last byte of the MAC address of the interface is 0x00, then there will need to be a c

[2018-06-22 14:31] pqarmitage commented on #882
@balmnm Apologies - I missed the change of creating the VMAC with the dummy MAC address.

I've been thinking a bit more about the original problems you mentioned. If all vrrp instances use the same dummy MAC address, and then multiple backup routers simultaneously do pings as you describe in Problem 2, the switch's view of where the dummy MAC address is will jump around between the different inter

[2018-06-22 15:17] s33n commented on #534
vrrp_instance VI_1 {
    state MASTER
    interface p4p1
    virtual_router_id 51
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        10.34.221.170
    }
}
virtual_server 10.34.221.170 80 {
    delay_loop 6
    lb_algo rr
    lb_kind NAT
    protocol TCP

    real_server 10.34.220.68 80 {
        TCP_CHECK {

[2018-06-22 15:18] s33n opened #927 "Not able to switch to slave when the master network interface is down"
vrrp_instance VI_1 {
state MASTER
interface p4p1
virtual_router_id 51
priority 100
advert_int 1
authentication {
auth_type PASS
auth_pass 1111
}
virtual_ipaddress {
10.34.221.170
}
}
virtual_server 10.34.221.170 80 {
delay_loop 6
lb_algo rr
lb_kind NAT
protocol TCP

real_server 10.34.220.68 80 {
    TCP_CHECK {
            connect_timeout 10
    }
}
real_server 10.34.221.23 80 {
    TCP_CHECK {

[2018-06-23 08:07] pqarmitage commented on #927
There is no configuration option to make a vrrp instance transition out of master state due to a virtual server (or real server) being down.

If you want the vrrp instance to go down if 10.34.220.68 or 10.34.221.23 are unreachable, then you will need to use a track_script that does the check and returns an appropriate exit code.

[2018-06-23 09:54] balmnm commented on #882
@pqarmitage I think ping from backup node would be initiated from parent interface where the IP address is present.  So there will not be any issue in ping on simple configuration.  But there is a possibility of mac movement in switch when all the backup routers send IPV6 NS and NA packets.
Also when user has scaled config such that R1 and R2 has mix of Backup and Master routers,  this mac movemen

[2018-06-23 11:09] iliesh commented on #926
@pqarmitage,
yes, the output of /usr/local/bin/keepalived -v could be different because i was thinking that the issue is with snmp module, and i recompiled it again before post here an issue.

[root@host keepalived]# /usr/local/sbin/keepalived -v
Keepalived v2.0.4 (06/17,2018)

Copyright(C) 2001-2018 Alexandre Cassen, <acassen@gmail.com>

Built with kernel headers for Linux 3.10.0
Running on Linux

[2018-06-23 17:02] pqarmitage commented on #926
Commit  27e9865 resolves the segfault.

[2018-06-23 17:02] #926 closed

[2018-06-25 12:43] pqarmitage commented on #389
Closing since no adverse comments for a week (and two thumbs up!).

[2018-06-25 12:43] #389 closed

[2018-06-25 15:19] iliesh opened #930 "Keepalived Errno 88"
When i'm trying to stop keepalived daemon, in logs i see a lot of error messages:

[code]

What they are caused by? Is there any way to stop them?

Also, all the time when i'm starting keepalived daemon i'm receiving such error in logs:
`Jun 25 09:25:39 host Keepalived_vrrp[10148]: Kernel/system configuration issue causing multicast packets to be received but IP_MULTICAST_ALL unset`

I checked on

[2018-06-25 15:53] iliesh commented on #930
@pqarmitage,

Thank you for the prompt answer, I just tried again with the latest commit - and anyway i'm receiving such errors.

[2018-06-25 15:59] iliesh commented on #930
Also, I checked the source code files and seems that commit 88c698d is applied, but anyway the errors are coming up, so I guess that the problem is in something else.

[2018-06-25 17:36] iliesh commented on #930
@pqarmitage

Yes, of course:

[code]
I run 2 instances - Master and Backup, config is the same - just STATE and PRIORITY are different.

[2018-06-25 19:07] pqarmitage commented on #930
keepalived built with the latest commit should show:
`Keepalived v2.0.4 (06/25,2018), git commit v2.0.4-16-g8650e8b3`
as the first line of the output of `keepalived -v`. It looks like you are still running the vanilla v2.0.4 version of keepalived.

[2018-06-25 20:34] iliesh commented on #930
@pqarmitage
On the server where actually I have installed keepalived, I don't have internet and I was copying the zip archive from GitHub, now i cloned keepalived repo on my pc and then moved to the server.

Now this is what i get by running keepalived -v:

[root@host keepalived]# /usr/local/sbin/keepalived -v
Keepalived v2.0.4 (06/25,2018), git commit v2.0.4-18-gbc7af53

Copyright(C) 2001-2018 Al

[2018-06-25 23:56] sim- opened #931 "MISC_PATH execve() quoting changed"
Hello! I'm trying to debug a problem with the IPVS sync daemon never being promoted to master on a build I made between versions 1.4.2 and 1.4.3 (actual commit was 4f3ea7094c2788889fd6d73a3baca171eb5c47f1). On this version, and every version prior, I've used a misc_path string that I am expecting to work with shell quoting; for example, the line looks like:

misc_path "/usr/local/bin/http_test htt

[2018-06-26 03:15] tuyendd25 commented on #101
Hello,

KeepAlived is really a good product, but this problem is still in the way.

Is there anything we can do please?

[2018-06-27 00:21] sim- commented on #931
I bisected this to b4566528e64370eb2ca07d24e43ecaef55d43073 which has an obvious comment but I missed it because of merge order and the order of "git log". git tag --contains says this didn't get released until v2.0.0. In any event, while it's nicer to use execve() than system() (which is basically execve with "/bin/sh","-c",&lt;string&gt;), is there now any way to pass single arguments with space

[2018-06-27 02:34] niconorsk commented on #924
Posting info on behalf of my colleague who did the work:

Command line iptables calls are:

`iptables -V` to check whether iptables is available at all
`iptables -nL <chain>` to check whether the user-configured chain for dropping exists
`iptables -A <chain> -d <virtual ip> -j DROP` to drop packets for the virtual IP when in master mode if the virtual IP doesn't belong to the box
`iptables -D <cha

[2018-06-27 07:06] pqarmitage commented on #101
@tuyendd25 If you upgrade to the current version of keepalived, i.e. v2.0.4, or better still the HEAD of the master branch at github, then it does execute notify scritps and SMTP alerts when transitioning from BACKUP to FAULT.

[2018-06-27 07:08] pqarmitage commented on #930
@iliesh Can you confirm that with version v2.0.4-18-gbc7af53 you are still getting the
`Jun 25 15:58:29 host Keepalived_vrrp[12240]: Read on vrrp send socket 0 failed - errno 88 (Socket operation on non-socket)`
log messages on termination of keepalived.

[2018-06-27 07:13] pqarmitage commented on #931
I will have to look into this. I don't think the solution is to revert the commit; I need to have a look at how to passed arguments with spaces.

[2018-06-27 09:18] Travis-z opened #932 "[Error] make[2]: *** [vrrp_iproute.o] Error 1"
When I compile, I get the following error:
make
... ...
Making all in keepalived
make[1]: Entering directory `/home/xxx/keepalived-2.0.4/keepalived'
Making all in core
make[2]: Entering directory `/home/xxx/keepalived-2.0.4/keepalived/core'
make[2]: Nothing to be done for `all'.
make[2]: Leaving directory `/home/xxx/keepalived-2.0.4/keepalived/core'
Making all in vrrp
make[2]: Entering directory `

[2018-06-27 11:16] pqarmitage commented on #932
It appears to be a problem with the kernel headers, whereby <linux/rtnetlink.h>, which needs <sys/socket.h> to be included before it is included. The following patch resolves it for me on CentOS 6.5:
[code]

I'll look at producing a patch for this.

[2018-06-27 12:47] pqarmitage commented on #932
Commit 9b05533 resolves this problem.

[2018-06-27 12:47] #932 closed

[2018-06-27 12:50] #927 closed

[2018-06-27 16:41] pqarmitage commented on #930
Commit 7ff7ea1 should resolve the problem.

[2018-06-27 17:55] pqarmitage commented on #924
@niconorsk Many thanks for this update. What keepalived does currently is it adds entries to the chains specified in the `vrrp_iptables` option (it assumes that the iptables configuration has already been set up so that those chains are checked). keepalived will then use ipsets by default, rather than adding (potentially) long lists of addresses in an iptables chain. So, for example:

`vrrp_iptabl

[2018-06-27 18:04] pqarmitage commented on #882
@balmnm I'm not sure I every understood the reason why it was not a good idea to up/down the interface, but I was certainly advised that. I think my preference would be to got back to what we originally considered, and that was to remember the MAC address that the kernel configures by default, and use that when the vrrp instance is not master. Would that work for you?

[2018-06-27 19:06] iliesh commented on #930
@pqarmitage
Yes, now it's working better. What about this message:
`Kernel/system configuration issue causing multicast packets to be received but IP_MULTICAST_ALL unset`
?

[2018-06-27 19:13] pqarmitage commented on #930
@iliesh Thanks for the confirmation that its working now. The `IP_MULTICAST_ALL unset` message is just a diagnostic message, so don't worry about it. I'll have a look at it sometime soon.

[2018-06-27 19:14] iliesh commented on #930
@pqarmitage
Great, Thank you very much for your support.

[2018-06-27 19:14] #930 closed

[2018-06-27 23:04] niconorsk commented on #924
Ok, so will post a bunch of nft commands below with the following assumptions:
- Uses the above config with TABLE set to filter for both keepalived_in and keepalived_out chains
- The surrounding nft infrastructure to check those chains is made in place
- The provided chains should have no other rules(this makes deleting so much easier)
- The code block can be saved to a file and run with `nft -f`

[2018-06-28 14:15] balmnm commented on #882
@pqarmitage  Ok.. Will rework on code changes and test the same.

[2018-06-28 17:27] jeunito opened #935 "Using keepalived with multiple interfaces and unicast ip address on dummy interface"
Running into problems running keepalived with multiple interfaces.

1.  Active/passive setup of two servers.
2. Unicast communication for keepalived
3. Both servers have two interfaces that are connected to the switch
4. Server ip is on a dummy interface so traffic is routed into one of the two interfaces
5. VIP managed by keepalived is also on a dummy interface

When all interfaces are up on both

[2018-06-29 09:34] ONE-Luffy opened #936 "Read on vrrp send socket 9 failed - er"
I made a fatal mistake。
The following is my configuration file
[code]
When I start,He appeared
[code]

[2018-06-29 10:04] pqarmitage commented on #936
This was fixes by commit 7ff7ea1. Keepalived v2.0.5 has just been released, and that incorporates the commit.

[2018-06-29 10:04] #936 closed

[2018-06-29 10:19] pqarmitage commented on #935
This would appear to be a problem with your network configuration; somehow having both interfaces up makes the other node unreachable as shown by the tcpdump output.

if you still suspect the problem is with keepalived, then please upgrade to the latest version (v2.0.5) to see if you still have the problem with that version. If you then still have the problem, please post the output of the followi

[2018-06-29 11:22] pqarmitage commented on #924
@niconorsk Many thanks for this information. I'm not sure what you mean by `Declaring it literally works but doing named concatenations does not yet work` though.

For your information, keepalived normally does not invoke the iptables/ip6tables/ipset commands, but uses functions in the ip4tc, ip6tc, xtables and ipset libraries. I would plan to make use of the library interface to nftables, but kno

[2018-06-29 17:18] jeunito commented on #935
Ok thanks will try to upgrade first.

[2018-07-01 21:43] niconorsk commented on #924
What I meant was this works:
`add rule inet filter keepalived_in ip6 daddr { fe80::4000/64 }  iifname eth0 drop`

But here is no support for doing simething like this:
[code]

[2018-07-02 10:15] LinSizhan opened #938 "about keepalived start"
I had a problem when I started the keepalived service:
![qq 20180702180422](https://user-images.githubusercontent.com/40759729/42158197-6214b0b2-7e22-11e8-93a2-5383ab009292.png)
keepalived version is 2.0.5

/etc/keepalived/keepalived.conf:
-----------------------------------------------------------------------------
! Configuration File for keepalived

global_defs {
   notification_email {
	linsiz

[2018-07-02 13:17] pqarmitage commented on #938
Commit cd1dc19 should resolve your segfault.

You also appear to have defined the same real server twice for the same virtual server, which won't achieve anything and won't work properly.

`nb_get_retry` is a deprecated keyword that only applied to HTTP_GET and SSL_GET checkers. The correct keyword to use, which works for all checkers is `retry`.

[2018-07-02 13:17] #938 closed

[2018-07-02 13:40] pqarmitage commented on #924
@niconorsk Many thanks for your guidance with this. When I have time I will implement nftables support.

[2018-07-02 16:39] rohara opened #940 "configure --enable-debug flag results in undeclared ‘parent_child_remover’"
Running the configure script with the --enable-debug flag fails to build:

$ ./configure --enable-debug ...
...
$ make
...
main.c: In function ‘keepalived_main’:
main.c:1258:20: error: ‘parent_child_remover’ undeclared (first use in this function); did you mean ‘set_child_remover’?
  set_child_remover(parent_child_remover);
                    ^~~~~~~~~~~~~~~~~~~~
                    set_child_rem

[2018-07-02 17:27] orenye opened #941 "Keepalived vip across subnets fail on ttl"
Hi,

I’m trying to create a virtual ip between 2 VMs that run on different subnets using dockerized keepalived (osixia/keepalived:1.4.5) with unicast vrrp messages.
Unfortunately the vrrp messages are dropped due to the ttl value since the packet is routed from a remote subnet (log snippet from VM1):

    Mon Jul  2 12:41:56 2018: (VI_1): invalid ttl. 252 and expect 255
    Mon Jul  2 12:41:56 201

[2018-07-02 19:01] pqarmitage commented on #941
The code in vrrp_in_chk() in vrrp.c is
[code]
From this, if unicast peers are configured, then you shouldn't get the `invalid ttl` message at all.

With respect to your  configurations, you shouldn't configure `state MASTER` on the lower priority vrrp instance (you don't want it to default to being master). I'm also not sure how this will work, since if VM2 becomes master, unless something else ch

[2018-07-02 19:05] pqarmitage commented on #940
@rohara Yes, I agree with your diagnosis that `set_child_remover()` should be wrapped in `#ifndef DEBUG`.

[2018-07-03 08:34] orenye commented on #941
Hmmm... When I set VM2 to BACKUP and restarted both keepalived-s it stopped complaining about the ttl. But then when I returned it to be MASTER on both VMs it still worked OK, didn't get the ttl error and transitioned to the right status. So I assume that I probably messed up the setup in the first place and now it is configured and works as expected.
Sorry for the bother and thanks for the quick

[2018-07-03 09:40] pqarmitage commented on #941
[code]
This isn't the real question to be asking. With the configuration you have, you do have 2 VMs in different subnets serving the same virtual ip. What I think you need to be asking is how can you route to the second VM when it becomes master. And I'm afraid that my answer is I don't know. I think you need to take a step back and set out what it is you are trying to achieve, and then it might

[2018-07-03 11:07] orenye commented on #941
Got it. Thanks!

[2018-07-03 11:08] #941 closed

[2018-07-03 17:21] sim- commented on #931
I can probably fix up set_script_params_array() to parse quotes/apostrophes as /bin/sh did, if that would work for you.

[2018-07-03 19:09] jeunito commented on #935
@pqarmitage is there a make target that organizes keepalived into a directories that simulate how files will be installed on a Debian system? I am trying to build a deb file out of this.

[2018-07-03 19:28] pqarmitage commented on #931
I'm just completing a patch for some other functionality that I think should do what you want. I'll post the patch and a description here when it is ready.

[2018-07-05 14:54] sivann opened #942 "Master does not enter FAULT state if track_script fails"
Master's script exits non-zero, priority is reduced , this is communicated to backup which has a higher priority (saw via tcpdump). Master never enters FAILED state it remains the master, even with the minimal priority of 1. I tried the preempt option with no luck.

Version is keepalived-2.0.5

Master conf:
[code]

backup conf:

[code]

Logs in master just show:
[code]

[2018-07-05 15:03] sivann commented on #942
Ah found it, weight must be commented. This must be better depicted in the documentation.

[2018-07-05 15:03] #942 closed

[2018-07-05 15:24] pqarmitage commented on #942
@sivann Could you please explain what you mean by `weight must be commented`. If the documentation needs updating I will happily do that.

If a weighted script returns a non-zero exit code, it doens't make the vrrp instance go to fault state, instead it adjusts the effective priority, so that, as you were expecting, the priority of the original master is reduced and what was the backup has higher

[2018-07-06 07:05] sivann commented on #942
Thank you for the prompt response! Yes I meant that weight should not be specified. The part of the keelalived.conf(5) reads:
"...will cause vrrp instances to go down it they exit  a non-zero exist status or if a weight is specified will add or subtract the weight to/from the priority"
That was not very clear to me as I thought that the weight of -200 could reduce priority to 0, but priority does

[2018-07-07 16:01] idosch opened #944 "Unable to set parameters for base interface"
Hi,

I was trying to use keepalived VRRP in vmac mode where the base interface is a bridge, but my host received incorrect ARP replies for the virtual IP. This is because keepalived didn't manage to configure the `arp_filter` and `arp_ignore` sysctls for the base interface. Relevant part from the log:

[code]

Using strace I traced it down to the netlink request that tries to set the above two opt

[2018-07-07 16:04] idosch commented on #944
Forgot to mention that the workaround is to set above two options manually so that keepalived won't try to do it (and fail):

[code]

[2018-07-08 22:58] pqarmitage commented on #944
@idosch How do you manage to get strace to decode so much of the netlink messages? I've built the latest strace from [github](http://github.com/strace/strace) and it doesn't decode nearly so much of the netlink messages.

Commit 9b2b2c9 resolves the issue of setting arp_filter and arp_ignore on bridge interfaces. The issue you identified appears to be a problem with libnl3, so I have changed the c

[2018-07-09 17:47] idosch commented on #944
@pqarmitage I tested the fix on my machines and it works. Thank you! I'll close the issue.

Regarding strace, I'm not sure myself. I noticed that on my Fedora 28 machine it even parses more of the netlink packet. Probably because it has a newer strace compared to Fedora 27. I'll try to understand why there's a difference between my Fedora 27 machines.

[2018-07-09 17:47] #944 closed

[2018-07-10 05:57] pritishmishra opened #946 "Keepalived check script timing out"
We have implemented a HA setup for our component. The track script just checks for the pid of the service and sends exit status 0 (success), if present and 1 (failure), otherwise. We poll for the track script every 6 seconds.

This is how the keepalived config looks like.
[code]

We have a test which does repeated failover of the service to check its robustness. We are observing that intermittentl

[2018-07-10 07:51] pqarmitage commented on #946
Could you please post the following information:

1. The keepalived logs for 1 minute before the first `Track script chk_sfnode is being timed out, expect idle - skipping run` message
2. A copy of the get_sf_broker_status.sh script
3. How long the script normally takes to run (could it be close to the 1 second timeout?)
4. How heavily loaded is the system on which keepalived is running (this will

[2018-07-10 07:58] pritishmishra commented on #946
Hi @pqarmitage, Thanks for replying to the issue. I did a bit of readup on the previous issues raised on Keepalived and found https://github.com/acassen/keepalived/issues/867 and https://github.com/acassen/keepalived/issues/864, which seemed similar to the issue, that I am facing.

I understand that this issue is fixed with the latest of keepalived version. Hence, I have now brought in the latest

[2018-07-10 08:52] pqarmitage commented on #940
Commit d1a9777 resolves this issue and also resolves other warnings when building with --enable-debug.

[2018-07-10 08:52] #940 closed

[2018-07-10 09:04] idosch commented on #944
@pqarmitage Do you have CONFIG_NETLINK_DIAG enabled in your kernel config? After enabling this option, strace is able to parse the entire message. See this post for more details:
http://blog.saruta.eu/netlink_strace.html

[2018-07-10 11:29] pqarmitage commented on #944
@idosch CONFIG_NETLINK_DIAG is enabled as a module and the module is loaded, but I'm still not getting the full netlink decode. For example, I just get:
sendmsg(8<NETLINK:[2734374]>, {msg_name={sa_family=AF_NETLINK, nl_pid=0, nl_groups=00000000}, msg_namelen=12, msg_iov=[{iov_base={{len=60, type=0x10 /* NLMSG_??? */, flags=NLM_F_REQUEST|NLM_F_ACK, seq=1531222038, pid=0}, "\x00\x00\x00\x00\x4d\x00\

[2018-07-10 13:42] pqarmitage commented on #944
@idosch I have run this now on Fedora 28 and I am getting the detailed Netlink message decoding. It looks as though the additional support for Netlink decoding was added in strace 4.23.

[2018-07-10 16:09] pqarmitage commented on #931
I've pushed commit cb3e966 which should resolve this issue. `"/bin/echo 'hello world'"` should now work as you indicated it should. See section 0.6 or doc/keepalived.conf.SYNOPSIS for what has been implemented.

[2018-07-10 16:14] pqarmitage commented on #871
@igroost Have you seen the problem again?

[2018-07-10 16:16] pqarmitage commented on #839
@Turgon37 Are you still experiencing the problem?

[2018-07-10 23:46] mrozentsvayg opened #950 "forcing new election without action"
Hi,

This is pretty much the same issue as:
https://github.com/acassen/keepalived/issues/100
it has been closed without resolution, however it can occasionally reproduce.

slave:
[code]

master:
[code]

what happened here is that for a split second slave considered itself a master and executed a `notify_master` script. in our case it assigns a secondary ip in AWS.
master triggered a reelection, bu

[2018-07-11 00:18] sim- commented on #931
Yes, indeed, it now works without me changing anything as of a build from master pulled a few minutes ago. Thanks!

BTW, it _does_ now log "Keepalived_vrrp[26989]: Kernel/system configuration issue causing multicast packets to be received but IP_MULTICAST_ALL unset"... Do you want assistance debugging this?

This is a relatively vanilla 4.14.48 kernel but with some of our (unrelated) patches. It i

[2018-07-11 07:18] pqarmitage commented on #931
Regarding the "IP_MULTICAST_ALL unset" message, this was introduced by commit 6fb5980. The comments with that commit should explain the reasoning. Any help on the reason for this happening would be much appreciated.

Would you be happy to close this issue and raise a new issue for the IP_MULTICAST_ALL unset issue?

[2018-07-11 07:31] pqarmitage commented on #950
Could you please provide the following details:
1. Version of keepalived being used
2. What distro you are running, what version and what kernel version
3. A description of the environment the systems are running in.

The only reasons a vrrp instance in backup mode can transition to master is if it doesn't receive an advert for three advert intervals, or following receipt of a priority 0 advert, i

[2018-07-11 07:53] dseeley opened #951 "If BACKUP is rebooted, it transitions to MASTER state at same time as receiving MASTER advert from peer"
I have a pair of servers, both configured as BACKUP initially.  After some time, in a steady state scenario, where dev-a0 is MASTER and the dev-a1 is BACKUP, I  perform a reboot of dev-a1, and observe the following

[code]
This behaviour is a problem for me because I am using this in AWS, where the spurious MASTER transition on dev-a1 causes the EC2 secondary IP to be removed from dev-a0 and assig

[2018-07-11 10:50] igroost commented on #871
@pqarmitage
Hello.

In connection with the world Cup, we have not tested the problem and did not create potential situations in which the problem was manifested. At the end of the championship, we plan to start active testing and attempts to reproduce the problem. I suggest that you do not close the ticket for another two weeks.

[2018-07-11 11:42] pqarmitage commented on #951
Unfortunately I have no experience of AWS, but what is happening here appears to be some peculiarity of AWS rather than keepalived, since it doesn't happen in "standard" environments.

From you description above, it appears that AWS isn't allowing packets for protocol 112 (VRRP) to be received until a packet has been sent using that protocol. As you say, it could be that a module is loaded (althou

[2018-07-11 11:47] pqarmitage commented on #951
@dseeley I'm not entirely clear what you mean by `have an option for notifies to be sent to all vrrp_instances on any state change`. The way I see it, notifies are sent by running notify scripts, or sending a message to a notify fifo. Since you are using a notify_fifo, whatever is reading that fifo will receive all notifications for all vrrp instances. If someone is using a notify script, they can

[2018-07-11 12:16] dseeley-sky commented on #951
Hi @pqarmitage - thanks for getting back so quickly.  Indeed, it looks like you're correct - the AWS security group was not by default open inbound for VRRP protocol - it appeared to be working, because the BACKUP, on transitioning to MASTER, sent out an advert, which opened up the firewall inbound, whereupon it immediately received the master advert.  Thanks!

They're both running with the same p

[2018-07-11 12:18] dseeley commented on #951
Hi @pqarmitage - thanks for getting back so quickly. Indeed, it looks like you're correct - the AWS security group was not by default open inbound for VRRP protocol - it appeared to be working, because the BACKUP, on transitioning to MASTER, sent out an advert, which opened up the firewall inbound, whereupon it immediately received the master advert. Thanks!

They're both running with the same pri

[2018-07-11 12:35] dseeley commented on #951
Re the `have an option for notifies to be sent to all vrrp_instances on any state change`:
As I understand it, notify is triggered by a state change.  If server A changes state, it is told about it.  I was suggesting that the other servers in the group (B, C etc) could also be notified of their current state so as to remove any ambiguity. On reflection though, I'm not sure this would be very relia

[2018-07-11 12:35] #951 closed

[2018-07-11 13:29] pqarmitage commented on #951
The only protocol that is operating between the keepalived instances is the VRRP protocol, so we are limited to what information that can be derived from that. The possibilities that could be notified that currently aren't that I can think of are:

1. A master seeing an advert from another router that is a lower priority advert (that would have allowed a work around for the problem you were experi

[2018-07-11 19:43] mrozentsvayg commented on #950
1. keepalived version 2.0.2
2. ubuntu xenial 4.4.0-1060-aws
3. aws m5.xlarge, keepalievd + unbound per box

we could use the `notify_backup` to unassign the secondary address from the instance, but it still needs to be assigned to the master to make it work.

sorry, what do you mean?

[2018-07-11 20:34] pqarmitage commented on #950
I've learnt more about AWS and secondary IP addresses today, so I now see that my suggestions 1 and 2 above don't help.

The real issue to resolve is why is the backup not receiving adverts for 3 advert intervals. I would suggest seeing what happens if you increase the advert interval, but if that does improve the situation it would only be masking the real underlying problem. It would also be int

[2018-07-12 00:15] mrozentsvayg commented on #950
yes, there could be different intermittent issue when packets are lost.
something in aws, or security group regenerating etc.
the case is very unlikely to get reproduced any time soon, so i'd rather concentrate of how to properly detect and fix it when it occasionally happens, even once in a while, like a year.

it  sounds pretty much like what i would like to have.
all other workarounds are way m

[2018-07-13 02:49] sim- commented on #931
Yep! Thanks!

[2018-07-13 02:49] #931 closed

[2018-07-14 00:48] sim- opened #952 "Multicast packets received but IP_MULTICAST_ALL unset"
Hello! Per the discussion at the end of issue #931, this is a separate issue to discuss/track that issue.

Keepalived_vrrp[26989]: Kernel/system configuration issue causing multicast packets to be received but IP_MULTICAST_ALL unset

I added some debugging to the kernel net/ipv4/igmp.c ip_mc_sf_allow() to see when and why it would return 1, which is why such packets are delivered to sockets. I wro

[2018-07-14 12:18] pqarmitage commented on #952
Prior to commit 6fb5980 keepalived wasn't reading on the write sockets, and for sufficiently recent kernels there were no packets building up in the socket receive queue (as shown by `netstat -anp | grep keepalived`. On some older kernels (certainly 3.6 through 3.10) packets were being queued to the receive queue.

In order to stop the receive queue building up when using an older kernel, I added

[2018-07-16 07:46] balmnm commented on #882
@pqarmitage  Sorry for the long delay . I have started working on implementation and got few doubts.

1. We decided to cache kernel generated mac address and use it when VRRP leaves from MASTER. This implies, we need to create vmac subinterface without any explicit specified mac input, so that kernel generates MAC on its own and assign it to the vmac sub-interface. correct?
2.  Im confused about a

[2018-07-16 14:41] pqarmitage commented on #952
I've added some code to keepalived and what I am seeing is that it is IPv6 packets that are being received, and fortunately only on IPv6 send sockets. If I run keepalived with no IPv6 instances I do not get the `IP_MULTICAST_ALL unset` warning.

So I suspect we now need to find if there is an IPv6 equivalent of IP_MULTICAST_ALL and use that for Ipv6 multicast sockets.

[2018-07-16 22:38] pqarmitage commented on #952
Commit 77d947f makes keepalived only report the `IP_MULTICAST_ALL unset` for IPv4, which for stop the error message occurring at all.

The message will continue to be reported for kernels which still queue IPv4 packets on the send socket (e.g. 3.6 kernels).

[2018-07-16 23:05] pqarmitage commented on #952
I think the question now is whether there is a way to stop the IPv6 multicast packets being queued to the send socket. If not, then I think either a kernel patch is produced to provide the equivalent of IP_MULTICAST_ALL for IPv6, or we close this issue.

[2018-07-18 06:09] sim- commented on #952
But you would also see it for unicast IPv4 VRRP packets, right? Try setting unicast_src_ip to the local interface IP and unicast_peer to the remote host where you trace the UDP sockets receiving packets. With a simple raw socket receiver (e.g.: http://0x.ca/sim/tmp/udprecv.c ), it picks up the VRRP packets for me. This is what is causing them the write sockets to receive stuff in my case (IPv6 is

[2018-07-18 11:52] pqarmitage commented on #952
@sim- Yes, I am seeing it for unicast IPv4 packets.

I have added the following function, using SO_ATTACH_FILTER as you suggested, and `if_setsockopt_no_receive()` is called for all send sockets It appears to be successfully stopping any packets being queued to the socket:
[code]

Does this seem reasonable to you?

[2018-07-18 17:02] acassen commented on #952
nice

[2018-07-18 17:14] acassen commented on #952
There is certainly a root cause in kernel code that need time to spend on. Anyway cBPF/eBPF is certainly the best future proof work around.

[2018-07-19 04:31] pritishmishra commented on #946
We did extensive and rigorous testing, but didn't face this issue with the latest Keepalived version. So, in conclusion, this issue is fixed with the latest Keepalived release.

Thanks for your help. Closing this ticket.

[2018-07-19 04:31] #946 closed

[2018-07-19 07:07] k0ste opened #955 "Dry run (--config-test) works not as expected."
1. Wrong exit-code if file is not exists:

[code]

2. Stuck when file is empty or have a useless keywords:

[code]
[code]
Stopped by keyboard interrupt.

3. Case when exit code is zero.

[code]

[code]

[2018-07-19 07:11] k0ste commented on #955
@pqarmitage in #389 I think is no one test it.
I can test your patches to cover these flaws, to the end.

[2018-07-19 08:05] pqarmitage commented on #955
@k0ste Any improvements to the configuration parser would be welcome, and any different scenarios or where you feel the `-t` option isn't giving the correct exit code would be welcome.

The `-t` option with non-zero exit code was specifically for configurations that keepalived couldn't run (i.e. would cause it to exit) - see comment [issue #389 comment](https://github.com/acassen/keepalived/issues

[2018-07-19 08:24] k0ste commented on #955
@pqarmitage scenario is simple: when config is not perfect - keepalived should exit with non-zero exit-code. Automation tools, such as Ansible detects exit-code is not zero, return error to user with stdout/stderr. This is make configuration deployment 100% compatible with keepalived version on host and do not perform any actions (running config is not replaced, service is not restarted).

Written

[2018-07-19 17:43] mrozentsvayg commented on #950
@pqarmitage any eta about the `notify_master_rx_lower_pri`?

[2018-07-22 08:03] pqarmitage commented on #839
@Turgon37 Commit 81a92ab, which was merged last Wednesday (18 July) completely alters the way keepalived stops packets being queued to the send sockets (now rather than receiving and discarding the packets it applies a BPF filter to filter out all such packets). If you are still experiencing problems it would be worth testing with the latest code.

[2018-07-22 08:03] #839 closed

[2018-07-22 08:04] #952 closed

[2018-07-22 08:04] #935 closed

[2018-07-22 18:53] mrozentsvayg commented on #950
That's great,  i'm going to try it out, thank you!
However, when is it going to get into the next release (or get tagged)?
It'd be a bit more preferable to build the released package in our infrastructure than from the branch/commit (even master).

[2018-07-22 18:57] acassen commented on #950
new release scheduled for tomorrow

[2018-07-23 07:49] pqarmitage commented on #882
@balmnm I will follow your layout above for answering your questions:

1. I agree the interface needs to be created without any explicit MAC address in order to get a kernel generated MAC address.

2. Re assignment of IPv6 link local address

- I think the link-local address should remain as it is currently implemented (we certainly don't want to keep changing the link-local address); i.e. it uses

[2018-07-23 09:32] k0ste commented on #955
Role deploy validated configuration:

[code]

But actually keepalived is segfaulted:

[code]

About this me tell - orchestrator should know about this by non-zero exit-code.

[2018-07-23 13:45] pqarmitage commented on #955
@k0ste Could you please provide a copy of the keepalived configuration file that is causing keepalived to segfault since we need to fix that problem too.

What command line options is keepalived being run with? I'm guessing that '-R' is one of the options.

When the log says `TASK [/home/k0ste/sandbox/GIT/ansible-role-keepalived : Restart keepalived]`, is keepalived being stopped and started again

[2018-07-24 01:33] yywf opened #959 "nopreempt start is backup, serveral seconds, it become master"
i have two keepalived server use the configuration as follows，only the priority is different.
but when I only start one server, first it will be backup, serveral seconds it will become master, and the serveral seconds is indetermination， who can tell me the accurate value？ thanks。
[code]

[2018-07-24 03:40] mrozentsvayg commented on #950
during the initial phase there's still some race, may be another one.

master:
[code]
backup:
[code]

so the backup has inited 3 seconds later, and grabbed the vip ip from aws (using notify_master apparently)
master has forced the new election and got the interface ip back, but looks like it didn't execute neither of notify_master/notify_master_rx_lower_pri which are set the same.

[2018-07-24 03:42] k0ste commented on #955
Actually segfault catched also on dry-run:

[code]

dmesg:
[code]

configuration is:

[code]

[2018-07-24 04:17] sayicheng opened #960 "http healthcheck may be received an unexpected response and cause memory access violation in extract_status_code"
when http server response an unexpected response during http healthcheck, for example:
"aa aaaaaaaaaaaHTTP/1.1aa200aaaaaaaaaaOKaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa..........."

then, strncat will cause memory  corrupted in extract_status_code, due to inc++  is increasing to a large value ( > 10 ).

https://github.com/acassen/keepalived/blob/master/lib/html.c:
	while (buffer < end && *buffer+

[2018-07-24 04:32] yywf commented on #960
I think it is a bug...

[2018-07-24 06:31] pqarmitage commented on #959
This is a question and not an issue. The place to ask questions is on the keepalived-devel mailing list.

You are using keepalived version 2, and so the specification is RFC3768. The Master Down Interval as stated in the RFC is calculated as:
[code]
In other words the Master Down Interval is 3 * Advertisement_Interval + (256 - Priority) / 256.

[2018-07-24 06:31] #959 closed

[2018-07-24 07:06] k0ste commented on #955
First.

Of course this possible, in this case keepalived just should verify that syntax is valid.

This is just warning. Syntax is correct and can't break current configuration (or can?).

For example how work ISC dhcpd with interfaces and why this bad.
Let's define interface that no exists (or address that not exists, behavior the same):
[code]
Test it:
[code]
Looks good, now restart dhcpd:
[code

[2018-07-24 07:34] yywf commented on #959
@pqarmitage many thanks

[2018-07-24 08:45] pqarmitage commented on #960
Commit f280156 should resolve this issue. It also ensures that the status code is three digits long, is non-negative and occurs on the first line of the response. If anyone feels that these additional checks are too strict, please add a comment to this issue.

[2018-07-24 08:45] #960 closed

[2018-07-24 09:32] pqarmitage commented on #950
There appear to be two issues here:
1. Why does the backup transition to master when it starts
2. Why is the notify_master_rx_lower_pri script not running

Re 1, I suspect this is the same as [issue #951](https://github.com/acassen/keepalived/issues/951#issuecomment-404148519) - see comment re AWS security group.

2. Why is the notify_master_rx_lower_pri script not being run. This is strange since

[2018-07-24 12:41] sergeyglazyrindev opened #962 "keepalived and snmp support in docker container"
Hello guys!
We are working on integrating kolla-ansible solution to install openstack and it provides HA stuff using keepalived, one of our tasks we need to do is to get a HA situation/status of all services
We should use snmp approach integrated into keepalived.
I almost got it working but still no success.
What I did ?
1. Changed keepalived startup parameters, added -x and added snmp agentx addr

[2018-07-24 13:19] sergeyglazyrindev commented on #962
I forgot there's a problem with libipset not loaded while keepalived runtime. Could be that a reason ?

[2018-07-24 13:34] pqarmitage commented on #955
The segfault is fixed by commit cd1dc19. The commit is included in keepalived v2.0.6 which was released yesterday.

I note what you say about keepalived should exit with a non-zero exit code if one of the child processes segfaults, but I need to know what command line options are being passed to keepalived when it is run. I've looked through [ansible-role-keepalived](https://github.com/k0ste/ansib

[2018-07-24 14:43] robgarner commented on #962
that error is usually an indication of a permissions problem wrt communities or access groups in your snmpd.conf

[2018-07-24 15:00] pqarmitage commented on #962
keepalived dynamically links to libipset. It might be that for running in a container you would be better off specifying `--disable-libipset-dynamic` to `configure`.

There is some information on how to run snmp at the start of keepalived/vrrp/vrrp_snmp.c source file, although it doesn't specifically address containers. I have had difficulty running with snmpd running in the main network namespace

[2018-07-25 00:54] mrozentsvayg commented on #950
it's not the case unfortunately
all the VRRP pairs members are in the same subnet, and VRRPv2 advertisements go through without the explicit rules:
[code]

config is pretty trivial, backup:
[code]
and on master reversed `unicast_src_ip` and `unicast_peer` and:
[code]

will do.
though debug would contain some instance ids, ips and private zone aws info that i wouldn't disclose publicly, while a bit

[2018-07-25 07:39] pqarmitage commented on #950
@mrozentsvayg Happy for you to email it to me. You'll find my email address in the message of most commits.

[2018-07-25 07:56] pqarmitage commented on #955
I'll have a look at the interface not found issue.

`man ip address` includes the following:
[code]

[2018-07-25 08:05] sergeyglazyrindev commented on #962
How do I debug/ensure if it is a problem with communities/access groups in snmpd.conf ? Sorry for the stupid question but I didn't work with snmp before.

[2018-07-25 08:16] pqarmitage commented on #962
Can you try running keepalived directly in the server rather than in the container, and see if snmp works in that simpler situation.

[2018-07-25 08:18] pqarmitage commented on #955
If keepalived is run without the '-n' option, as in your case, when keepalived runs it forks and the parent process exists. The child process then forks child processes to handle vrrp, checker and bfd as appropriate. Due to the first fork, I don't believe it is possible to return a non-zero exit status if one of the child processes segfaults, since the process that invoked keepalived has already r

[2018-07-25 08:23] k0ste commented on #955
Thanks, it could save many of my time.

[2018-07-25 12:01] pqarmitage commented on #955
I'd forgotten to make sure that keepalived read the interfaces from the system when doing a config-test!

Here is an updated patch
[config_test_v2.patch](https://github.com/acassen/keepalived/files/2227747/config_test_v2.patch.txt) that fixes reading the interfaces (it should be used instead of the original patch).

There are some further changes in this patch:
1. if using the `--config-test`/`-t`

[2018-07-25 16:14] pqarmitage commented on #389
@kustodian @iDemonix @bjhaid @sebschrader @zed-0xff @tshak @corywright @yakatz @sander85 @agustincastanio @fliphess You all indicated some interest in this issue. Issue #955 has raised further issues with the implementation of the '-t'/--config-test' option, in particular saying the output should be written to stderr, and that keepalived should exit with a non-zero exit code for any configuration

[2018-07-25 16:15] pqarmitage commented on #955
I have a new patch -
[config_test_v4.patch](https://github.com/acassen/keepalived/files/2228647/config_test_v4.patch.txt) which fixes some issues I have found in testing, and also removes some of the superseded code from the original commits adding the config-test option.

[2018-07-26 09:45] BertrandGouny opened #963 "Default interface check"
Hello,
i'm having trouble with the default interface config :
[code]

[code]

[code]

not sure what is wrong with the interface :s

[2018-07-26 11:36] pqarmitage commented on #963
The handling of default_interface was wrong in the code. Commit 2bb86a1 fixes it.

It appears that `default_interface` is only used for static_ipaddress configuration, and is not used for vrrp_instances, so it is of limited use (I don't know why I implemented it like that!).

You don't need to specify
[code]
since the interface of a vrrp instance is tracked by default.

BTW `garp_lower_priority_re

[2018-07-26 11:36] #963 closed

[2018-07-26 12:03] pqarmitage commented on #882
@balmnm The vmac interface should not have an auto generated link local address as in your point 1, since either IFLA_INET6_ADDR_GEN_MODE is set to IN6_ADDR_GEN_MODE_NONE which stops a link local address being auto generated, or if IFLA_INET6_ADDR_GEN_MODE is not supported by the kernel, the auto generated link local address is deleted in function remove_vmac_auto_gen_addr().

Re point 3, if IFLA_

[2018-07-26 12:17] pqarmitage commented on #871
@igroost Have you had a chance to look at this again?

[2018-07-26 13:15] BertrandGouny commented on #963
thanks :)

[2018-07-26 14:06] nemo1937 commented on #427
config file has some mistakes.

[2018-07-27 03:51] k0ste commented on #955
Tested v4 patch - issue is fixed.

I want to provide some test data. Some fields are not checked (?) and human errors can be easily detected via checking variable type:

[code]

[2018-07-27 04:19] k0ste commented on #955
Also catched 100% reproducible segfault of "Healthcheck child process" on EL7. Segfault of child happened when SIGHUP signal received (systemctl reload keepalived).

2.0.6 with config_test.patch v4.

[code]

Journal (I was make a restart, after this - reload):

[code]

dmesg:

[code]

[2018-07-27 13:25] gurubert opened #965 "IPv6 virtual_route not set"
Hi,
we have a vrrp_instance with the following configuration:

…
    virtual_ipaddress_excluded {
    10.25.0.9/29
    2001:67c:2050:204::1/64
    }
    virtual_routes {
    to 80.241.61.64/28 via 10.25.0.10
    to 80.241.60.64/27 via 10.25.0.11
    to 2001:67c:2050:310::/60 via 2001:67c:2050:204::2
    to 2001:67c:2050:320::/60 via 2001:67c:2050:204::3
    }
…

The IPv4 routes are getting set, bu

[2018-07-27 14:17] pqarmitage commented on #965
It must be taking quite a while for 2001:67c:2050:204::1to come up, since keepalived won't attempt to install those routes until it has timed out in backup mode and then is transitioning to master.

If you are specifying `state MASTER` in your configuration, then it might work better without it.

Is keepalived being started at system startup? Can you try manually starting keepalived once 2001:67c:

[2018-07-27 16:30] 6wmgalle opened #966 "Vmac and isolation of VRRP traffic"
Hi everyone,

I'm configuring a two firewall HA setup with VLAN interfaces and Vmac. But I wish to isolate VRRP adverts on its own private link between firewalls (for example: eth1 on both firewalls).

  +----+ router ext +-----+
  |                                   |
+----+                         +----+
| F1 +-----eth1---------+ F2 |
+----+                         +----+
  |

[2018-07-27 16:50] pqarmitage commented on #966
The purpose of using a VMAC is so that adverts are sent using the MAC address specified in the RFC, i.e. 00:00:5e:00:01:VRID or 00:00:5e:00:02:VRID for IPv6. The `interface eth1` statement specifies that the VRRP protocol for vrrp_instance VI_DMZ is to run over eth1and so the VMAC interface is therefore added on eth1. There is no separate specification for where the VMAC interface is to be created

[2018-07-27 17:07] pqarmitage commented on #955
I have found a segfault in the checker process when restarting keepalived, but it wasn't related to ip_vs_del_service. When you do the reload, are you changing the configuration? If so could you please provide both the before and after configuration.

If you get any more segfaults, would you be able to provide a stack backtrace using gdb on the coredump?

I will have a look at the other configurat

[2018-07-27 17:12] pqarmitage commented on #955
@k0ste Are you aware that a `!` starts a comment as well as a `#`. Consequently the `!` as the last character of the password marks the start of a comment and the password itself is only 7 characters long.

[2018-07-30 07:01] balmnm commented on #882
@pqarmitage  During testing of  dummymac_patch.txt, I noticed those extra link local address. (v1.3.9 is used). So I thought it would be auto-generated.
[code]
Now with the introduction of "remove_vmac_auto_gen_addr()." API in latest keepalived version, I think we may not see the extra link-local address behavior. Will confirm after testing the changes on top of latest keepalived version.

[2018-07-30 14:57] pritishmishra opened #968 "Keepalived not logging messages for track/action scripts"
We have implemented a HA setup for our component using Keepalived. We notice that keepalived logs the actions performed by the service properly and we have also configured it so that it forwards the relevant logs to the relevant stderr and stdout log files. These logs help us a lot to debug, if something goes wrong with the setup. The component being used for HA setup makes it even more imperative

[2018-07-30 15:13] pqarmitage commented on #968
Are you using the `-G` and `-g` options to control the logging of keepalived? If not, that is the most straightforward way to manage where logs are written (this isn't related to your question though).

keepalived does **not** provide any mechanism for directing the output/logging of scripts that it runs. If a keepalived process and scripts were both to write to the same file, or indeed if two dif

[2018-07-31 05:06] pritishmishra commented on #968
Thank you @pqarmitage for your quick reply on this issue.
I completely agree with your logic of not populating logs in the same log file as used by Keepalived to keep the logs consistent and distinct. However, I was hoping the tool was logging in the messages from component scripts to some other log file. May be, that would be too cumbersome for the tool. :)

Anyway, as suggested by you in the exa

[2018-07-31 05:06] #968 closed

[2018-07-31 07:27] k0ste commented on #955
Is not changed.
I tested #967, segfault of checker process is gone. Thanks.

[2018-08-02 18:11] pqarmitage commented on #955
@k0ste I have now been through all the configuration parsing code and replaced all calls to aoi(), atod() and atof() with new keepalived functions read_int(), read_unsigned(), read_double() etc, which have full error checking. I have also replaced most calls to strtol(), strtoul(), strtod() with calls to the new read...() functions. This should mean that most of the undetected configuration errors

[2018-08-03 06:33] k0ste commented on #955
@pqarmitage huge patch. I was make build from master, with my testdata now keepalive get much more detections.
On next week I will test errors with my Ansible role to seek how this works.

[2018-08-03 12:35] pqarmitage commented on #882
@balmnm The code using IFLA_INET6_ADDR_GEN_MODE was included in v1.3.9, and for some time before that I think.

[2018-08-03 17:01] pqarmitage commented on #837
@lkarsten I was just about to start implementing this when I realised that this proposal doesn't work.

A vrrp_script is not run in the context of a vrrp instance, and many vrrp instances can track the result of running the same script. Consider the following configuration extract:
[code]

This means that the script /etc/keepalived/script.sh is run once per minute. A change from zero to non-zero e

[2018-08-04 23:17] andreykaipov commented on #223
For anybody else from the future that encounters this issue -- check what version of Keepalived you're using.

The changelog http://www.keepalived.org/changelog.html has the entry `Fix unused global vrrp_garp_master_refresh` corresponding to PR https://github.com/acassen/keepalived/pull/379 for release 1.2.23 (2016-07-11). The apt archive for Ubuntu 16.04 has Keepalived at 1.2.19, which didn't eve

[2018-08-05 17:33] pqarmitage commented on #955
@k0ste Now that configuration errors are reported through report_config_error(), in commits 42d1da8 and 9b0a380 I have been able to add reporting the configuration file line number of each error. This also enabled some streamlining of some error messages.

[2018-08-07 11:53] xujintao opened #972 "after reboot keepalived setting vip failed"
`cat keepalived -v`

`uname -a`

`cat /etc/redhat-release`

`cat /etc/keepalived/keepalived.conf`

    router_id lb-master-105
}
vrrp_script check-haproxy {
    script "killall -0 haproxy"
    interval 5
    weight -30
}
vrrp_instance VI-kube-master {
    state MASTER
    priority 120
    dont_track_primary
    interface eth1
    virtual_router_id 68
    advert_int 3
    track_script {
        che

[2018-08-07 12:42] pqarmitage commented on #972
The problem appears to be indicated by the lines
[code]
and then for some reason NetworkManager restarts (but this probably isn't a problem since doing a manual restart of NetworkManager on my Centos 7.5 VM doesn't cause keepalived added addresses to be removed).

On my CentOS 7.5 VM, keepalived doesn't lose its virtual ipaddresses, but NetworkManager isn't requested to take the interface down, so

[2018-08-07 20:40] xujintao commented on #972
I adopt the second solution and update keepalived from v1.3.5 to v2.0.6.
Althouth the network is still restart after reboot, but the vip(192.168.0.10) does appear.
I found the healthcheck child process can not spawn from log, which means only two process of keepalived running but it also seems work normally.

[2018-08-07 20:46] pqarmitage commented on #972
Glad to hear that your problem is solved.

In keepalived v2.x.y if there is no checker configuration, then no checker child process is started. Likewise, if there is no vrrp configuration, no vrrp child process is started. It just saves on system resources.

[2018-08-07 20:46] #972 closed

[2018-08-10 08:26] k0ste commented on #955
@pqarmitage, sorry for delay, very busy at this week.

I test on last master and found regression (for me) - when initial state is MASTER and `auth_type: 'AH'` `keepalived` return exit-code 4. This by default invalidate task.

Testdata:
[code]

Result of task:

[code]

What this mean? Master should not have auth method or what?

[2018-08-10 09:32] k0ste commented on #955
Just FYI, Ansible task have [failed_when](https://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#controlling-what-defines-failure) condition, but for template validation is useless.

[2018-08-10 11:07] pqarmitage commented on #955
@k0ste Due to the anti-replay features of AH authentication, the AH sequence number needs to be monotonically increasing. For this to happen, before an instance becomes master, it must have received a packet to learn the current sequence number. It is therefore not possible to transition directly to master when using AH authentication, and so configuring `state MASTER` and `auth_type AH` is a conf

[2018-08-11 05:41] k0ste commented on #955
I right understand when `auth_type AH` all instances should be run in `state BACKUP`?

Because template validation is provided by [template module](https://docs.ansible.com/ansible/latest/modules/template_module.html). `failed_when` is useful for [command module](https://docs.ansible.com/ansible/latest/modules/command_module.html) when you need to determine result of task.
For example, [my quagga

[2018-08-12 09:15] pqarmitage commented on #955
Any instance that uses `auth_type AH` should not specify `state MASTER` (the default is `state BACKUP`).

Is there a problem here that needs to be fixed in keepalived? Since a keepalived configuration file can only be meaningfully tested on the machine for which the configuration is intended, I can see that template validation is not particularly helpful.

For example, my quagga role deploy config

[2018-08-13 03:26] k0ste commented on #955
At this step I don't think so.

Quentin, current branch is works for me. My test data can't trigger new problems or ideas for improvements.
I close this ticket as resolved. If anybody in future will find regression or what can be improved - please create new issues.

[2018-08-13 03:26] #955 closed

[2018-08-15 14:01] gurubert commented on #965
Sorry, I should remember to not open issues before going on vacation…

2001:67c:2050:204::1 is a virtual IP set by keepalived. I cannot delay the startup of keepalived until this IP is set as it is keepalived that sets this IP.

Maybe we need to think "out of the box" here and use a routing protocol and not keepalived for this.

[2018-08-15 14:37] pqarmitage commented on #965
I'll have a look at the code, but my first thoughts are that this needs virtual addresses being added before virtual routes.

[2018-08-16 11:14] pqarmitage commented on #965
@gurubert keepalived does add the virtual addresses before virtual routes so that is not the cause of the problem.

I have run keepalived with the configuration extract you have shown above (including in a Debian 9 VM with the same kernel), and with both the current version of keepalived and v1.3.2 I do not experience the problem you are reporting.

In case it is something to do with the routes be

[2018-08-17 10:04] titansmc opened #977 "Building RPM's instructions"
Hi,
I see in the Install.md instructions :

`3. make tar`

it doesn't exist on the Makefile, should it be ?

`make rpm`

Best.

[2018-08-17 17:33] sergeyglazyrindev commented on #962
Hello guys!
I was busy with release. Now I am back to this problem

Seems like I found a reason but don't know how to fix.
I tested the keepalived with snmp locally and it works only when I use default agentx socket: udp:127.0.0.1:162
Though server has more interfaces, eth0, etc it doesn't work with another interfaces.
I tested it like this:
1. in one ssh session I started tcpdump on docker0 inter

[2018-08-19 07:33] pqarmitage commented on #977
Many thanks for reporting this. Commit f84848a corrects the instructions, and also fixes building the RPM package.

[2018-08-19 07:33] #977 closed

[2018-08-19 10:59] sergeyglazyrindev commented on #962
Hello guys!
Finally I got it working locally. But in container it still doesn't work
In logs it's saying: SNMP AgentX connected
but then I go to container and check all 3 keepalived processes. No one of these processes have a socket opened.
The process has following opened files:

But process doesn't have socket line:

When I request keepalived version through snmp it says: **"No response from 127

[2018-08-19 11:30] pqarmitage commented on #962
@sergeyglazyrindev I've tried this too in the past and never managed to get it working (actually I wasn't even using a container but I was trying with snmp and keepalived in separate network namespace).

[2018-08-21 08:16] kcem commented on #962
@sergeyglazyrindev
It seems that UDP is not working correctly. Keepalived is registering to SNMP but I cannot walk through keepalived objects. Use socket or switch UDP to TCP for temporary workaround for this problem.

Commands:
/usr/sbin/snmpd -x tcp:127.0.0.1:700 -f
/usr/sbin/keepalived -nld -x -A tcp:127.0.0.1:700 2>&1 | grep -i snmp
 SNMP keepalived enabled
 SNMP checker enabled
 SNMP RFCv2 en

[2018-08-21 13:34] pqarmitage commented on #962
@kcem Many thanks for the information.

I've just tried it with net-snmp v5.8 to see if that is any better, and it is worse! Using udp snmpd outputs the following:
[code]

TCP and unix domain socket work as before.

Should the UDP issues be reported as bugs to net-snmp?

[2018-08-21 14:33] ilyaevseev opened #980 "Keepalived is coredumped when logfile cannot be opened."
Just run under non-privileged user:

    $ : > /tmp/keepalived.conf

    $ ./keepalived-2.0.6/keepalived/keepalived -D -l -t -f /tmp/keepalived.conf
    Segmentation fault (core dumped)

    $ coredumpctl gdb
    ..
    (gdb) bt
    #0  __GI___fileno (fp=0x0) at fileno.c:35
    #1  0x0000555a84063ce3 in open_log_file (name=0x555a840649c9 "/tmp/keepalived.config-check", prog=prog@entry=0x0, namespa

[2018-08-21 14:38] ilyaevseev commented on #980
See my pull request #981 please.

[2018-08-21 15:12] #980 closed

[2018-08-21 17:50] sergeyglazyrindev commented on #962
I think yes, it should be reported to net-snmp. I'll do that. Thanks guys for investigation.
@pqarmitage I wanted to ask one more question: is it normal to have one snmp instance per one keepalived instance ? And do I need to ask all snmp instances to get a status of all keepalived instances ?
Or is there a way to collect it in one place ? And ask only snmp instance ? As far as I understand it's i

[2018-08-21 19:05] pqarmitage commented on #962
@sergeyglazyrindev When you report the UDP issue to net-snmp, could you also please mention the issue I identified above with net-snmp v5.8.

My understanding is that an OID can only be registered once with an instance of snmpd. Since the OIDs are fixed for keepalived (.1.3.6.1.4.1.9586.100), VRRPv2 (.1.3.6.1.2.1.68) and VRRPv3 (.1.3.6.1.2.1.207), that means that only one instance of keepalived ca

[2018-08-21 20:17] sergeyglazyrindev commented on #962
Okay, I think we can close this issue and reopen if net-snmp team explains that its a problem with keepalived.

[2018-08-21 20:17] #962 closed

[2018-08-23 04:15] ilyaevseev opened #982 "Do not send VRRP notifications from "keepalived --config-test""
When keepalived is running with "--config-test" switch, VRRP module sends "STOP" notifications.

Is it good to check it at the top of send_instance_notifies and send_group_notifies routines in vrrp_notify.c?

    if (__test_bit(CONFIG_TEST_BIT, &debug))
        return;

[2018-08-23 15:00] kvadrage opened #984 "VRRP macvlan interface is not inheriting VRF configuration of the base interface"
Hi!

I'm trying to use keepalived in vmac mode with base interface, enslaved to a user VRF.
However, keepalived keeps macvlan interface in the default VRF, thus the packets destined to VIP are being dropped by the kernel.

**Base interface:**
`root@leaf5:/home/admin # ip -d a sh bridge.20
44: bridge.20@bridge: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master vrf2 state UP group defa

[2018-08-24 20:18] Doout opened #986 "ig"

[2018-08-24 20:18] #986 closed

[2018-08-25 10:13] zengqinglei opened #987 "Build docker image exception"
### Run Environment
* **keepalived version:** v2.0.7
* **docker version:** 18.06-ce
* **system:** centos 7

### Exception
![image](https://user-images.githubusercontent.com/7374317/44617021-10792f80-a88e-11e8-8cb8-b74be5e4dbea.png)
![image](https://user-images.githubusercontent.com/7374317/44617019-fe978c80-a88d-11e8-8ac7-d5d3f08f237c.png)
### With the following the steps to reproduce:
**1. Initia

[2018-08-25 10:50] pqarmitage commented on #987
I've just merged a commit (b75d3e7) that should resolve the `sh: yes: unknown operand` error, and another commit (6c7a281) which should resolve the compilation error in process.c.

If you get any more `unknown type name bool` or `true undeclared` or `false undeclared` you cold try adding `#include <stdbool.h>` at the top of the source file, but please also log here any source files that needed std

[2018-08-25 10:52] pqarmitage commented on #987
@zengqinglei To create a new tar file from the git source tree, run `./build_setup; make; make dist`

[2018-08-25 18:03] zengqinglei commented on #987
@pqarmitage

**Hi, I run the following command as you said:**
[code]
**The above steps worked fine with no errors, but an exception occurred when I ran the following command:**
[code]
### Exception:
![image](https://user-images.githubusercontent.com/7374317/44621101-d2522f00-a8d2-11e8-9ea3-8d779c26ad40.png)
**View the file list as follows:**
![image](https://user-images.githubusercontent.com/73743

[2018-08-26 03:58] zengqinglei commented on #987
@pqarmitage Hello, I have solved the problem, I want to share my solution!
#### Instructions:
Because these files in the above figure: install-sh, missing, depcomp, ar-lib, all exist in a shortcut way, so can not be copied to the container through Dockerfile Add . /tmp/keepalived-sources, resulting in files not found To.
#### My solution is:
Delete the shortcut and copy the source file from the sh

[2018-08-26 08:29] pqarmitage commented on #987
The simplest solution is probably to create the tar file, and then extract the contents of the tar file in the container. This should work since the tar file includes the ar-lib, depcomp, install-sh and missing files, rather than symbolic links. Doing it this way is then the same as downloading the tar file and building from that.

[2018-08-26 08:29] #987 closed

[2018-08-27 04:57] zengqinglei opened #989 "Build docker image exception"
**Hi:**
**I probably didn't notice this problem yesterday. The following exception occurred when building the docker image today:**
![image](https://user-images.githubusercontent.com/7374317/44641106-f2c7d980-a9f7-11e8-9b23-1666c85a0f70.png)
**Can you analyze the reason for me?**

**_thank you very much._**

[2018-08-27 08:15] pqarmitage commented on #989
Please see the comment in the code immediately before line 809:
[code]
This is simply an issue that older versions of gcc weren't as good at detecting that variables had been initialised through all possible code paths that could reach the line in question.

[2018-08-27 08:15] #989 closed

[2018-09-03 10:14] ilyaevseev commented on #982
Thank you, I'll try the latest release.

[2018-09-03 10:14] #982 closed

[2018-09-06 01:25] 402309718 opened #994 "why github version 2.0.7 source tar file is different from the keepalive.org's"
download from github I find it has no configure file inside, but in keealived.org it has,so ?any other method to compile this ?tks

[2018-09-06 01:55] 402309718 opened #995 "keepalived-2.0.7 make rpm error"
|| chmod -R a+r "keepalived-2.0.7"
tardir=keepalived-2.0.7 && ${TAR-tar} chof - "$tardir" | GZIP=--best gzip -c >keepalived-2.0.7.tar.gz
make[2]: Leaving directory `/root/keepalived-2.0.7'
if test -d "keepalived-2.0.7"; then find "keepalived-2.0.7" -type d ! -perm -200 -exec chmod u+w {} ';' && rm -rf "keepalived-2.0.7" || { sleep 5 && rm -rf "keepalived-2.0.7"; }; else :; fi
make[1]: Leaving dire

[2018-09-06 02:12] ox123 opened #996 "The arbitration of master and backup are disordered"
I have two host and multi network card eth0 and eth1, both of them are bind with vip,but when I used the cmd[service keepalived stop] to force the cluster to do the master and backup switch,it failed, when I searching the logs in the /var/log/messages,the two node are as bellow, I find some issues about the arbitration.
**The master node**:
Line 19970: Aug 31 22:01:15 I-RegionLB02 Keepalived_vrrp[

[2018-09-06 09:38] pqarmitage commented on #996
From the information you have provided it isn't possible to tell what is happening. What is clear is that keepalived is stopping and restarting, since different PIDs are being logged, and so there must be other keepalived log entries that you haven't provided.

Can you please provide the following information:
1. The output of `keepalived -v`
2. What distro and version you are running on
3. Copies

[2018-09-06 09:54] pqarmitage commented on #994
Github has the source files, and since configure is generated from configure.ac it isn't in the Github source tree (the same applies to the Makefile.in and Makefile files and various other files generated from the source tree). The files is the tarball contain configure, the Makefile.in and Makefile files etc, so that keepalived can be built without having autotools installed.

If you read the INS

[2018-09-06 09:54] #994 closed

[2018-09-06 10:12] pqarmitage commented on #995
First of all it looks as though you are attempting to build the keepalived rpm as the root user, which you should never do; you should be running this as a normal, unprivileged, user.

The `~/rpmbuild/SOURCES` directory is created by running the script `rpm-setuptree`; it is not created by any part of the process of compiling keepalived. So it appears as though you haven't set up the rpm build env

[2018-09-06 10:12] #995 closed

[2018-09-07 12:35] vrit opened #997 "SIGSEGV on config reload with regex support enabled"
(gdb) where
    #0  http_get_check_compare (a=<optimized out>, b=<optimized out>) at check_http.c:331
    #1  0x00005555555713b0 in migrate_checkers (old_checkers_queue=0x5555557c1360, new_rs=<optimized out>, old_rs=<optimized out>) at ipwrapper.c:753
    #2  clear_diff_rs (new_vs=<optimized out>, old_checkers_queue=0x5555557c1360, old_vs=0x5555557c98d0) at ipwrapper.c:817
    #3  clear_diff_servi

[2018-09-07 13:01] pqarmitage commented on #997
@vrit Many thanks for reporting this along with the detailed analysis.

Commit afb8db5 resolves the segfault.

[2018-09-07 13:01] #997 closed

[2018-09-12 14:54] balmnm opened #998 "Running VRRP on top of macvlan interface with "use_vmac" option"
Hi @pqarmitage ,

I have configured VRRP groups such that it runs on top of macvlan interface with use_vmac option. Configuration is getting applied and keepalived is able to create one more macvlan interface and able to run VRRP. But any config reload signal causes, recreation of vmac interface. I could see following error logs.

Root cause:
Linux kernel creates vmac macvlan interface on top of r

[2018-09-13 08:59] pqarmitage commented on #998
I think in the first place the simple workaround for you is to specify `interface eth1` rather than `interface v-eth1`, since that is the end result in any case. Is there any disadvantage for you if you do that?

In the kernel code in drivers/net/macvlan.c there is the following:
[code]
which confirms what you have discovered.

I think we have two options for how keepalived should handle this. Eit

[2018-09-13 17:12] yelongyu commented on #632
@leibus hey, can you explain it that how the backup virtual machine drop the VRRP packets?

[2018-09-14 09:45] pqarmitage commented on #998
Commit 4fa9831 stops vrrp instances with `use_vmac` specifying an interface which is a macvlan (VMAC). The solution is to configure the vrrp instance to use the underlying interface of the macvlan, since that is precisely what the kernel will do anyway (keepalived logs that the vrrp instance should be configured on the underlying interface).

The challenge with fixing this issue was when `dynamic_

[2018-09-14 10:52] pqarmitage commented on #965
@gurubert Do you have any update on this, or should we close the issue now?

[2018-09-14 10:54] pqarmitage commented on #882
@balmnm Have you been able to test your changes against the latest version of keepalived?

[2018-09-14 10:57] pqarmitage commented on #837
Closing since no update for over 4 weeks. If anyone has any further comments on this issue the issue can be reopened.

[2018-09-14 10:57] #837 closed

[2018-09-14 11:13] balmnm commented on #882
Sorry @pqarmitage . I have not yet done the changes fully. Plan to resume working on this on last week of september.

[2018-09-17 14:02] senthilnathann commented on #542
Hi,

vrrp_higher_prio_send_advert is not working in our keepalived configurations.

Our keepalived version 1.3.9

Our MASTER config:

global_defs {
 ...
vrrp_higher_prio_send_advert true
vrrp_garp_lower_prio_repeat 2
vrrp_garp_lower_prio_delay 30
}
BACKUP Config:

global_defs {
...
vrrp_garp_lower_prio_repeat 2
vrrp_garp_lower_prio_delay 30
}

Logs from backup:

Keepalived_vrrp[21821]: VRRP_Instan

[2018-09-17 14:28] pqarmitage commented on #542
@senthilnathann Can you please provide full copies of the configurations for MASTER and BACKUP, and also the full keepalived logs of both MASTER and BACKUP. We can then investigate this issue.

[2018-09-17 16:28] senthilnathann commented on #542
Thanks for your quick reply,actually due to network disturbance ,we are faced split brain issue.After issue solved ,we need to update to GARP messages from current MASTER,so we tried this solution ,but its not working .Pls find the below config details .

MASTER Config :

global_defs {
        notification_email {
                XXXXX
        }
        notification_email_from XXXXX
        smtp_s

[2018-09-17 20:33] pqarmitage commented on #542
First, a couple of comments on your configuration:
- `lvs_sync_daemon_inteface` should be `lvs_sync_daemon_interface`.
- 'lvs_sync_daemon_interface' should only be specified against one vrrp instance. Better still, use `lvs_sync_daemon` in `global_defs`.
- There is no `state EQUAL` - just omit the line altogether

I'm a bit confused about what you refer to as MASTER and BACKUP, since it appears th

[2018-09-17 22:12] pqarmitage commented on #542
@senthilnathann Commit da3fd4b implements the solution outlined above. In order to incorporate the commit you will need to upgrade to the latest HEAD from git, which is quite an upgrade from v1.3.9, although keepalived should be fully backwards compatible.

You could, if you want, backport the patch to v1.3.9, although there are very many advantages in upgrading to the latest code including bug fi

[2018-09-18 12:53] 3hedgehogs opened #1001 "Keepalived version 2.0.7 does not accept rules with "from all/wildcard(0.0.0.0/0)""
I have just tested new version on keepalived 2.0.7 with our existing configuration
with a lot of static rules:

..<br/>
from 0.0.0.0/0 fwmark 86017 lookup gw-main.1 preference 1 <br/>
from 0.0.0.0/0 fwmark 86018 lookup gw-main.1 preference 2 <br/>
..

OR

..<br/>
from all fwmark 86017 lookup gw-main.1 preference 1<br/>
from all fwmark 86018 lookup gw-main.1 preference 2<br/>
..<br/>

Both variant

[2018-09-18 13:12] pqarmitage commented on #1001
Certainly from 0.0.0.0/0 should be allowed, and I will have a look at allowing that.

`from default` should work.

[2018-09-18 13:28] pqarmitage commented on #1001
I've had a further look at the code and I don't think `default` will work either at the moment.

[2018-09-18 14:48] pqarmitage commented on #1001
@3hedgehogs I've merged commit 843ffc8 which allows `from 0.0.0.0/0` and `from default` to work. I will push a further commit to allow `from all` and `from any` later, along with fixes for one or two other problems I have noticed while looking at this.

[2018-09-19 08:55] lc3412 opened #1003 "Missing Error Check in function SSL_CTX_new()"
Hi,
Function SSL_CTX_new() returns a pointer to an SSL_CTX object on success or NULL on error. However, the function SSL_CTX_new() in keepalived/genhash/ssl.c didn't check the return value is NULL or not, before passing the return value as an argument to the function SSL_CTX_set_verify_depth(). See the following details.

![screenshot from 2018-09-19 16-32-44](https://user-images.githubusercontent

[2018-09-19 09:01] lc3412 opened #1004 "Missing Error Check in function SSL_new()"
Hi,
Function SSL_new() returns a pointer to an SSL object on success or NULL on error. However, the function SSL_new() in keepalived/genhash/ssl.c didn't check the return value is NULL or not, before passing the return value as an argument to both the function SSL_set0_rbio() and SSL_set0_wbio(). See the following details.

![screenshot from 2018-09-19 16-33-43](https://user-images.githubuserconte

[2018-09-19 10:18] pqarmitage commented on #1003
Many thanks for reporting this.

Commit a007e93 adds a check of the return value of SSL_CTX_new(). More importantly it also adds the same check to keepalived in check_ssl.c/build_ssl_ctx().

[2018-09-19 10:18] #1003 closed

[2018-09-19 10:52] pqarmitage commented on #1004
Commit 31b0644 now makes genhash check the return value of SSL_new() and also BIO_new_socket(). It also applies similar updates to keepalived/check_ssl.c.

[2018-09-19 10:52] #1004 closed

[2018-09-19 22:27] pqarmitage commented on #1001
Thr other identified fixes have now been merged.

[2018-09-19 22:27] #1001 closed

[2018-09-20 05:39] sidsagravat1406 commented on #946
Which version fixed the issue?! We're using the latest stable Keepalived v2.0.7 (08/23,2018) and facing exact same issue but with additional message as follows :

`Keepalived_vrrp[8852]: kill -15 of process /etc/keepalived/track_script_check.sh(32567) with new state 2 failed with errno 0
Keepalived_vrrp[8852]: VRRP_Script(check_service) timed_out
Keepalived_vrrp[8852]: (redis_instance) Entering FA

[2018-09-20 08:34] pqarmitage commented on #946
The checking of the return status of kill() was incorrect, and this was causing the `Keepalived_vrrp[8852]: kill -15 of process /etc/keepalived/track_script_check.sh(32567) with new state 2 failed with errno 0` message. This is fixed by commit 79f73b6.

You nevertheless appear to have a problem with /etc/keepalived/track_script_check.sh since it is timing out. You may need to increase the `timeout

[2018-09-20 12:12] balmnm commented on #998
Hi @pqarmitage,

Here is the use case to run VRRP on top of  macvlan sub-interface.
This is to support VRF functionality using namespace. We use to create macvlan interface and move that interface to the namespace. This is done to achieve separation of L2 and L3 functionality. So layer 2 protocols uses the parent interface, while the l3 protocols will use the macvlan sub-interface available in nam

[2018-09-20 13:16] TarAldarion opened #1009 "Issue with priority when issuing SIGHUP"
Original posting to devel list:

Example of config, only things changing are priority and decrement values as outlined above. Each individual change was had a following SIGHUP.
Priority 50 -> 110 -> SIGHUP
decrement -7 -> -11 -> SIGHUP

Keepalived version:

[2018-09-21 02:41] yelongyu opened #1010 "keepalived-2.0.7 compile error when compile with debugging flags"
#### keepalived version
[code]

#### compile environment
[code]

#### output when configure with debugging flags
[code]

#### output when make compile
[code]

[2018-09-21 10:36] pqarmitage commented on #1010
Thanks for reporting this. Commit bd68f54 fixes the problem.

[2018-09-21 10:36] #1010 closed

[2018-09-21 10:40] TarAldarion commented on #1009
Here is a log with the other similar issue occurring.

I start off with a config like so:

[code]

I then edit the following and add a SIGHUP each time:

[code]

SIGHUP

` priority 100 (even though this was already the value)`

SIGHUP

[code]
SIGHUP

eth3 at this stage does not have an IP address so I add one

`  ip address 192.168.3.12 255.255.255.224`

In the log I can see various things happeni

[2018-09-21 14:47] pqarmitage commented on #1009
Commit 37d6b3b fixes the first problem.

I will have a look at the second problem, but I have found some further issues with interfaces being down, not only when keepalived reloads but also when it starts.

[2018-09-24 09:30] TarAldarion commented on #1009
Hi Quentin, that's great about the fix/es, do you know roughly when the next release might be and I will move to that. As most of the time interfaces will be down (perhaps not even exist yet) when I start keepalived I'm interested in the other problems that you found, what might they be?

My system does send reloads that fast to keepalived, I'll try and test some form of a delay to be a bit fairer

[2018-09-25 06:13] acassen commented on #1009
Will try to push a new release over next week end.

[2018-09-25 09:49] TarAldarion commented on #1009
@pqarmitage Thanks Quentin, I'll keep an eye on the commits and those fixes are quite useful. I've been testing a lot with these reloads and haven't seen related problems yet, I'll keep an eye out for any and what you've mentioned. Interesting other issues that you raised, thanks for bringing them to my attention, I do expect at least some of that to possibly happen and that needs to be accounted

[2018-09-26 08:53] yelongyu opened #1018 "Sending SIGHUP signal to keepalived did not refresh IPVS table after ipvsadm -C"
### Description

### Keepalived version

[code]

### Keepalived configuration
[code]

#### Start keepalived, everything goes well

* The IPVS log output
[code]

* The ipvsadm output
[code]

* The keepalived log output
[code]

---

#### Then clean IPVS by `ipvsadm -C`
[code]

* The IPVS log output
[code]

* The ipvsadm output
[code]

#### Then send SIGHUP to keepalived parent process
[code]

* The

[2018-09-26 09:18] pqarmitage commented on #1018
When keepalived does a config reload, it compares the old configuration to the new configuration, and only makes changes to the system for changes in the configuration. If there is no change in the configuration, then it will not update the system. The reason for this is that a configuration reload is designed to have the minimal impact on the running keepalived.

To achieve what you want, you wou

[2018-09-26 13:42] yelongyu commented on #1018
@pqarmitage thank you for your explain, but how it compares the old configuration and the new confituration? by checking MD5 of the configuration files or if the virtual service / real server changes?

[2018-09-26 13:56] pqarmitage commented on #1018
What keepalived does at reload is it loads the new configuration file and then compares that against what it previously had configured. It then removes anything that was in the old configuration that doesn't have a matching equivalent in the new configuration, and add items (e.g. real servers and virtual servers) that are in the new configuration but weren't in the old configuration.

In respect o

[2018-09-27 14:42] JonathanNathanson opened #1020 "PID xxxx exited due to signal 9"
Hi,

I am using Keepalived to manage a virtual IP address failover between two freeradius servers. My config runs a script to check that the freeradius server is responding, and if it isn't, should force a new master election.

**Keepalived version (on Ubuntu 16.04):**

`root@CN3-RAD-AUTH2:/usr/local# keepalived -v
Keepalived v1.2.24 (08/06,2018)`

**/var/log/syslog** is full of this, repeated eve

[2018-09-27 15:10] pqarmitage commented on #1020
I am assuming that PID 22505 is the radreplycheck.sh script (I can't see anything else if could be in your configuration). Keepalived only sends SIGTERM to scripts if they have not completed within the timeout interval (which you currently have set to 15). If the script still does not terminate after a further second, then keepalived sends it a SIGKILL, and this is what is being logged.

From the

[2018-09-28 06:07] lokeshh commented on #712
For me `pidof haproxy` didn't work but `pgrep haproxy` did.

[2018-09-28 11:12] #1018 closed

[2018-09-28 11:13] pqarmitage commented on #996
Closing due to no response for over 3 weeks. If further information is provided this issue can be reopened.

[2018-09-28 11:13] #996 closed

[2018-09-28 11:15] pqarmitage commented on #965
Closing due to no update for over 1 month. If you have a further update this issue can be reopened.

[2018-09-28 11:15] #965 closed

[2018-09-30 15:13] #1020 closed

[2018-10-01 15:01] Quantriple opened #1022 "Ask centos7 to install at least one version"
Thank you very much(非常非常感谢)

[2018-10-02 01:40] Paul-LKW commented on #427
It is annoying to say my fixed the problem but never have the solution on Post, selfish.

[2018-10-02 02:17] pqarmitage commented on #1022
Could you please explain what your issue is, and what you would like done to fix it.

[2018-10-02 02:36] Quantriple commented on #1022
Ask centos7 to install at least one version(在cento7上安装哪个版本)

[2018-10-02 02:37] Quantriple commented on #1022
Ask centos7 to install at least one version(在cento7上安装哪个版本)

[2018-10-02 07:41] pqarmitage commented on #1022
On Centos 7, `yum install keepalived` will install keepalived.

[2018-10-02 07:41] #1022 closed

[2018-10-02 14:52] scriptjs opened #1024 "Question: kernel requirements"
I cannot seem to find where the kernel requirements for keepalived are spelled out. Is there a resource that you can point me to so I may verify the kernel I am using has the modules required. Many thanks.

[2018-10-02 17:10] pqarmitage commented on #1024
I  don't believe there is anywhere that spells out the kernel requirements.

Any kernel feature that keepalived would like to use introduced from 2.6.15 onwards is tested for at configure/compile time by checking for relevant definitions in the Linux header files. Kernels older than 2.6.15 aren't supported any more.

I suppose we could try starting a list, but it is going to be hard work identifyi

[2018-10-02 18:05] scriptjs commented on #1024
Hi. Thank you for your reply. I am currently working with 4.14.x kernels at the present time. Yeah, there are multiple configs for IP_VS as well. I plan to use keepalived for VRRP with a virtual IP for nginx HA load balancing.

[2018-10-03 10:59] pqarmitage commented on #998
@balmnm - apologies for the delay in responding, but I've only just understood your situation.

I've done some experimenting with this, and I don't think specifying v-eth0 for the creation of the keepalived macvlan achieves what you want. In particular, I executed the following commands:
[code]
We now have eth0.10 as a macvlan on eth0 and assigned to VRF10:
[code]
Now try adding macvlan eth0.10.1

[2018-10-03 11:13] pqarmitage commented on #1024
Yes, I saw the multiple config options for IP_VS, but didn't feel like listing them all. If `no_accept` (or `strict_mode`) is specified, then various NETFILTER_XTABLES/NETFILTER_XT options are required anf IP_SET and some sub options. If static or dynamic routes are specified, then IP_ADVANCED_ROUTER and various associated options will be required, and likewise if static or dynamic rules are speci

[2018-10-03 12:04] scriptjs commented on #1024
I think you could close it but you may want to reference this in commit to docs so there could be some iteration to evolve kernel requirements for the project.

[2018-10-03 12:09] pqarmitage commented on #1024
@scriptjs Many thanks. I have already started adding the information to the INSTALL file, and will reference this issue when I commit it.

[2018-10-03 12:09] #1024 closed

[2018-10-03 16:34] balmnm commented on #998
@pqarmitage  Thanks for your reply. I could see in your test, you have used l3mdev to achieve VRF functionaliy.
In our case , we use namespace based method to achieve VRF functionality. Either way the underlying issue is same.  i.e; To run keepalived on top of macvlan with option of use_vmac.

[2018-10-04 06:12] growler opened #1025 "2.0.7 SIGSEGV on startup"
[code]

Configuration:

[code]

I'm running keepalived in a container with no IP addresses assigned, so I'm trying to make keepalive first setup static_ipaddress and then use it. If I set ip addresses before starting keepalived, it works fine. If I remove mcast_src_ip, keepalived doesn't crash, but immediately transit into FAIL mode due to ip addresses absent. There might be some race here since I

[2018-10-04 09:32] pqarmitage commented on #1025
I've just pushed a commit which for me resolves the problem. The backtrace you have provided shows that what I observed is the same problem as you have. The issue is when the default route is added. The RTM_NEWLINK message does not have a RTA_DST field for a default route, but the code was expecting there always to be an RTA_DST. The clue is in the address 0x4 passed as addr1 to compare_addr().

[2018-10-04 09:34] pqarmitage commented on #1025
The reason it works fine after keepalived is respawned is that the default route, which was added during the first time keepalived ran, is still configured, and so when keepalived attempts to add it when it is respawned, since the route exists, no RTM_NEWLINK message is sent to keepalived.

I'll merge the commit once the Travis-CI builds have completed.

[2018-10-04 09:38] growler commented on #1025
wow, that was quick
thank you!

[2018-10-04 09:39] pqarmitage commented on #1025
Commit 069a039 is now merged and should resolve the problem.

[2018-10-04 09:39] #1025 closed

[2018-10-04 10:14] growler commented on #1025
works like a charm, thank you!

[2018-10-04 13:41] chr4 opened #1027 "vrrp_script can't handle error codes different than 0 or 1 (since 1.2.19 -> 1.2.24 upgrade)"
I'm sorry that this concerns an older version (1.2.24 running on Ubuntu LTS 16.04) - I'm not sure if this is already addressed. I didn't find anything when searching Google/ this repos issues, though.

After the upgrade (via `apt-get dist-upgrade`) from 1.2.19 to 1.2.24, I've experienced weird behaviour of my existing keepalived configuration. Among others, these were the relevant lines from the l

[2018-10-04 15:03] pqarmitage commented on #1027
Commit c0f8c1a resolved this issue. This commit was first included in v1.4.0.

The problem only occurs with exit codes 2 and 3, and was caused by keepalived not distinguishing between the exit status of scripts and the exit status detected by the parent process of the vrrp and checker child processes.

[2018-10-04 15:03] #1027 closed

[2018-10-04 15:20] chr4 commented on #1027
Thanks for the quick response and explanation!

I was wondering, there's no official keepalived repository for Debian/ Ubuntu, right?
The current version of Ubuntu LTS (18.04) is still on v1.3.9 :(

[2018-10-10 08:28] yelongyu opened #1028 "Keepalived V1.3.5 empty LVS Topology output when start keepalived with --dump-conf"
### Description
I have a Mycat proxy running in k8s pod container which is the real service with real IP `10.244.3.65`, and it's VIP is `10.10.40.96`, when everything goes well, I can access to the service through `10.10.40.96:8066`, and now the problem that the VIP has configured to the network interface but can not access to the Mycat proxy service through `10.10.40.96:8066`, though the service

[2018-10-10 09:14] pqarmitage commented on #1028
I'm not quite sure what is happening at the moment, but if you can try the following and post the outputs requested, then we might be able to see a bit more.

1. On 10-10-40-200, can you stop keepalived and then start it again (i.e. not a reload) and post the logs of keepalived shutting down and also from starting up, and the output of `ipvsadm -L -n`, `ip a` and `ps -ef|grep keepalived` after kee

[2018-10-10 09:29] pqarmitage commented on #1028
In the output of `ipvsadm -L -n` on 10-10-40-200, at the end are the following lines:
[code]
which do not match any entries in the keepalived.conf file you have posted. Also, there are no entries in the ipvsadm output for virtual server 10.10.40.96, which is why you cannot connect to the MariaDB server on that address. So the question is, why do the ipvsadm entries not match the keepalived configu

[2018-10-10 12:32] yelongyu commented on #1028
Yes, I known that cannot connect to the Mycat proxy service is because there is no virtual server entries of `10.10.40.96` in the IPVS table, and that's also puzzled me that why the IPVS table is not match with the configuration. from the messages log we can see that there is no `------< VRRP Topology >------` output, is that means something?

I have checked the redundant output of `ipvsadm -L -n`

[2018-10-10 13:07] pqarmitage commented on #1028
@yelongyu I need the information I asked for at https://github.com/acassen/keepalived/issues/1028#issuecomment-428498630 in order to progress this further. What would be really useful is to see all of the keepalived logs since keepalived started on Sep 30, so that we can track though what happened since keepalived started up.

Re https://github.com/acassen/keepalived/issues/1028#issuecomment-42855

[2018-10-10 13:08] yelongyu commented on #1028
1. OK, I will do that later and post the logs.

is the way of stopping keepalived required? because the keepalived is running in container of k8s pod, once the main process of keepalived stopped, the k8s will restart it automatically. and I have once tried that, after restart the keepalived process the keepalived master role will transfer to another keepalived node, and the IPVS table will restore

[2018-10-10 13:19] yelongyu commented on #1028
I am so sorry, actually what I want to express is `------< LVS Topology >------`

[2018-10-10 13:20] pqarmitage commented on #1028
@yelongyu If you can provide all the logs of keepalived (from both -200 and -201) since keepalived started (i.e. Sep 30), then you don't need to do the stop and restart of keepalived.

[2018-10-10 14:34] senthilnathann opened #1029 "Keepalived reload not working"
Hi,

Keepalived reload not reflecting the configuration changes.

OS : Centos7.4
Keepalived version : 1.3.9

Pls help on this

[2018-10-10 14:38] TarAldarion commented on #1009
@acassen I was just wondering if you were still planning to push a release? No worries if it's not soon, I can patch my version and test the changes out. Cheers.

[2018-10-10 14:50] pqarmitage commented on #1028
Apparently the `kernel: traps: keepalived[15158] trap int3` is an indication of an assert failure. In the version of keepalived that you are using the assert message gets lost, so we can't determine where the assert failure occurred.

[2018-10-10 14:51] pqarmitage commented on #1029
Please provide
1. The output of keepalived -v
2. The configurations before and after the reload.

Once we have that information we can investigate the issue.

[2018-10-10 16:21] acassen commented on #1009
Yes, I am sorry :/ ... I have been rescheduled on some urgent matters, but I will certainly push a new release quickly.

[2018-10-11 02:17] yelongyu commented on #1028
the logs of Sep 30 have already been rotated : (
[code]

[code]

[2018-10-11 02:41] yelongyu commented on #1028
the following is what I found that there is no logs about `------< LVS Topology >------` since `Oct  9 17:07:44`

[code]

and in the the last `------< LVS Topology >------` output I found it just match the  `ipvsadm -L -n` output about above comment https://github.com/acassen/keepalived/issues/1028#issuecomment-428503444  , can these says that the IPVS table never changes since `Oct  9 17:07:44` ?

[2018-10-11 02:47] yelongyu commented on #1028
at that time I am debugging keepalived using `strace` and `lstrace`, I am not quite sure if the keepalived process terminated for what I do.

[2018-10-11 08:04] pqarmitage commented on #1028
Looking at the messages-20181010.1539113941.log file, at 18:39:02 on Oct 9 there was a reload which also did not output any LVS topology information. However, the keepalived reload log messages are followed by:
`Oct  9 18:44:55 10-10-40-200 rsyslogd: imjournal: 8029 messages lost due to rate-limiting`
which explains why the LVS topology information is missing. You haven't provided the full log fil

[2018-10-11 10:01] TarAldarion commented on #1009
Don't worry at all! Great, looking forward to testing it. Thanks.

[2018-10-11 10:42] pqarmitage commented on #1029
I have reproduced the problem with v1.3.9, but it has been fixed in the latest code. A git bisect shows that it was commit e875970 that resolved the problem. The first version of keepalived to include that commit was v2.0.6.

[2018-10-11 10:42] #1029 closed

[2018-10-11 11:05] yelongyu commented on #1028
here is the output when I do the reload(nothing changes to keepalived.conf):

[code]

* messages

[code]

[2018-10-11 11:30] pqarmitage commented on #1028
Since the keepalived configuration didn't change, keepalived didn't change the IPVS configuration.

That is why in https://github.com/acassen/keepalived/issues/1028#issuecomment-428860209 I wrote that you needed to edit the configuration file to add back 10.10.40.241 and remove 10.10.40.96, do a reload so that keepalived sees that has been a configuration change and will update the IPVS config, th

[2018-10-11 15:41] yelongyu commented on #1028
I have do as your guide by following steps:

1. re-add `10.10.40.241` and remove `10.10.40.96` in `keepalived.conf`
[code]

IPVS table before reload
[code]

2. reload `keepalived.conf` by sending SIGHUP to keepalived

[code]

seems like nothing changes to the IPVS table, but `10.10.40.241` configured to network interface

* `ip a`

[code]

* ping
[code]

* messages output
[code]

Seems like that t

[2018-10-12 01:41] yelongyu commented on #1028
hi, @acassen :

1. 1.3.5 is the latest version in my yum repo, and I will try the latest 2.0.x release later.
[code]

2. could you tell me why 1.3.5 is deprecated? and I wanna know why IPVS table can not be updated when reload `keepalived.conf` as what I described in above comment https://github.com/acassen/keepalived/issues/1028#issuecomment-429004866

[2018-10-12 03:51] yelongyu opened #1031 "Keepalived V2.0.7 compile error with debugging flags"
* source code commit id
[code]

* error messages
[code]

[2018-10-12 06:50] yelongyu commented on #1028
@pqarmitage

I restarted the keepalived, and following is the full output logs

* restart keepalived
[code]

* messages
[code]

after restart, everything seems ok.

[2018-10-12 08:32] #1031 closed

[2018-10-12 11:27] yelongyu commented on #1028
Hi, @pqarmitage :

1. the `kernel: IPVS: __ip_vs_del_service: enter` messages is because some of the virtual server in IPVS table did not exist in `keepalived.conf` at the time when I do the restart, then keepalived will remove it from IPVS table(delete virtual service).

2. I have already do as what you said in comment https://github.com/acassen/keepalived/issues/1028#issuecomment-429004866 (re-e

[2018-10-16 08:55] yelongyu commented on #1028
Hi, @pqarmitage :

I have re-producted the problem with the latest version of v2.0.7

* keepalived version
[code]

* conclusion

* keepalived processes status
40.200
[code]

40.201
[code]

40.156
[code]

* description

![image](https://user-images.githubusercontent.com/18714423/47002934-c0696b80-d160-11e8-8efc-e930ab10f0f2.png)

* messages logs

[40.156.messages.log](https://github.com/acassen/kee

[2018-10-16 10:46] pqarmitage commented on #1028
@yelongyu There appear to be a number of issues going on that are meaning we can't see the details of the underlying problems. Please bear in mind that I know nothing about Kubernates, so I having to make some assumprions.

1. **The redundant keepalived processes**. This appears to be an issue with kube-keepalived-vip. On 40.200 kube-keepalived-vip has started a second keepalived process when a pr

[2018-10-17 02:35] yelongyu commented on #1028
Hi, @pqarmitage:

thanks for your analysis, and I will check the `kube-keepalived-vip` logs. the following link is the full log since Oct 15, and the `keepalived.conf` has changed, so I can not get the origin `keepalived.conf`.

https://drive.google.com/drive/folders/1tAHrdOyTjY5cp7UwwLqmMX9tNU3nRE3G?usp=sharing

[2018-10-17 08:45] lukazivulovic opened #1033 "Syntax error when using include file in config"
**Description:**
When using include file for part of the configuration the syntax check throws out warnings. I'm trying to achieve having the same config on both machines with only having the symlink different. The amount of errors in the log differs every time keepalived is started.

**Log**
Keepalived[26629]: Starting Keepalived v2.0.7 (09/17,2018), git commit +
Keepalived[26629]: Running on Lin

[2018-10-17 08:57] pqarmitage commented on #1033
I will investigate this, but there is a simpler way to achieve what you are trying to do. Suppose the host names of your two systems are `master.domain.com` and `backup.domain.com`, then you could have
[code]
If it is inconvenient to use the host names, then the string to be compared against after the `@` sign can be specified on the command line, e.g. `-i master`.

[2018-10-17 10:52] pqarmitage commented on #1028
Unfortunately at the time that keepalived processes terminated the log files have messages:
`journal: Suppressed 49201 messages from /kubepods/besteffort` etc
so we can't see what was happening. It also suggests that something strange was happening on those systems at those times.

On 40.200 at 14:57:51 we can see that there were two keepalived vrrp processes running (PIDs 31 and 59), which, as I

[2018-10-17 20:16] tmcsween opened #1036 "Interface for vrrp_instance doesn't exist"
I have two vrrp instances but one of them fails with:
`WARNING - interface ens256 for vrrp_instance SdVip41 doesn't exist`

Keepalived version

[code]

Test configuration
[code]

Interface ens256

[code]
keepalived.conf
[code]

Kernel, number of ip links, and keepalived log
[code]

Here is the working interface on the same host

[code]

[2018-10-17 22:45] pqarmitage commented on #1036
Can you please post the output of `docker exec -it keepalived-s104 ip -d link show`.

Also, if you could add
[code]
to the configuration, then run keepalived in the container with the `-d` option, and post the output.

[2018-10-18 01:39] postren opened #1037 "keepalived-2.0.7 bfd bug"
keepalived-2.0.7/lib/scheduler.c **+1163** is
`thread_list_make_ready(&m->timer, t, m, t->type);`
m->timer pop and m->ready push

when a **THREAD_TIMER** thread by `thread_list_make_ready` push into `m->ready`, and `thread_cancel `it, will be at scheduler.c **+846**
`thread_list_delete(&thread->master->timer, thread);`
`m->timer` pop again, and thread is not belong to it.

keepalived will be **CRA

[2018-10-18 09:47] igregr opened #1038 "vrrp master ip address"
Would it be please possible to add also the master IP address to notification script? I would like to know what is the master ip address on a backup server. Or is it possible to find it in some other way (from backup server perspective)?

[2018-10-18 09:56] pqarmitage commented on #1036
If you compare the interfaces listed by keepalived compared to the output of ip -d link show, you can see that a large number of the interfaces are missing. This is a result of the
[code]
messages. Unfortunately there are two places, both in netlink_parse_info() that output the identical message. Can you try with the attached patch, which will at least tell us which of the two places in the code i

[2018-10-18 10:31] pqarmitage commented on #1038
kill -USR1 $(cat /var/run/keepalived.pid) will produce a file /tmp/keepalived.data. This will list the master router. Is that of any help to you?
[code]

I could have a think about adding state parameters for notify scripts, but we don't have the code to do that at the moment.

[2018-10-18 11:34] pqarmitage commented on #1037
As I understand it, what you are saying is that when thread_cancel() is called, it doesn't know whether the thread is on the unexpired timer list or the ready list.

Since v2.0.7 the code in this area has changed significantly, and it now uses red-black trees. The problem that you have described still exists, though.

I will have a look at the code and sort out a fix.

Many thanks for reporting th

[2018-10-18 11:46] igregr commented on #1038
Ah, great! Didn't know about this. It would be great if it could be also part of the notification scripts, but your solution works for me. Thanks.

[2018-10-18 11:46] #1038 closed

[2018-10-18 13:13] pqarmitage commented on #1037
On further investigation I have found that the problem has already been fixed in the latest code, since now threads of type THREAD_TIMER can only exist on the timer queue, and when they time out, the thread type is changed to THREAD_READY. I did find one instance of a thread type that could occur on a waiting queue and the ready queue, and that was THREAD_CHILD. Since that type of thread could nev

[2018-10-18 13:13] #1037 closed

[2018-10-18 17:27] florentfillion opened #1040 "Problem with use_vmac option in keepalived 1.3.2 on Debian Stretch"
Hi all,

I'm using keepalived version 1.3.2 in Debian Stretch to achieve VRRP functionality with two routers, one in MASTER mode and another in BACKUP mode.

I have a problem with use_vmac option.
When use_vmac option is disabled, it's works good, only MASTER router receive network traffic with virtual IP address. The BACKUP router is in standby and doesn't receive network traffic.

However when u

[2018-10-18 18:52] acassen commented on #1040
Hi, release 1.3.2 is deprecated, please consider upgrading to the last stable release available on website or pull current master branch on git repo.

regs,
Alexandre

[2018-10-18 19:06] tmcsween commented on #1036
Bouncing ens256 worked.

To be sure I was using the correct build, I modified both places:

[code]
Here is the log.

[code]

[2018-10-18 23:12] pqarmitage commented on #1040
A few pointers that may help you (they apply to both v1.3.2 and the latest version):

1. keepalived sets arp_ignore, arp_filter, accept_local and rp_filter as needed, so you don't need to use scripts to do it.
2. Try without `vmac_xmit_base`
3. Since ens256 has ip address 10.1.1.n/9, the subnet already exists, so the virtual_ipaddress should not duplicate the subnet, and should be 10.1.1.1/32 (/32

[2018-10-18 23:51] pqarmitage commented on #1036
That's really helpful for seeing how to investigate this further.  The MSG_TRUNC flag is being set, which I have never seen before, and I've run keepalived in an environment with over 1000 interfaces configured.

I'll look into producing a patch that processes as much of the returned netlink data as possible, and we can then see what, if any, interfaces are missing.

If anyone knows the reason why

[2018-10-19 08:09] pqarmitage commented on #1036
It appears that even with MSG_TRUNC we process as much of the data as possible.

Can you please try the attached patch, so we can see what size the receive buffer is, and what size netlink would like it to be.

Once you have the additional output produced by the patch, you could try increasing nlmsg_buf_size to the size indicated and see if that helps.
[msg_trunc1.patch.txt](https://github.com/aca

[2018-10-19 09:16] florentfillion commented on #1040
Thank you for your response.

I applied the pointers 2 and 3, no changes.
I will try to install the latest stable version.
The latest version is 2.0.7, is it compatible and stable for my linux kernel version ? (Debian Stretch)

uname -a :
Linux RTR-01 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9u6 (2018-10-08) x86_64 GNU/Linux

[2018-10-19 09:53] pqarmitage commented on #1040
We aim to support all kernel versions back to at least 2.6.15, so as far as is known keepalived should be stable on a 4.9 kernel.

[2018-10-19 13:35] tmcsween commented on #1036
With msg_trunc1.patch.txt, the VIP comes up

[code]

[2018-10-19 13:52] pqarmitage commented on #1036
I've found another comment in the kernel source that says that the buffer for a dump should be at least 16KiB. Can you please revert msg_trunc1.patch.txt and apply
[msg_trunc2.patch.txt](https://github.com/acassen/keepalived/files/2496085/msg_trunc2.patch.txt). I hope that this will stop the message truncated errors, and that the keepalived config output will list all the interfaces on your system

[2018-10-19 19:32] pqarmitage commented on #1036
I've now found a better way of setting the netlink receive buffer, setting it dynamically (it's how the ip utility does it). The main thing though is that you've shown that by having a suitable buffer size, then the problem is resolved.

I'll push the new code in a few minutes. It would be really good if you can test it and confirm it too works for you.

[2018-10-19 19:40] pqarmitage commented on #1036
Commit 4924610 is now merged and should resolve this problem.

[2018-10-20 04:13] tmcsween commented on #1036
That works as well.

[2018-10-22 01:19] postren opened #1042 "keepalived-2.0.8 crash, with bfd"
### keepalived version
http://www.keepalived.org/software/keepalived-2.0.8.tar.gz

### 172.168.10.90 keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id REDIS_HA
}

vrrp_instance RE_1 {
    state BACKUP
    interface ens33
    virtual_router_id 60

    priority 150
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipad

[2018-10-22 01:30] postren opened #1043 "keepalived 2.0.8 crash, with bfd"
### keepalived version
http://www.keepalived.org/software/keepalived-2.0.8.tar.gz

### 172.168.10.50 keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id REDIS_HA
}

vrrp_instance RE_1 {
    state MASTER
    interface ens33
    virtual_router_id 60

    priority 200
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipad

[2018-10-22 01:34] postren opened #1044 "keepalived 2.0.8 crash, with bfd"
### keepalived version
http://www.keepalived.org/software/keepalived-2.0.8.tar.gz

### 172.168.10.50 keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id REDIS_HA
}

vrrp_instance RE_1 {
    state MASTER
    interface ens33
    virtual_router_id 60

    priority 200
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipad

[2018-10-22 01:43] postren opened #1045 "keepalived 2.0.8 crash, with bfd"
### keepalived version
http://www.keepalived.org/software/keepalived-2.0.8.tar.gz

### detail in attach
[ccpp.tar.gz](https://github.com/acassen/keepalived/files/2499906/ccpp.tar.gz)

[2018-10-22 08:29] #1043 closed

[2018-10-22 08:30] #1044 closed

[2018-10-22 08:30] #1045 closed, assigned to nobody

[2018-10-22 09:13] pqarmitage commented on #1042
@postren Could you please provide the output of `keepalived -v` and also post /usr/local/bin/keepalived

[2018-10-22 12:37] pqarmitage commented on #1042
@postren I can reproduce the problem, although I have to suspend one of the keepalived bfd processes (with gdb) and then let it continue after a delay, and then _sometimes_ this problem occurs.

The problem is slightly related to your issue #1037, where you identified that **thread_cancel()** didn't know whether to remove the thread from the ready list or the timer rbtree.

In this case, for some

[2018-10-22 15:55] postren commented on #1042
@pqarmitage I run keepalived on two VMwares OS(CentOS 7.4), maybe CPU speed slow or else.
uses Above keepalived.conf, on two VMwares OS, a few minutes, keepalived bfd processes Crashed.
There are no other special processes.

[2018-10-22 16:48] pqarmitage commented on #1042
Commits 09a2a37 and 5afa062 should resolve your problem (I forgot to include a file in the first commit, hence the second commit). Commit 4ec7665 resolves a related issue.

I suspect that the reason you were experiencing the problem and I didn't is due to your VMs being relatively slow.

[2018-10-23 01:59] postren commented on #1042
It's ok now, thanks @pqarmitage

[2018-10-23 01:59] #1042 closed

[2018-10-23 12:41] ox123 commented on #996
- keepalive

 version as bellow
[root@iaas-haproxy02 ulb]# keepalived -v
Keepalived v1.2.13 (10/11,2016)

- keepalived.conf file
! Configuration File for keepalived

vrrp_script chk_http_port {
    script "/home/elb/keepalived/script/check_haproxy.sh"
    interval 2
    weight 2
}

                    vrrp_instance VI_1 {
            state BACKUP
	        interface eth0
	        virtual_router_id

[2018-10-24 00:53] pqarmitage commented on #996
Yes, you are correct. The notify scripts are run asynchronously; keepalived does not wait for the completion of one notify script before it runs another one. This means that notify scripts can execute concurrently, and so the sequence of the events being processed by notify scripts is non-deterministic.

It was for this reason that I added notify_fifos, which not only guarantees the ordered delive

[2018-10-24 15:03] ox123 commented on #996
Thank you for your reply, So if I upgrade to the nearest version,I can resolve this issues with the same notify_master/notify_backup/notify_fault or other method?

[2018-10-24 15:08] ox123 commented on #996
But now it is difficult for us to upgrade to the nearest version at least , because we have so many clusers distributed the whole world in the production env. is there any way to resolve this issues without upgrading the version? especially how to judge the master or backup of the keepalived node.

[2018-10-24 15:45] pqarmitage commented on #996
@ox123 If you upgrade, rather than using `notify_master`/`notify_backup`/`notify_fault`, you would use `vrrp_notify_fifo`. You will need to write a script/program to read the fifo, and keepalived can run that script if you use the `vrrp_notify_fifo_script` option. An example script is included at doc/samples/sample_notify_fifo.sh

Since the execution order of notify scripts is not guaranteed, usin

[2018-10-25 15:14] jsegitz opened #1048 "Dbus interface allows overwriting arbitrary files and insecure permissions are used"
Users can overwrite arbitrary files if PrintData or PrintStats is invoked and fs.protected_symlinks is 0

Reproducer:

As user:
[code]

As root:
[code]

/tmp/keepalived.data and /tmp/keepalived.stats is also created mode 666, so information can leak/be modified to/by unprivileged users

[2018-10-26 15:21] florentfillion commented on #1040
Hi, after applied the pointers 1,2,3 and installed the latests versions (2.0.7 and then 2.0.8), same problem, the BACKUP router receives packets addresses to 10.1.1.1 and others (any traffic passing through MASTER router).
Note that when keepalived process starts on the BACKUP router, the line "(GEST) removing VIPs." doesn't appear in journalctl (GEST is the instance which using use_vmac option).

[2018-10-26 19:33] pqarmitage commented on #1040
The difference in the journal between non vmac mode and vmac mode is that when you use vmac mode, you get the following log entry:
`oct. 26 14:52:59 RTR-02 kernel: device ens256 entered promiscuous mode`
I don't know why this is happening, but my guess is that because ens256 is in promiscuous mode, RTR-02 receives the ICMP echo request to 10.1.1.1, and it then forwards the packet to 10.1.1.1.

Do

[2018-10-29 13:53] ox123 commented on #996
@pqarmitage Thanks，  and now we are confused the switch of the master and backup, I do not why the cluster will do the master and backup switch except for the vrrp packet lost, But we are monitoring the transimit of the network packets and find no packets missing.

My question is when will the keepalived do the switch except for the vrrp packet lost? can you give me some ideas. Thanks

[2018-10-29 13:55] ox123 commented on #996
At now we setting  the advert_int value to 1s

[2018-11-01 00:31] pqarmitage commented on #1048
This is a good catch.

Commit c6247a9 (and 5241e4d) change the default umask to 022 (i.e. removing group and other write permission) and allow the umask both to be specified via a command line option `--umask=`, and in the configuration (global_defs option umask, which can be set symbolically). This seeks to allow backward compatibility as far as possible, while also allowing users who want more s

[2018-11-01 08:30] pqarmitage commented on #1028
@yelongyu Do you have any update on this, or can we close the issue?

[2018-11-02 16:14] pqarmitage commented on #1040
@florentfillion Do you have any updates on this or can we close the issue?

[2018-11-05 11:54] dzc15331066 opened #1054 "error occur when compile with header <netinet/in.h> without #define IP_MULTICAST_ALL"

[2018-11-05 13:05] pqarmitage commented on #1054
Looking at the latest code, so far as I can see all uses of IP_MULTICAST_ALL are protected by:
`#if HAVE_DECL_IP_MULTICAST_ALL`.

Could you please provide the following information so we can investigate this further:
1. Exactly what version of keepalived source code are you using
2. What Linux distro and version are you using
3. The full compiler error messages.

[2018-11-06 19:31] synfinatic opened #1055 "keepalived doesn't run notify_* scripts in order?"
I'm not not 100% sure what is going on, but I can see the results.  Basically, keepalived was supposed to run my notify_master script and then the notify_backup script in a very short period of time:

[code]

my keepalived.conf:
[code]

But the result is that either the backup ran before the master or the backup didn't run.  Which means my external systems end up thinking this node is the 'master'

[2018-11-06 19:32] synfinatic commented on #1055
Almost forgot:
[code]

[2018-11-06 20:53] pqarmitage commented on #1055
This is a known issue, and is an inevitable consequence of notify scripts being executed as soon as the triggering event occurs. It has been suggested that keepalived should wait for the execution of one notify script before it runs the next, but on a system with a large number of state transitions this isn't feasible.

It was for this reason that I implemented `notify_fifo` etc, where the order o

[2018-11-06 22:04] synfinatic commented on #1055
thanks!

[2018-11-07 01:57] dzc15331066 commented on #1054
I use Linux3.10.0 with glibc2.13, the script "configure" determines `HAVE_DECL_IP_MULTICAST_ALL`  with `<linux/in.h>`, but `vrrp_if.c`  include `<netinet.h>`, which does not define `IP_MULTICAST_ALL`   when using glibc2.13

[2018-11-07 09:01] #1055 closed

[2018-11-08 08:02] jsegitz commented on #1048
Thank you for the quick an complete fix. I asked MITRE for a CVE and they assigned three:
CVE-2018-19044 for https://github.com/acassen/keepalived/commit/04f2d32871bb3b11d7dc024039952f2fe2750306
CVE-2018-19045 for https://github.com/acassen/keepalived/commit/c6247a9ef2c7b33244ab1d3aa5d629ec49f0a067, https://github.com/acassen/keepalived/commit/5241e4d7b177d0b6f073cfc9ed5444bf51ec89d6
CVE-2018-1904

[2018-11-08 13:36] pqarmitage commented on #1054
Since the kernel has IP_MULTICAST_ALL we want to use the definition, but if we include linux/in.h when building keepalived we get compile failures due to conflicting definitions.

Commit 00e8b4d make configure create a definition for IP_MULTICAST_ALL using the value in linux/in.h if it is not defined in netinet/in.h.

[2018-11-08 13:40] darix opened #1058 "build fails with ipset 7.0"
https://build.opensuse.org/build/home:darix:playground/openSUSE_Tumbleweed/x86_64/keepalived/_log

[2018-11-08 13:42] pqarmitage commented on #1058
@darix Unfortunately when I try looking at the log file above, I get the error:
`anonymous_user(Anonymous user is not allowed here - please login):`

Could you please attach a copy of the log to this issue.

Many thanks

[2018-11-08 17:06] darix commented on #1058
https://files.nordisch.org/keepalived.openSUSE_Tumbleweed.x86_64.log.txt

[2018-11-09 09:29] BertrandGouny opened #1060 "fails to compile 2.0.9 on alpine"
Hello,
i can't compile keepalived on alpine :

[code]

command used :
[code]

[2018-11-09 10:15] mschneid opened #1061 "Keepalived v2.0.9 segmentation fault at termination"
We see segmentation faults in our syslog while the Keepalived is being terminated.

[syslog.txt](https://github.com/acassen/keepalived/files/2565441/syslog.txt)
[trace.txt](https://github.com/acassen/keepalived/files/2565442/trace.txt)

[2018-11-09 12:18] pqarmitage commented on #1060
Commit 1746fcb should resolve this.

[2018-11-09 12:18] #1060 closed

[2018-11-09 12:20] pqarmitage commented on #1061
Could you please provide a copy of your configuration file, and also which version of Ubuntu are you running on?

[2018-11-09 12:20] #1054 closed

[2018-11-09 12:38] pqarmitage commented on #1060
I'm about to push a commit that stops the compiler warnings on Alpine in vrrp_daemon.c

[2018-11-09 12:53] pqarmitage commented on #1060
Commit aa43dba resolves the compiler warnings in vrrp_daemon.c.

I get a <may be used uninitialiszed> in vrrp.c at line 809. Inspecting the code shows that it is initialised, and also later versions of gcc don't produce a warning on this line, so I'm not going to make an unnecessary initialisation just to keep the compiler quiet.

[2018-11-09 13:42] mschneid commented on #1061
We are running on Ubuntu 16.04 (Xenial) with kernel 4.4.0-133-generic #159-Ubuntu.

keepalived.conf
[code]

[2018-11-09 16:44] pqarmitage commented on #1061
@mschneid - is this happening repeatedly, or was this a one off occurrence?

[2018-11-09 21:12] mschneid commented on #1061
@pqarmitage It happens at every shutdown.

[2018-11-09 22:40] pqarmitage commented on #1061
@mschneid I've build keepalived v2.0.9 with your configuration options, albeit not on Ubuntu, and I don't get the segfault.

I will try building and running on Xenial, but it would also be helpful if you could try running the edge snap of keepalived, and report  whether you still get the same segfault, and if so which version of the snap you were using.

[2018-11-09 22:43] mschneid commented on #1061
I ran `git bisect` and it seems that the segmentation fault was introduced with https://github.com/acassen/keepalived/commit/5f818fb84172c8ec3c4ee96df5ddd11bd293bd5b

[2018-11-09 23:03] pqarmitage commented on #1061
That's really helpful finding the commit. I'll have a look at it tomorrow when I'm not so tired. It would still be helpful to know if you get the problem with the edge snap,

The log message `scheduler: No read thread bound on fd:13 (fl:0x0001)` seems to be the start of the problem. Could you also try running keepalived (a version which has the problem!) with the '-d' and '-D' options and post the

[2018-11-09 23:55] mschneid commented on #1061
I also get the segfault with the edge snap. The options `-d` and `-D` do not show much more information:
[code]

But if I start Keepalived without `--snmp`, the segfault is gone.

[2018-11-10 16:06] pqarmitage commented on #1061
@mschneid I cannot reproduce this problem, even on Xenial and using both the edge snap and a version of keepalived built with the same configure options you have used.

I have, however, found a problem that relates to thread handling when using SNMP, when the connection to the snmpd process dies. This is in commit 553fdaa, and it would be useful if you could try running with that patch in case tha

[2018-11-12 09:16] martinwilli commented on #1061
The issue seems to be related to SNMP socket communication while keepalived is shutting down. Likely that the reproduction is difficult if you have no/different communcation over that agentx socket.

The final problem is that no thread feels responsible about the SNMP socket during shutdown:
`scheduler: No read thread bound on fd:14 (fl:0x0001)`
The assertion that follows does not trigger in the n

[2018-11-12 16:13] pqarmitage commented on #1048
Commits ac8e2ef, 26c8d63 and 17f9441 should fully resolve CVE-2018-19046.

How do we get the information at MITRE regarding these CVEs updates to state that they are all now resolved?

[2018-11-13 15:22] BertrandGouny commented on #1060
Confirm this is fixed on 2.0.10 thanks a lot.

[2018-11-16 16:34] olivier-matz-6wind opened #1068 "advertisments not received with dynamic interfaces"
Hi,

I'm using dynamic interfaces mode. When keepalived daemon starts with no interface, the vrrp buffer is allocated with a size of 0.

From what I see, the reason is because in vrrp_complete_init(), vrrp->ifp->mtu is set to 0 for all instances. This results in having max_mtu_len == 0, and alloc_vrrp_buffer() is called with a size of 0.

It looks that alloc_vrrp_buffer() it is not called again on

[2018-11-19 12:30] pqarmitage commented on #1068
@olivier-matz-6wind Many thanks for reporting this and the analysis of the problem.

I have merged commit 59296f9 which should resolve the issue. There was the added complication of updating the kernel receive buffer size if the vrrp_rx_bufs_policy was set to MTU which I wanted to sort out at the same time.

[2018-11-19 12:30] #1068 closed

[2018-11-19 12:31] pqarmitage commented on #1068
@olivier-matz-6wind Many thanks for providing your patch. I confirmed I was looking at the right area.

It would be helpful if you could confirm if it works for you.

[2018-11-19 12:32] pqarmitage commented on #1040
Closing due to no response for over 2 weeks. If you have any updates on this issue, please add them to this issue report and we can reopen the issue if necessary.

[2018-11-19 12:32] #1040 closed

[2018-11-19 12:33] pqarmitage commented on #1028
Closing due to no response for over 2 weeks. If you have any updates on this issue, please add them to this issue report and we can reopen the issue if necessary.

[2018-11-19 12:33] #1028 closed

[2018-11-19 12:59] olivier-matz-6wind commented on #1068
It solves my initial issue, but it looks that the mtu is not updated when I change it.

Initial state, mtu is 2048:

[code]

Then, I change the mtu of wp and wi (the vlan interfaces below the vrrp):

[code]

The mtu is not updated in keepalived daemon, is it normal?

[code]

[2018-11-19 21:37] pqarmitage commented on #1068
Commit ba2bff1 adds support for handling MTU changes.

[2018-11-20 08:55] SjonHortensius opened #1071 "2.0.10 - double free or corruption (fasttop)"
Keepalived childs segfault while running (seemingly when the master forks). This can be reproduced by manually starting a second instance while keepalived is already running. It throws `double free or corruption (fasttop)`:

[code]

[2018-11-20 08:56] SjonHortensius commented on #1071
possibly related - I see threads with 100% cpu usage and unresponsive keepalived instances. Stracing them shows nothing, their /proc/x/stack contains `[<0>] 0xffffffffffffffff`

[2018-11-21 01:59] fanux opened #1074 "How to run keepalived on fortgroud?"
If I use -n flag, keep alived will not fork a child process and script check will not work. I want run keepalived in docker.

[2018-11-21 08:47] pqarmitage commented on #1074
I recommend you have a look at [osixia/docker-keepalived](https://github.com/osixia/docker-keepalived) for details of running keepalived in docker.

When running keepalived with the -n flag, keepalived does not do `chdir("/")`, and so if you are using relative path names, they need to be relative to where keepalived is run from rather than relative to /.

If you provide a copy of your configuratio

[2018-11-22 17:02] olivier-matz-6wind commented on #1068
Thanks @pqarmitage, I confirm the mtu is properly updated now in my use case.

[2018-11-23 03:05] fanux commented on #1074
[code]
[code]
My dockerfile:
[code]
supervisor conf:
[code]

[2018-11-23 03:07] fanux commented on #1074
I don't want to use supervisor at all. But if using -n flag, the check script not work, I don't know why...

[2018-11-23 15:59] pqarmitage commented on #1074
@fanux Could you please provide the output of `keepalived -v`.

Can you also try running keepalived not in a container and see if using the -n option works in that scenario.

[2018-11-27 09:01] SjonHortensius commented on #1071
thanks for your quick response. I omitted some details because I assumed missing configuration wouldn't lead to segfaults.

With this patch applied it still segfaults - and if I add `smtp_helo_name` explicitly it won't start at all. Here is the rest of my configuration file:

[code]

With smtp_helo_name added I get:

[code]

[2018-11-27 11:04] pqarmitage commented on #1071
Commit fccdeba resolves the segfault.

[2018-11-29 21:08] davidone opened #1076 "keepalived failover"
I am trying to have a active/passive haproxy pair for tcp (!http) traffic; I have the following setup:

1 vm - haproxy1 with haproxy and keepalived
1 vm - haproxy2 with haproxy and keepalived
1 vm - webserver with nginx serving a 10G file.bin
1 host - a windows 10 laptop with hyper-v and wsl

(all hosts are ubuntu 18.04.1)

haproxy[12] have three network interfaces:
- eth2: external (haproxy1: 172

[2018-11-30 12:05] pqarmitage commented on #1076
The problem is that when the wget process connects, it establishes a tcp connection to 172.18.18.10 on haproxy1, and haproxy1 establishes a tcp connection from 192.168.1.1 to 192.168.1.3. When keepalived is stopped on haproxy1 and haproxy2 takes over ip address 172.18.18.10, haproxy2 doesn't know anything about the two tcp connections that were established on haproxy1, and consequently although ha

[2018-11-30 12:15] davidone commented on #1076
Shouldn't:
[code]
taking care of syncing the forwarding table from MASTER -> BACKUP?

I understand that from a webserver point of view the new connection comes from a different IP address, I tried having a VIP to be used when haproxy[12] contacts the backend, it didn't work but I'll paste the config as well.

[2018-11-30 12:33] pqarmitage commented on #1076
I _think_ the lvs_sync_daemon only forwards the LVS (IPVS) mappings, and you are not using virtual_servers within your keepalived configuration.

The problem is that the TCP connections that are established initially are between the client and haproxy1 and between haproxy1 and the webserver. When keepalived is stopped on haproxy1, and the 172.18.18.10 and 192.168.1.10 ip addresses are removed, any

[2018-11-30 12:37] davidone commented on #1076
Uhm, OK.

Is there any other way I can achieve what I'm trying to do (seamlessy switch the master role to a backup node without impacting any reconnections on the client side)?

[2018-11-30 12:57] pqarmitage commented on #1076
Using NAT should be sufficient, along with using conntrackd. Both haproxy1 and haproxy2 should NAT 172.18.18.10 to 192.168.1.3. You don't need to use the haproxy program.

[2018-11-30 13:39] davidone commented on #1076
Thanks but what if I have many backends?

[2018-11-30 14:16] pqarmitage commented on #1076
Ah, that's a different problem. :)

The solution would be to use the LVS/IPVS functionionality of keepalived, but with some additional IP addresses.

Suppose you now have 4 web servers, web0 (192.168.1.3), web1 (192.168.1.4), web2 (192.168.1.5) and web3 (192.168.1.6). You need to assign a second IP address to each of them, let's say 192.168.2.3/24, 192.168.2.4/24 etc.

Your keepalived config now n

[2018-11-30 16:47] davidone commented on #1076
@pqarmitage that's a very interesting answer, will take few days to work on that.

Very thanks,
d.

[2018-12-03 15:43] davidone commented on #1076
I tried your suggestion, unfortunately it doesn't work. The client is always stuck at:
[code]

Does this involve any iptables NAT or other config?

Thanks,
d.

[2018-12-03 20:37] pqarmitage commented on #924
Support for nftables now added. This gives an improvement over using iptables/ipsets. When XDP support is available, that will provide another option.

[2018-12-03 20:37] #924 closed

[2018-12-05 08:49] mruncles opened #1078 "virtual route removed after releasing temporary taken backup vrrp_instance"
I' do not know if it is an expected behavior, but for me it looks weird/unpleasant.

Given:
xenial: 1.2.19/1.2.24
3 nodes with 3 vips
Еach vip has corresponding vvrp_instance with priorities that assign 1 vip per node. (configuration differ on nodes only by priorities)
Each vrrp_instance has virtual_address and virtual_routes (default route) directives to assign on public facing interface.
Public

[2018-12-05 08:56] pqarmitage commented on #1078
Can you please provide a copy of your configuration file to help us understand what is happening.

[2018-12-05 09:16] mruncles commented on #1078
[keepalived.conf.gz](https://github.com/acassen/keepalived/files/2648037/keepalived.conf.gz)

This is my configuration in testing environment on node3

This is what happens when I stop and start haproxy on node2 (log from node3)

02:53:21 fp3 Keepalived_vrrp[20482]: VRRP_Instance(vip6_2) Transition to MASTER STATE
02:53:21 fp3 Keepalived_vrrp[20482]: VRRP_Instance(vip6_2) Received higher prio adve

[2018-12-05 10:47] pqarmitage commented on #1078
The behaviour you are experiencing is what I would expect to happen. Each vrrp instance assumes that the ip addresses, routes and rules configured are unique to that instance. The error really lies in keepalived not reporting that it fails to add the second and third default routes.

There is a way around this, but the first version that supported it was v1.2.24. If you specify `metric nn` against

[2018-12-05 13:24] thresheek opened #1079 "FTBFS on SLES15, if.h namespace collision?"
When building current git (and 2.0.10 fwiw, didnt test earlier versions) on SLES15, the following error is seen:
[code]

The following patch seems to workaround the issue.  I'm not submitting as a PR since I have no idea if it's right or not:
[code]

glibc-2.26-11.8.x86_64, kernel is kernel-default-4.12.14-23.1.x86_64

Let me know if you need more information.

[2018-12-05 14:50] mruncles commented on #1078
Thanks, it helped a lot.

[2018-12-05 14:50] #1078 closed

[2018-12-05 16:34] pqarmitage commented on #1079
Can you try commenting out the `#include <net/if.h>` at line 31 of keepalived/include/vrrp.h and report back if that works.

[2018-12-05 17:48] thresheek commented on #1079
It does not help, same error with the following patch:
[code]

[2018-12-06 02:51] vadapalliravikumar opened #1080 "keepalived recv-q full and multiple masters in the cluster"
Sometimes, the recv-q of a keepalived raw socket becomes full. When this happens, if that keepalived is a master, it stops sending vrrp hellos (as seen from tcpdump). This leads to keepalived in another node becoming a master. Thereby leading to a state where there are 2 masters in the same cluster. Issue seen in both 2.0.8 & 2.0.10 but not consistently.

keepalived version: 2.0.8 & 2.0.10

Enviro

[2018-12-06 03:11] vadapalliravikumar commented on #1080
A workaround will unblock us for the moment. Please let me know if there is a workaround.

[2018-12-06 08:34] davidone commented on #1076
Any hint?

[2018-12-06 08:39] pqarmitage commented on #1076
Can you try the wget command on the web server itself, using the added local address, e.g. 192.168.2.3 - it might be that the web server isn't listening on that address.

It would also be helpful if you could try running tcpdump to see what is happening to the packets from wget.

[2018-12-06 11:59] pqarmitage commented on #1080
I think the cause and effect are the other way around from what you suggest. It looks to me as though this is the socket use for receiving (we have previously had problems with the receive queue filling up on the socket used for sending, but the receive buffer size on the send socket is now set much lower that the default 213312).

What I think is happening is that the keepalived process for some

[2018-12-06 12:13] davidone commented on #1076
A couple of updates. I am using Ubuntu 18.04 and keepalived from Ubuntu's repos is still at 1.39. I manually compiled a 2.0.10 version (to have vrrp_version 3).; nothing has changed after that.
I added a masquerade postrouting iptables chain with:
[code]

and it's now working properly.

I can easily switch from one host to the other and the wget isn't dropping the connection / stopping at all.

Tb

[2018-12-06 12:31] pqarmitage commented on #1079
I didn't notice your patch before. Yes that seems perfectly reasonable since the Linux headers have been modified so that if they are included after the glibc headers, they won't redefine the values (kernel commit 1575c09); this was first included in 4.4.11. So doing the test with net/if.h first followed by linux/if.h will not exhibit the collision problem, whereas the other way round will.

I hav

[2018-12-06 12:31] #1079 closed

[2018-12-06 12:56] thresheek commented on #1079
Many thanks!

[2018-12-06 13:36] pqarmitage commented on #1076
Many thanks for the update, and I'm glad something is now working for you.

In the ipvsadm(3) man page, it states:
_As  masquerading  is used as the forwarding mechanism in this example, the default route of the real servers must be set to the linux director, which will need to be configured to forward and masquerade packets. This can be achieved using the following commands:_
       _echo "1" > /

[2018-12-06 14:32] davidone commented on #1076
Actually I made it working using conntrackd.

This is my keepalived.conf:
[code]

where /etc/conntrackd/primary-backup.sh comes from /usr/share/doc/conntrackd/examples/sync/primary-backup.sh.

iptables rules are (/etc/iptables/rules.v4:
[code]

Now I'm able to switch between haproxy1 and haproxy2 properly.

Thanks for your help, I hope this can help others too.

[2018-12-07 19:09] vadapalliravikumar commented on #1080
keepalived config of the node from which the logs & tcpdump are captured (note that this node is different from the node whose config is shown in the 1st comment in this issue)

[code]

keepalived logs (without -d option). Will try to capture the logs with -d also.

[code]

keepalived conf
[code]

tcpdump shows 0 packets

[code]

[2018-12-10 10:09] igroost opened #1082 "The retry directive for MISC_CHECK checks does not work"
Hello!

We are trying to use the retry directive for configurations with MIC_CHECK checks, but the check is triggered only once, no matter what number is specified in retry. Judging by the manual for checks MISC_CHECK this directive is supported. Tried to specify the directive at the level of virtual_server, real_server and check, in all cases there is a single start of check then real_server is s